.section-header .slds-accordion__summary-heading{
    background-color: rgb(236, 235, 234);
    padding: 4px 10px;
    border-radius: 3px;
    font-weight: 600;
}

.sub-products-med-others{
    font-size:11px;
    margin-left: 1.5em;
}

.sub-products{
    font-size:11px;
    margin-left: 2rem;
}

.sec-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}
/* .border-bottom{
    border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
    padding-bottom: 2px;
    width:58%;
} */

.no-products{
    margin-top: -0.5rem;
    background-color: #0070d208;
    font-size: 11px;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 112, 210, 0.05);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.width-100 {
    width : 100px;
}

.width-85 {
    width: 85px;
}

.tieredBenefitsValue {
    text-align: right;
    width: 20%;
}

.tieredBenefitsLabel {
    width: 80%;
}

/* .left{
    width:50%;
    vertical-align: bottom;
} */

/* .right{
    width:50%;
    vertical-align: bottom;
} */

.border-bottom{
    border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
    padding-bottom: 2px;
    width:95%;
}

.border-bottom_new{
     border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
    padding-bottom: 2px;
}

.slds-table td{
    padding:1px 5px;
}

.left{
    width:50%;
    vertical-align: bottom;
    padding-right: 15px;
}

.right{
    width:50%;
    vertical-align: bottom;
    padding-left: 15px;
}

.grayOut{
    width: 95%;
    background: #f3f2f2;
    float: left;
    min-height: 25px;
    border-radius: 4px;
}

/* .slds-grid--vertical-align-center{
    align-items: baseline;
} */