.THIS .alignRight{
    text-align: right;
    padding-right: 0.5rem;
}
.THIS .removeBorder{
    border:none;
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}
.THIS .slds-card__header {
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.THIS .slds-table th{
    padding: .5rem;
    white-space: nowrap;
    position: relative;
}

.THIS .addBorderLeft{
    border-left: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderLeft:last-of-type{
	border-right: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderRight{
    border-right: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderBottom{
    border-bottom: 1px solid rgb(216, 221, 230);
}

.THIS .bold{
    font-weight: bold;
}

.THIS .align-center{
    text-align: center;
}

.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .d-inline-block{
   display: inline-block;
    max-width: 100%;
}
.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}
@media (min-device-width: 320px) and (max-device-width: 767px){
    .THIS .slds-section.slds-is-open.cClientSurveyResults{
        padding-bottom: 55px !important;
    }    
    .THIS .cClientSurveyResults .addBorderLeft {
        border-right: 1px solid rgb(216, 221, 230);
    }
}
@media (min-device-width: 768px) and (max-device-width: 991px){
    .THIS .slds-section.slds-is-open.cClientSurveyResults{
        padding-bottom: 55px !important;
    }
    
    .THIS .CSRDashboard{
        display: flex;
    }
    .THIS .CSRDashboard td{
        text-align: left !important;
    }
	.THIS .CSRDashboard td:first-child{
        width: 32%;
    }
    .THIS .CSRDashboard td:nth-child(2){
        width: 60%;
    }
    .THIS .addBorderLeft {
    	border-right: 1px solid rgb(216, 221, 230);
	}
}

@media (max-device-width: 1199px){
	.THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks{
      pointer-events: none;
    }
}