.THIS .header-color{
    background-color: rgb(234, 235, 236);
  }

.THIS .notbold{
    font-weight:normal
}
.THIS .alignRight{
    text-align: right;
    padding-right: 2.5rem;
}
.THIS .headerHeight{
   	padding-right: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.THIS .removeBorder{
    border:none;
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}

.THIS .slds-table th{
    padding: .5rem;
    white-space:normal;
    overflow-wrap:break-word;
    word-wrap:break-word;
    position: relative;
}

.THIS .addBorderLeft{
    border-left: 1px solid rgb(216, 221, 230);
}

.THIS .addBorderRightThick{
    border-right: 3px solid rgb(216, 221, 230);
}
.THIS .addBorderLeftThick{
    border-left: 3px solid rgb(216, 221, 230);
}
.THIS .addBorderTopThick{
    border-top: 3px solid rgb(216, 221, 230);
}
.THIS .addBorderBottomThick{
    border-bottom: 3px solid rgb(216, 221, 230);
}
.THIS .addBorderRight{
    border-right: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderBottom{
    border-bottom: 1px solid rgb(216, 221, 230);
}

.THIS .bold{
    font-weight: bold;
}
.THIS .align-center{
    text-align: center;
}
.THIS .subHeaderHeight{
    padding: 0px;
}

.THIS .tdBorderLeft td{
    border-left: 1px solid rgb(216, 221, 230);
}

.THIS .thBorderLeft th{
    border-left: 1px solid rgb(216, 221, 230);
}

.THIS .thBorderRightThick th{
    border-right: 3px solid rgb(216, 221, 230);
}
.THIS .hide {
    display: none;
}
.THIS .show {
    display: block;
}
.THIS .editMode {
    display: none;
}
.THIS .text-align-right{
    text-align: right;
}
.THIS .cursorPointer:hover {
    cursor: pointer;
}
.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .d-inline-block{
   display: inline-block;
    max-width: 100%;
}
.THIS .ml-auto{
    margin-left: auto;
}
.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}
.THIS .helptext .help-tooltip {
    max-width: 25rem;
    width: 25rem;
}
@media (min-width: 320px) and (max-width: 575px){
    .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    }
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
    	margin-left:auto;
        padding-right: 10px;
    }
    .THIS .slds-mobile--header .helptext{
        order: 1;
    }
    .THIS .slds-mobile--header .header-content{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .slds-mobile--header, .THIS .slds-mobile--header .header-content{
        margin-bottom: 0            
    }
    .THIS .slds-mobile--header{
        padding-bottom: 1rem;
    }
    .THIS .mobile-align-right{
        text-align: right;
    }
    .THIS .appletAddBtn{
        padding-right: 0.6rem;
    }
    .THIS .appletHeader{
        width:80%;
    }
    .THIS .display-right{
        float:right;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    }
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
        margin-left: auto;
    }
    .THIS .slds-mobile--header .helptext{
        order: 1;
    }
    .THIS .slds-mobile--header .header-content{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .slds-mobile--header, .THIS .slds-mobile--header .header-content{
        margin-bottom: 0            
    }
    .THIS .slds-mobile--header{
        padding-bottom: 1rem;
    }
    .THIS .button-alignment{
     	margin-left: auto;
    }
 	.THIS .mobile-align-right{
        text-align: right;
    }
    .THIS .appletAddBtn{
        padding-right: 0.6rem;
    }
    .THIS .appletHeader{
        width:80%;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
    	margin-left:auto;
        padding-right: 10px;
    }
    .THIS .display-right{
        float:right;
    }
}
@media (max-width: 767px){
    .THIS .table-alignment-mobile td:before{
        text-align: left;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .THIS .ml-sm-auto{
        margin-left: auto;
    }
}
@media (min-width: 992px){
    .THIS .pos-md-absolute{
        position: absolute;
    }
    .THIS .flex-lg-auto{
        flex: 1 0 auto;
    }
    .THIS .sorting-in-mobile{
        display: none;
    }       
}

@media (max-device-width: 1199px){
	.THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks {
      pointer-events: none;
    }
    .THIS .iosBottom{
        bottom: 65px;
        position: fixed;
    }
	.slds-section.ipadBottomIos.slds-is-open.THIS{
        padding-bottom: 120px !important;
    }
	.THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
	.THIS .save-cancel-bg .action{
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }    
    .THIS .save-cancel-bg .action:first-child{
        justify-content: flex-end;
    }
    .THIS .save-cancel-bg .action:last-child{
        justify-content: flex-start;
    }
    .THIS .cScroll-table{
        height: 100vh;
        padding-bottom: 140px;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .THIS .cScroll-table > *{
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
    }
     .THIS .actionButtons{
        left: 0;
    }
}
.THIS .cuf-scroller-inside{
    padding: none !important;
}
@media (min-width: 1200px){
    .THIS .applet-scrollable-table tbody{
        max-height: 198px;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
    }
    .THIS .applet-scrollable-table thead, .THIS .applet-scrollable-table tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
    }
    .THIS .applet-scrollable-table thead{
        width: 100%
    }
    .THIS .applet-scrollable-table-s thead {
        width: calc( 100% - 1.3em )
    }
    .THIS .slds-custom-table{
        display: block;
    }
     .THIS .md-modal-sm{
        width: 28%;
    }
    .THIS .sorting-in-mobile{
        display: none;
    }
}
.THIS input::-ms-clear{
    font-size: 12px;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 30px !important;
    }
    .THIS .cScroll-table{
        height: 85vh;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .THIS .sortEdit .actionButtonsWrapper{
        justify-content: center;
    }
    .THIS .sortEdit .actionButtonsWrapper > div.action{
        flex: 0 0 25%;
        max-width: 25%;
    }
}