.THIS .slds-button_brand {
    background-color: #0070d2;
    border-color: #0070d2;
}
.THIS .inverse {
    background: #061c3f;
    color: #fff;
}
.THIS.modal-content .uiInput--input.input  {
    min-height: 0;
}
.THIS.modal-content .data-table thead th {
    padding: .5rem .5rem .5rem .5rem
}
.THIS.modal-content .data-table thead th:first-child, .THIS.modal-content .data-table tbody th:first-child {
    padding-left: 1rem;
}
.THIS.modal-content .data-table thead th:last-child, .THIS.modal-content .data-table tbody th:last-child {
    padding-right: 1rem;
}
.THIS.modal-content .uiInput--checkbox input, .THIS.modal-content input.uiInput--checkbox {
    position: absolute;
    top: 0.2rem;
    left: 50%;
    transform: translate(calc(-50% + 0rem) , 0);
    opacity: 0;
    z-index: 100;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.THIS .txt-bold {
    font-weight: bold;
}
.THIS input[disabled]{
    cursor: not-allowed;
}
.THIS .uiInput--checkbox[type=checkbox][disabled] {
    background-color: rgb(236, 235, 234);
    border-color: #a8b7c7;
    cursor: not-allowed;
}
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link {
    color: #3b70d3;
}
@media (max-width: 767.98px) {
    
    .THIS .search-input--container {
        padding-right: 0;
    }
    .THIS .search-action--btn {
        margin-top: 0.5rem;
        margin-bottom: 1.05rem;
        text-align: right;
    }
    .THIS .send-email {
        max-width: 100%;        
        text-align: left;
    }
    .THIS .competitorTab {
        display: flex;
        flex-wrap: wrap;
    }
    .THIS .competitorTab .slds-tabs_default__item {
        flex: 0 0 100%;
        text-align: center;
    }
    .THIS .competitorTab .slds-tabs_default__item.slds-is-active {
        background: #4689ee;
    }
    .THIS .competitorTab .slds-tabs_default__item.slds-is-active a {
        color: #fff;
    }
    .THIS .search-section {
        flex-wrap: wrap;
    }
}
@media (max-width: 575.98px) {
    .THIS .data-table tbody tr th:first-child {
        flex-wrap: wrap;
    }
    .THIS .data-table tbody tr th:first-child:before {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .THIS .search-input--container, .THIS .search-action--btn {
        margin-bottom: 0.55rem;
    }
    .THIS .search-action--btn {
        margin-top: 0;
    }
    .THIS .competitorTab .slds-tabs_default__item {
        max-width: 50%;
    }
}
@media (max-width: 991.98px) {    
    .THIS .data-table tbody tr th {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .THIS .data-table tbody tr th .slds-checkbox_add-button {
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .THIS .competitorTab {
        overflow: auto;
    }
    .THIS .search-section {
        flex-wrap: wrap;
    }
    .THIS .send-email {
        margin-top: 0.55rem;
    }
}
@media (min-width: 1200px) {
    .THIS.modal-content {
        margin: -1rem;
    }
}