.border-bottom{
    border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
    padding-bottom: 2px;
    /* width:95%; */
}

.slds-table td{
    padding:1px 5px;
}

.left{
    width:50%;
    vertical-align: bottom;
    padding-right: 15px;
}

.right{
    width:50%;
    vertical-align: bottom;
    padding-left: 15px;
}