@media (min-width: 992px){
    .THIS .search-table thead th:first-child, .THIS .search-table tbody td:first-child, .THIS .search-table tbody th:first-child{
		padding-left: 1rem        
    }
    .THIS .search-table thead th:last-child, .THIS .search-table tbody td:last-child, .THIS .search-table tbody th:last-child{
		padding-right: 1rem        
    }
    .THIS .btn-icon-white svg{
        fill: #fff;
    }
    .THIS .account-modal__content{
        max-height: 100vh;
        overflow-y: hidden;
    }
    .THIS .account-modal__content .account-data_table {
        max-height: 54vh;
    }
}