.THIS .uiInputCheckbox:hover + .slds-checkbox_faux{
   /* background: rgb(234, 234, 234); */   
}
.THIS .uiInputCheckbox:hover{
    cursor: pointer
}
.THIS input.uiInput--checkbox[type=checkbox][disabled]:hover{
    cursor: not-allowed;
}

.THIS input.uiInput--checkbox[type=checkbox]:checked {
    position: absolute !important;
}
.THIS .slds-truncate{
    white-space: normal !important;
}