@media (min-width: 991.98px) {
    /* .THIS.opportunity-tab--wrapper .info {
    margin-bottom:0;
}*/
    .THIS .slds-data-table-container {
        height: 45vh;
    }
    .THIS .slds-data-table-container.no-edit {
        height: 54vh;
    }
    .THIS.opportunity-tab--wrapper .slds-data-table-container {
        height: 56vh;
    }
    .THIS .slds-data-table-container .slds-table .slds-cell-edit {
        padding-right: 1.2rem;
    }
    .THIS .data-table thead th:first-child a, .THIS .data-table tbody td:first-child, .THIS .data-table tbody th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child a, .THIS .data-table thead th:last-child, .THIS .data-table tbody td:last-child,.THIS .data-table tbody th:last-child {
        padding-right: 1rem;
    }
    .THIS .data-table thead th:first-child a.slds-cell-fixed {
        
    }
    .THIS th .no-hover:hover {
        background: transparent;
    }
    .THIS a.accordion-link, .THIS button.accordion-link {
        cursor: default;
    }
    .THIS button.accordion-link:focus {
        text-decoration: none;
    }
    .THIS .slds-table_bordered{
        border-collapse: collapse;
    }
}



/* for column tool tip */
   .THIS .th-tooltip{
       position: absolute;
       bottom: 100%;
       width: 12rem;
       /*height: 6rem;*/
       left: 50%;
       transform: translate(-50%, 0);
       opacity: 0;
       pointer-events: none;
       visibility: hidden;
       text-transform: none;
       font-weight: 400;
   }
   .THIS .has-tooltip:hover .th-tooltip{
       opacity: 1;
   pointer-events: auto;
   word-break: break-all;
   visibility: visible;
   white-space: normal;
   }

.THIS .slds-m-bottom_medium{
   margin-bottom: 0rem; 
}

.THIS .selectCustomClass {display: inline-block; width: 30%; margin-top: -0.7rem; }

.THIS .sales-th th{
    -moz-box-sizing: border-box!important;
    border-collapse: separate!important;
}
.THIS .sales-th{
     border-collapse: separate!important;
}