.slds-modal__container{
    width: 90% !important;
    max-width: 90% !important;
     pointer-events: none;
    
}
.custom-td-padding{
    padding-left: 1.5rem !important;
}

.custom-td{
    color: #00008b; 
    font-weight: bold;
     font-size: small;
}
.section-header
{
     color: #00008b; 
    font-weight: bold;
    font-size: small;

}
.value{
    font-size: small;
}
.blue-text {
  color: #00008b;
}
 .bold-text {
  font-weight: bold;
  font-family: "Times New Roman",  serif;
  font-size: 0.999rem ;
 }
 .normal-text{
     font-weight: bold;
     font-size: 0.800rem
 }
th, td {
        border: 1px solid grey;
}
.checkbox-container{
     display: flex;
}
.cramp-line{
    white-space: pre-wrap;
    line-height: 1.4;
}
td{
word-wrap: break-word;
white-space: normal;
}
.custom-th{
    word-wrap: break-word;
white-space: normal;
font-size: small;
padding-left: 0.5em;
}
.custom-th-wrap {
    white-space: normal;
    word-wrap: break-word;
}
.custom-colour{
     background-color: #182f88;
    color: white;
    font-weight: bold;
     font-size: 0.600rem;
}
.custom-background-colour{
    background-color: aqua;
}
.custom-background-colour:hover {
    background-color: aqua /* Ensure the background color remains the same on hover */
}