.layoutClass{
    width : 100%;
}

.slds-col-right {
    position: absolute;
    top: 0;
    right: 12px;
}

.layoutItemClass{
    width : 50%;
    padding : 30px;
}

.button-font{
    font-size: 13px;
}

.lookup-styles{
    margin-top: 1px;
    border: 1px solid black;
    border-radius: 4px;
}

p{
    min-height:30px;
}


.slds-accordion__section, .slds-accordion__summary{
    padding: 0.6rem 0.8rem;
}