.THIS .slds-card .slds-section__content {
    padding-top: 0;
}
.THIS .alignRight{
    text-align: right;
    padding-right: 0.5rem;
}
.THIS .removeBorder{
    border:none;
}
.THIS .label-normal {
    font-size: .8125rem;
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}
.THIS .slds-table th{
    padding: .5rem;
    white-space: nowrap;
    position: relative;
}
.THIS .slds-width_50{
    width:50%;
}
.THIS .slds-width_60{
    width:60%;
}
.THIS .slds-width_40{
    width:40%;
}
.THIS .addBorderLeft{
    border-left: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderLeft:last-of-type{
    border-right: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderRight{
    border-right: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderBottom{
    border-bottom: 1px solid rgb(216, 221, 230);
}
.THIS .bold{
    font-weight: bold;
}
.THIS .align-center{
    text-align: center;
}
.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .d-inline-block{
    display: inline-block;
    max-width: 100%;
}
.THIS .no_records{
    font-weight: bold;
    color: rgb(0, 109, 204);
}
.THIS .border-top_none{
    border-top: none;
}
.THIS .font-color_black{
    color:black;
    font-style: italic;
}
.THIS .instruction_Text{
    background: white;
    padding: 5px;
    padding-left: 8px;
    font-style: italic;
}
.THIS .font-bold{
    font-weight: 600;
}
@media (min-width: 320px) and (max-width: 767px){
    .THIS .slds-section.slds-is-open.cClientSurveyResults{
        padding-bottom: 55px !important;
    }    
    .THIS .cClientSurveyResults .addBorderLeft {
        border-right: 1px solid rgb(216, 221, 230);
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .THIS .slds-section.slds-is-open.cClientSurveyResults{
        padding-bottom: 55px !important;
    }
    
    .THIS .CSRDashboard{
        display: flex;
    }
    .THIS .CSRDashboard td{
        text-align: left !important;
    }
    .THIS .CSRDashboard td:first-child{
        width: 32%;
    }
    .THIS .CSRDashboard td:nth-child(2){
        width: 60%;
    }
    .THIS .addBorderLeft {
        border-right: 1px solid rgb(216, 221, 230);
    }
}
@media (min-width: 992px) {
    .THIS .data-table thead th:first-child, .THIS .data-table tbody th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child, .THIS .data-table tbody th:last-child {
        padding-right: 1rem
    }
}
@media (max-width: 991.98px) {    
    .THIS .data-table.slds-max-medium-table--stacked-horizontal th:before {
        color: rgb(0, 109, 204);
    }    
}
@media (max-width: 1199.98px) {
    .THIS.slds-section {
        margin: -1rem;
    }
    .THIS.slds-section .slds-card {
        border-radius: 0;
        border: none;
    }
}
@media (max-width: 991.98px) {
    .THIS .data-table thead tr th,
    .THIS .data-table tbody tr th {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (max-width: 575.98px) {
    .THIS .unet-market-popover {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
    }
    .THIS .unet-market-popover:before, .THIS .unet-market-popover:after {
        display: none;
    }
}
@media (max-device-width: 1199px){
    .THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks{
        pointer-events: none;
    }
}