.THIS .slds-customclass{
   /*padding:0.3rem;*/
   font-size: initial;
}
.THIS .iconEdit{
   /*color: rgb(224, 219, 219);*/
   opacity:0.3;
}
.THIS .slds-has-error{
   border-color: #c23934;
}
.THIS .slds-m-bottom_medium{
   margin-bottom: 0rem; 
}