:host{
    display: table-row;
}

.height {
    height : 20px;
}


.addVerticalLineStyle {
    vertical-align: bottom;
}

.addWordBreak {
    word-break: break-all;
}

.positionVerticalAlign {
    vertical-align: top;
}