.THIS div.no-label > label {
    display: none;
}
.THIS .slds-textarea[disabled] {
    cursor:default;
}
@media (min-width: 992px) {
    .THIS .alignDataCenter {
        text-align:center;
    }
}
@media (min-device-width: 320px) and (max-device-width: 1199px){
    .THIS .textarea-content-fix:before {
        top: 1px;
    }
    .THIS .textarea-content-fix:after, .THIS .textarea-content-fix-edit:after{
        bottom: 6px;
        border-bottom: 1px solid rgb(216, 221, 230);
    }
    .THIS .textarea-content-fix:before, .THIS .textarea-content-fix:after, .THIS .textarea-content-fix-edit:after{
        display: block;
        height: .5rem;
        background-color: #fff;
        position: absolute;
        left: 3px;
        width: 98%;
        content: '';
        z-index: 9;
    }
    .THIS .textarea-content-fix-edit:after{
        background-color: #fff;
    }
    .THIS .textarea-content-fix .slds-form-element__control textarea, .THIS input[type="text"]:disabled {
        -webkit-appearance: none;
        opacity: 1;
        color: #000;
        background: #fff;
        border: 1px solid rgb(216, 221, 230);
    }
    .THIS .textarea-content-fix-edit .slds-form-element__control textarea {
        box-shadow: none;
        -webkit-appearance: none;
    }
	.THIS .textarea-content-fix .slds-grow, .THIS .textarea-content-fix-edit .slds-grow{
        position: relative;
        z-index: 6;
    }    
}