/* .slds-float_right lightning-button{
    position: relative;
    top: 1.6em;
} */

.slds-clearfix .slds-float_left p{
    margin-right: 5px;
    vertical-align: middle;
}

.slds-clearfix .slds-float_left lightning-combobox{
    margin-left: 5px;
}

.slds-clearfix .slds-float_left p,
.slds-clearfix .slds-float_left lightning-combobox{
    display: inline-block;
}

/* table tbody tr th{
    max-width: 12rem;
}

table tbody tr td{
    max-width: 2rem;
} */

/* table tbody tr > :last-child{
    max-width: 10px;
} */

/* Utility */
.white-background{
    background-color: #fff;
}

.container{
    display: inline-block; 
    width: 100%; 
    min-height: 10vh;
}