.custom-container{
	color : black;
}

.sampleClass{
    font-size:11px;
}

.hidemodel{
    display: none;
}

.main-header{
    background-color:hsla(219, 49%, 67%, 0.79);
    display: flex;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 17px;
}

.left{
    width:50%;
    vertical-align: bottom;
    padding-right: 15px;
}

.border-bottom{
    border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
    padding-bottom: 4px;
}

.section-name{
    line-height: 30px;
    padding-left: 10px;
    border-radius: 3px;
    background-color: hsla(219, 49%, 67%, 0.79);
    font-weight: bold;
}

.question-name{
    line-height: 25px;
    border-radius: 3px;
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 10px;
    background-color: #f3f3f3;
    font-weight: bold;
}

.answer-class{
    margin-left: 10px;
    margin-right: 10px;
   /*  overflow-x: auto;  22/09*/
}

.other-info{
    line-height: 25px;
    border-radius: 3px;
    padding-left: 10px;
    background-color: #cce7ff;
    width: 100%;
    font-weight: bold; 
}

:host {
    --sds-c-textarea-sizing-min-height: 70px;
 }

.textCounter{
    position: absolute;
    bottom: 10px;
    right: 6px;
    padding: 0.1em 0.5em;
    color: #0070d2;
    font-size: 11px;
    border-radius: 2px 0 0 0;
    font-weight: 600;
}

.alternateMessageClass{
    text-align: center;
    font-size: 15px;
    padding-top:30px;
}

/* .overflow-scrollable{
    overflow-x: auto;
} */


.section-header{
  background-color:hsla(219, 49%, 67%, 0.79);
    display: flex;
    border-radius: 3px;
    font-weight: 800;
    height: 28px;
}


.highlight-question {
    border-left: 4px solid red;
    padding-left: 8px;
    background-color: #ffecec;
    border-radius: 6px;
    padding: 0.5rem;
    border: 2px solid #e60000;
}


.incomplete-warning {
    color: red;       
    font-weight: bold;    
    font-size: 14px;  
    text-align: center;
     margin-top: 12px; 
     margin-bottom: 4px; 
}


.custom-header {
    background-color: #28a745;
    color: white;
}

.slds-modal__footer .slds-button + .slds-button {
    margin-left: 0.5rem;
}


.slds-modal__content p {
    font-size: 0.9rem;
    line-height: 1.4;    
}


.slds-modal__container {
    max-width: 40rem;  
    width: 90%;        
}



.inline-input {    /* 22/09*/
    display: inline-block;
    width: auto;
    margin: 0;
}