.THIS .bold{
    font-weight: bold;
}

.THIS .mandatoryFields {
    border-color: rgb(194, 57, 52);
}
.THIS.error-msg {
    z-index: 9999;
}
.THIS.error-msg .error-popup {
    min-width: 20rem;
    max-width: 20rem;
}