/* .icon-container {
    display: flex;
    align-items: center;
} */

.main-container{
    width: 100%;
    border: 1.5px solid #ccc;   
    border-radius: 5px;
}

div.main-container div.slds-float_left{
    padding-top: 2.8px;
}

.main-container,
div.main-container div.slds-float_left p{
    display: inline-block;
}

.spinner-holder{
    position: relative;
}