.hidemodel{
    display: none;
}
.slds-button__icon {
    display: none;
}
.headingStyle { 
    padding: 0 !important; 
    border-top: none !important;
    width: 20%;
    padding: 8px; 
}
.FontSize{
    font-size: small;
}

.slds-tabs_default__item .slds-is-active  {
    font-size: large;
}
.aligntext{
    text-align: center;
    padding-left: 23%;
    font-size: large;
    font-weight: bold;
}