.THIS .slds-notify__close{
  float: right;
}
.THIS .s-modal{
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}
.THIS .slds-modal__content:last-child{
    height: auto;
    max-height: 83vh;
    overflow: auto;
}
.THIS.cAccounts_and_MembershipActivity .modal-body {
    max-height: 100%;
    overflow: initial;
}
.THIS .modal-ch-body, .THIS .modal-ch-footer{
    margin-left: -1rem;
    margin-right: -1rem;
}
.THIS .modal-ch-footer{
    margin-bottom: -1rem;
}
.THIS .s-modal.slds-modal__container {
    padding: 1.5rem 0;
}