.THIS div.slds-form-element.form-tooltip div.slds-popover{
    bottom: calc(100% + 13px);
    left: 50%;
    min-width: 16rem;
    transform: translate(-50%, 0);
    width: auto;
}
.THIS .slds-form-element.form-tooltip {
    display: inline-block;
}