.demo-main-content{
    height: 600px;
    background: #fff;
}

.gantt-demo-header{
    border-top: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

.gantt-controls {
    background-color: #f5f5f5;
    font-size:14px;
    list-style-type: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gantt-menu-item {
    display:inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: relative;
    overflow: visible;
    /*padding:0 10px;*/
}

.gantt-menu-item-right {
    float: right;
}

.gantt-menu-item img {
    margin-right: 8px;
    vertical-align: middle;
}

.gantt-menu-item a {
    display: block;
    cursor: pointer;
    color: #3d3d3d;
    text-align: center;
    line-height: 40px;
    padding:0 10px;
    text-decoration: none;
}

.gantt-menu-item a:hover {
    background-color: #e2e2e2;
}

.gantt-controls .gantt-controls{
    display: none;
}
.gantt-menu-item:hover .gantt-controls{
    display: block;
    left:0;
    padding: 5px 0;
    position: absolute;
    top:41px;
    z-index: 1;
}

.gantt-menu-item .menu-item-active{
    background-color: #dadada !important;
}

.gantt-menu-item .menu-item-disabled{
    color: #818181 !important;
    pointer-events:none;
}

.gantt-menu-item:hover .gantt-controls li{
    width:100%;
}
.gantt-menu-item:hover .gantt-controls a{
    white-space: nowrap;
    text-align: left;
}

.gantt-menu-item:hover .gantt-controls::before{
    position: absolute;
    top:-7px;
    width:100%;
    content:" ";
    height:10px;
    background: transparent;
    left:0;
    z-index: 1;
}

.gantt-menu-item-last {
    border-right: 1px solid #cecece;
}

.status_line{
    background-color: #0ca30a;
}


.gantt_grid_wbs{
    position: absolute;
}

.gantt_grid_scale{
    position: relative;
    z-index: 1;
}



.dnd_highlighter {
    position: absolute;
    height: 4px;
    width: 500px;
    background-color: #3498db;
}
.dnd_highlighter::before{
    background: transparent;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 3px solid #3498db;
    border-radius: 6px;
    content: "";
    line-height: 1px;
    display: block;
    position: absolute;
    margin-left: -11px;
    margin-top: -4px;
}

.gantt_drag_marker{
    opacity: 0.6;
}

.gantt_drag_marker.gantt_grid_resize_area{
    z-index: 1;
}

.gantt_parent_row{
    font-weight: bold;
}

.gantt_task_line div.gantt_side_content{
    bottom: 0;
}

.gantt-top-panel{
    position: relative;
    color: #fff;
    padding: 11px 16px;
    background: #3d3d3d;
}

.gantt-top-panel__btn{
    display: inline-block;
    color: #fff;
    padding: 7px 24px;
    text-decoration: none;
    border-radius: 20px;
    background: #2095f3;

    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -16px;
}

.gantt-top-panel__btn:hover{
    background: #03a9f4;
}

.gantt-top-panel__btn:focus{
    outline: none;
}

.gantt-top-panel__btn:active{
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
}