.THIS .slds-global-header_container{
	 position:static !important;
 }

.THIS .fixed-body-height{
   /*max-height: 190px;
   overflow: auto;*/
}

.THIS .slds-th__action{
    height: auto;
}

.THIS .scrollerSize{        
    height:auto;        
}
.THIS .uiScrollerWrapper{        
    height:auto;     
}
.THIS.modal-content{
    margin: -1rem;
}
@media (min-width: 320px) and (max-width: 991px) {    
	.slds-section.ipadbottom.slds-is-open.cConsultant_History_Modal{
        padding-bottom: 80px !important;
    }
    .THIS .ip-pad{
        padding-bottom: 80px;
    }
    .THIS .subHeaderHeight{
        padding-right: 0;
    }
    .THIS .subHeaderHeight .headerHeight{
        padding: 0.4rem 15px;
        padding-right:2rem;
    }
    .THIS .subHeaderHeight .headerHeight .widthForDesktop{
        align-items: center;
    }
    .THIS .ui-m-btn-group button:last-child{
        border-radius: 0.25rem;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .THIS .mb-ipad{
        margin-bottom: 75px !important;
    }
}
@media (min-width: 320px) and (max-width: 1199px) {
    .THIS .ShowFullListArticle{        
    }
    .THIS .spinner-md-d{
    }
}
@media (min-width: 1200px){
    .THIS .scrollerSize{
        overflow: auto;        
        height:auto;
        max-height:290px;
    }
    .THIS .uiScrollerWrapper{
        overflow: auto;     
        height:auto;
        max-height:290px;
    }    
}
@media (min-width: 320px) and (max-width: 575px){
    .THIS .spinnerScrollForBody {
        overflow: auto;
        max-height: 66vh;
    }
    
    .THIS .sinnerSection{
        min-height:66.2vh;
        height: 66.2vh;
        overflow: hidden;
    }
    .slds-section.ipadbottom.slds-is-open.cConsultant_History_Modal {
        padding-bottom: 0 !important;
        margin: 0;
        padding: 0px;
    }
    
}

@media (min-width: 320px) and (max-width: 575px){
    .THIS .consultant-modal-xs{
        padding-bottom: 0.35rem !important;
        padding: 0.35rem 15px;
    }
    .THIS .consultant-modal-xs .ShowFullListArticle{
        padding-top: 0;
    }    
}
@media (min-width: 1200px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
}
@media (min-width: 992px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
    .THIS .data-table thead th:first-child, .THIS .data-table tbody th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child, .THIS .data-table tbody th:last-child {
        padding-right: 1rem;
    }
}

@media (max-width: 1199px){
    
    .THIS .headerHeight{
        padding-top:3px;
        padding-bottom:4px;
    }
    
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: 11.5rem;
        top: 20%;
    }
    .THIS .help-tooltip{        
        left: calc(60% + 1px);
        -webkit-transform: translate(0, -18%);
        -ms-transform: translate(0, -18%);
        transform: translate(0, -18%);
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: 11.5rem;
        top: 20%;
    }
    .THIS .help-tooltip{        
        left: calc(100% + 5px);
        -webkit-transform: translate(0, -18%);
        -ms-transform: translate(0, -18%);
        transform: translate(0, -18%);
    }
}