.THIS input.uiInput--checkbox[type=checkbox][disabled].checkBox-ReadonlyColor {
    background-color: rgb(158, 162, 168);
}
.THIS span.checkbox-disabled:after{
    border-color: rgb(119, 120, 116) !important;
}