.THIS .status-reason-wrap{
    word-wrap: break-word;
    white-space: pre-line;
}
.THIS .calendarIconAlign{
     padding-left: .2rem;
}
@media (min-width: 1200px){
    .THIS .DateFieldAlignment{
        padding: .10rem !important;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .THIS .boxShadow{
       box-shadow:0px 0px;
    }
}