.THIS .alignRight{
    text-align: right;
    padding-right: 2.5rem;
}
.THIS .headerHeight{
   	padding-right: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.THIS .removeBorder{
    border:none;
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}

.THIS .slds-table th{
    padding: .5rem;
    white-space:normal;
    overflow-wrap:break-word;
    word-wrap:break-word;
    position: relative;
}

.THIS .addBorderLeft{
    border-left: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderRight{
    border-right: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderBottom{
    border-bottom: 1px solid rgb(216, 221, 230);
}

.THIS .bold{
    font-weight: bold;
}
.THIS .align-center{
    text-align: center;
}
.THIS .subHeaderHeight{
    padding: 0px;
}

.THIS .tdBorderLeft td{
    border-left: 1px solid rgb(216, 221, 230);
}

.THIS .thBorderLeft th{
    border-left: 1px solid rgb(216, 221, 230);
}
.THIS .hide {
    display: none;
}
.THIS .readMode {
    display: block;
}
.THIS .editMode {
    display: none;
}
.THIS .text-align-right{
    text-align: right;
}
.THIS .cursorPointer:hover {
    cursor: pointer;
}
.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .d-inline-block{
   display: inline-block;
    max-width: 100%;
}
.THIS .ml-auto{
    margin-left: auto;
}
.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}
.THIS .helptext .help-tooltip {
    max-width: 25rem;
    width: 25rem;
}