.THIS .close-btn-white svg{
    fill: #fff;
}
.THIS .modal-container--MA h2.title{
    font-weight: 500;
}
.THIS .modal-container--MA fieldset .slds-grid legend{
    margin: 0;
    font-size: 0.90rem;
    font-weight: 500;
}
.THIS .modal-container--MA fieldset .slds-form-element__control span.slds-radio:not(:last-child){
    margin-bottom: 0.25rem;
}
.THIS .slds-modal.QAModal--Container{
    top: 15%;
}
.THIS .search-icon{
	display: block;
    position: relative;
    height: 34px;
    width: 34px;
}
.THIS .search-btn{
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0px;
    top: 0;
    background: transparent;
    border: none;
}
.THIS .search-input{
    padding-right: 2.2rem;
}
.THIS .search-icon:after, .THIS .search-icon:before{
    content: '';
    position: absolute;
}
.THIS .search-icon:after{
	width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #b0adab;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-60%, -60%);
    -ms-transform: translate(-60%, -60%);
    transform: translate(-60%, -60%);
}

.THIS .search-icon:before {
	height: 10px;
    width: 2px;
    background: #b0adab;
    top: 50%;
    left: 65%;
    -webkit-transform: translate(10%, -42%) rotate(-45deg);
    -ms-transform: translate(10%, -42%) rotate(-45deg);
    transform: translate(0, 10%) rotate(-45deg);
    border-radius: 5rem;
}
.THIS .accName--ronly .search-input{
    background: #fff;
}
.THIS .accName--ronly .search-btn{
    border-left: 1px solid #a9b8c7;
    border-radius: 0 0.25rem 0.25rem 0;
    height: 36px;
}
@media (min-width: 1200px){ 
    
   .THIS .slds-modal__container {
        margin: 0 auto;
        width: 60%;
        max-width: 55rem;
        min-width: 20rem;
    }
}
.THIS .QAModal--Container .slds-grid legend {
    margin: 0;
    font-size: 0.80rem;
    font-weight: 500;
    color: rgb(22, 50, 92);
}