.slds-modal__container{
    width: 60% !important;
    max-width: 60% !important;
}
.slds-modal__content{
    padding-left: 7%;
    padding-right:7%;
}

.text-color{
    color :  #00008b;
    font-weight: normal;
}

lightning-dual-listbox ,
lightning-input, 
lightning-textarea {
    margin: 0 !important; 
    padding: 0 !important;
    line-height: 0.6; 
}
.test{
    padding-top:0;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
     margin:0
    }

.underline {
    border-bottom: 2px solid black; 
    display: inline-block;          
    min-width: 1px;                  
    padding-bottom: 2px;  
}
.text-black{
    color : black;
}
.custom-td{
    color: #00008b; 
    font-weight: bold;
     font-size: small;
    

}
.left-align-for{
    padding-left: 1rem; 
}
.section-header
{
     color: #00008b; 
    font-weight: bold;
    font-size: small;

}
.value{
    font-size: small;
    

}
.blue-text {
  color: #00008b;
}
 .bold-text {
  font-weight: bold;
  font-family: "Times New Roman",  serif;
  font-size: 0.999rem ;
 }
 .normal-text{
     font-weight: bold;
     font-size: 0.800rem
 }
th, td {
        border: 1px solid grey;
}
.checkbox-container{
     display: flex;
}
.cramp-line{
    white-space: pre-wrap;
    line-height: 1.4;
}
td{
word-wrap: break-word;
white-space: normal;
}
.custom-th{
    word-wrap: break-word;
white-space: normal;
font-size: smaller;
padding-left: 0.5em;
}
.custom-th-wrap {
    white-space: normal;
    word-wrap: break-word;
}
.custom-colour{
     background-color: #182f88;
    color: white;
    font-weight: bold;
     font-size: 0.600rem;
}
.custom-background-colour{
    background-color: aqua;
}
.custom-background-colour:hover {
    background-color: aqua 
}
.instruction-text {
    font-size: 12px;
    line-height: 1.2;
}