.THIS .text--lower {
    text-transform: lowercase;
}
.THIS .sec-header-visble{
    visibility: visible;
}
@media (min-width: 991.98px) {
    .THIS .data-table thead th:first-child, .THIS .data-table tbody th:first-child, .THIS .data-table tfoot th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child, .THIS .data-table tbody th:last-child, .THIS .data-table tfoot th:last-child {
        padding-right: 1rem;
    }
    .THIS .data-table tfoot th {
        border-top: 1px solid rgb(221, 219, 218);
    }
}
@media (max-device-width: 1199.98px) {
    .THIS button.action-bar-mobile {
        display: none;
    }
}
@media (max-width: 575.98px) {
    .THIS .component-card .component-header .help-tooltip {
        width: calc(100vw - 165px);
    }
}
@media (max-width: 767.98px) {
    .THIS .slds-m-sm-bottom_medium {
        margin-bottom: 1rem;
    }
    .THIS .form-group {
        background: rgb(243, 242, 242);
        border-top: 1px solid rgb(221, 219, 218);
    }
}
@media (max-width: 991.98px) { 
    .THIS .component-card .component-header h2 .slds-text-heading--small {
        font-size: 1.05rem;
        line-height: 1.65rem;
    }
    .THIS .component-card .component-header .help-tooltip {
        top: -6px;
        transform: translate(0, 0);
        right: calc(100% + 15px);
        left: inherit;
        width: calc(100vw - 135px);
    }
    .THIS .component-card .component-header .help-tooltip:before, 
    .THIS .component-card .component-header .help-tooltip:after {
        top: 12px;
        left: inherit;
        right: -0.5rem;
        margin-top: 0;
    }
    .THIS .text-sm-left {
        text-align: left;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .THIS .component-card .component-header .help-tooltip {
        top: -6px;
        transform: translate(0, 0);
        width: calc(100vw - 135px);
    }
    .THIS .component-card .component-header .help-tooltip:before, 
    .THIS .component-card .component-header .help-tooltip:after {
        top: 12px;
        margin-top: 0;
    }
}
@media (max-device-width: 1199.98px) {
    .THIS .cScroll-table{
        height: 100vh;
        padding-bottom: 140px;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (min-width: 1200px) {
    .THIS .table-tooltip .help-tooltip {
        top: calc(100% + 12px);
        right: calc(100% - 44px);
        left: auto;
        max-width: 20rem;
    }
    .THIS .table-tooltip .help-tooltip:before, 
    .THIS .table-tooltip .help-tooltip:after {
        left: auto;        
        right: 1.5rem;        
        top: -.5rem;        
        margin-right: -.5rem;
        margin-top:0;
    }
}