.sampleClass {
    font-size: 11px;
}

.pointer {
    cursor: pointer;
    text-align:center;
}

.pointerNotAllowed {
    cursor: not-allowed;
    text-align:center;
}

.table-width {
    width: 100%;
    table-layout: fixed; /* Fixed table layout */
    border-collapse: collapse; /* Optional: collapse table borders */
}

.table-header-text-wrap {
    white-space: normal;
}