.THIS .quick-link--item .slds-icon.tile-icon,
.THIS .quick-link--item .slds-icon.tile-icon .slds-icon {
    height: 40px;
    width: 40px;
}
.THIS .slds-icon.body-icon {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
}
.THIS .slds-icon-custom-custom102{
    height:42px;
    width: 42px;
}
.THIS .divHeightWidth {
    height:400px;
    width : 200px;
}
.THIS .clientmebership {
    margin-left: 28px;
}
.THIS .navigate {
    padding-left: 20px;
    font-size: 18px;
}
.THIS .fontbold {
    font-weight: bold;
}

.THIS .container{
    box-shadow: none  !important ;
     background-color: none  !important ;
    border-top: none !important ; 
    
}
.THIS .mailfont{
    font-size: 18px;
}
.THIS .quick-link--item {
    background: #fff;
}
@media (max-width: 767.98px) {
    .THIS .quick-link--content .quick-link--container:not(:first-child) {
        padding-top: 0;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .THIS .quick-link--content .quick-link--container:last-child {
        padding-top: 0;
    }
}
@media (min-width: 1200px) {
    .THIS .quick-link--item {
        max-width: 80%;
        margin: auto;        
    }
}
@media (max-width: 767.98px) {
    .THIS .quick-link--content {
        background: #fff;
    }
}
@media (max-width: 991.98px) {
    .THIS > .slds-card {        
        border: none;
        border-radius: 0;
    } 
    .THIS > .slds-card {
        margin-top: 0;
    }
    .THIS > .slds-card > .slds-card__body, 
    .THIS > .slds-card {
        margin-bottom: 0;
    }
}