.custom-container{
	color : black;
}


.sampleClass {
    font-size: 11px;
}

.pointer {
    cursor: pointer;
    text-align:center;
}

.pointerNotAllowed {
    cursor: not-allowed;
    text-align:center;
}

.table-width {
    width: 100%;
    table-layout: fixed; /* Fixed table layout */
    border-collapse: collapse; /* Optional: collapse table borders */
    white-space: normal;
}

.table-header-text-wrap {
    white-space: normal;
}


[data-fieldapi$="Incentive__c"] input::after {
    content: '%';
    position: absolute;
    right: 10px;
    color: #444;
}