.THIS .text-wrap {
    white-space: pre-line;
    word-wrap: normal;
}

.THIS .background{
    background: white;
}
.THIS .help-tooltip  {
    width: 30rem;
    max-width: 30rem;
}
.THIS .appletAddBtn{
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.THIS .appletAddBtn .uiButton, .THIS .appletAddBtn .button-icon{
    padding: 0 0.5rem;        
    border: none;
}
.THIS .appletAddBtn .uiButton:hover, .THIS .appletAddBtn .uiButton:focus, .THIS .appletAddBtn .button-icon:hover, .THIS .appletAddBtn .button-icon:focus{
    background: transparent;
}
.THIS .appletAddBtn .uiButton .slds-icon-text-default, .THIS .appletAddBtn .button-icon .slds-icon-text-default{
    fill: rgb(0, 112, 210);
}
.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}
.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .slds-file-selector__text{
    display:none;
}
.THIS .slds-modal__content .slds-input.input {
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}
@media (max-width: 767.98px) {
    .THIS .helptext {
        margin-left: auto;
    }
}
@media (min-width: 768px){
    .THIS .slds-medium-show {
        display: none;
    }
}
@media (min-width: 992px) { 
	.THIS .data-table thead th:first-child, .THIS .data-table tbody td:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child, .THIS .data-table tbody td:last-child {
        padding-right: 1rem;
    }
}