.THIS .form-btn{
    min-height: calc(2.125rem + 2px);
}
.THIS {
    margin-top: -1rem;
    margin-bottom: -1rem;
}
.THIS .text-wrap{
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
}
.THIS .modal-content {
    margin-left: -1rem;
    margin-right: -1rem;
}
.THIS .competitorTab .slds-tabs_default__item .slds-tabs_default__link {    
    white-space: pre-line;
    height: auto;
    line-height: 1.6rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.THIS .help-list{
    list-style: none;
    counter-reset: list;
}
.THIS .help-list li:before{
    content: "(" counter(list) ") ";
    counter-increment: list;
}
/*.THIS .focusTab {
    background:yellow;
}*/
@media (max-width: 575px){
    .THIS .tab-list ul li.slds-tabs_default__item{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .THIS .search-product .search-pdt-wrapper{
        padding: 1rem;
    }
    .THIS .search-product .search-pdt-wrapper .input-container{
        padding: 0 0 0.5rem;
    }
    .THIS .search-product .input-container .uiInput--input{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    .THIS .btn-wrapper{
        justify-content: flex-end;
    }
    .THIS .modal-body-padded{
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .THIS .product-table{
        
    }
}

.THIS .modal-body-padded{
    margin-left: -1rem;
    margin-right: -1rem;
}
.THIS .hidden-xs-up{
    display: none;
}
.THIS .form-btn{
    min-height: calc(2.125rem + 2px);
}
@media (max-width: 575px){
    .THIS .tab-list ul li.slds-tabs_default__item{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .THIS .product-table{
        
    }
    .THIS .hidden-xs-up{
        display: block;
    }
    .THIS .xs-title{
        border-bottom: 1px solid #e2e2e2;
    }
    .THIS .xs-title h1{
        font-size: 1.25rem;
        font-weight: 600;
        color: rgb(6, 28, 63);
    }
}
@media (max-width: 767px){
    .THIS .search-product .search-pdt-wrapper{
        padding: 1rem;
    }
    .THIS .search-product .search-pdt-wrapper .input-container{
        padding: 0 0 0.5rem;
    }
    
    .THIS .btn-wrapper{
        justify-content: flex-end;
    }       
    .THIS .uiInput--checkbox input,.THIS input.uiInput--checkbox{
        top: 2.25rem!important;
    }
}
@media (max-width: 991px){
    .THIS .modal-body-padded{
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .THIS .search-product .input-container .uiInput--input{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    
}
@media (min-width: 768px){
    .THIS .btn-wrapper .slds-button{
        min-height: calc(2.125rem + 2px);
    }
    .THIS .btn-wrapper > .slds-form-element:not(:first-child){
        margin-left: 0.35rem;
    }
}
@media (min-width: 992px){
    .THIS .product-table thead tr th, .THIS .product-table tbody tr td{
        padding: .5rem .5rem;
    }
    .THIS .product-table thead tr th{        		
        text-transform: uppercase;
        font-size: .75rem;
        background-color: rgb(250, 250, 249);
        position: relative;
        color: rgb(53, 53, 53);
        padding: .5rem .5rem .5rem 1.75rem;
        font-weight: 600;
    }
    .THIS .product-table thead tr th:first-of-type, .THIS .product-table tbody tr td:first-of-type {
        padding-left: 1.75rem;
    }
    .THIS .selected-pill{
        min-height: 0;
    }
    .THIS .modal-content .slds-card__footer{
        width: 100%;
        display: flex;
        border-top: 1px solid #dddbda !important;
        justify-content: flex-end;
    }
    .THIS .competitorTab li:first-child{
        padding-left: 1.75rem;
    }
    .THIS.modal-footer{
        border-top: 1px solid rgb(221, 219, 218);
        margin-left: -1rem;
        margin-right: -1rem;
        margin-bottom: -.75rem;
    }
}

.THIS .uiInput--checkbox input,.THIS input.uiInput--checkbox{
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translate(calc(-50% + 0.7rem) , 0);
    opacity: 0;
    z-index: 1000;
    width: 2rem;
    height: 2rem;
}
.THIS .slds-table th,.THIS .slds-table td{
    padding: .5rem .5rem .5rem 1.75rem;
}
.THIS .slds-pill_container_bare{
    flex-wrap: wrap;
}