.THIS .hideLabel label{
    display : none!important;
}

.THIS .slds-input-has-icon .slds-input__icon{
    top: 68%;
}

.THIS .uiInput{
    /*min-height: calc(2.125rem);*/
}

.THIS .uiButton{
    margin-top: -15px;
}

.THIS .uiInput--input{
    min-height: 0px;
}

.THIS .slds-section__title{
    background-color: YellowGreen;
    color: white
}
.THIS .slds-modal__header{
    /*background-color: OliveDrab;*/
    color: white
}
.THIS .uiInput--datetime .datePicker-openIcon{
    right: 0.2rem !important;
}