.THIS .alignRight{
    text-align: right;
    padding-right: 2.5rem;
}
.THIS .headerHeight{
   	padding-right: 0px; 
    padding-top: 0px;
    margin-bottom: 0px;
}

.THIS .removeBorder{
    border:none;
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}

.THIS .slds-table th{
    padding: .3rem;
    white-space:normal;
    overflow-wrap:break-word;
    word-wrap:break-word;
    position: relative;
}
.THIS .slds-form-element__label{
    display:none;
}
.THIS .addBorderLeft{
    border-left: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderRight{
    border-right: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderBottom{
    border-bottom: 1px solid rgb(216, 221, 230);
}

.THIS .bold{
    font-weight: bold;
}
.THIS .align-center{
    text-align: center;
}
.THIS .subHeaderHeight{
    padding: 0px;
}

.THIS .tdBorderLeft td{
    border-left: 1px solid rgb(216, 221, 230);
}

.THIS .thBorderLeft th{
    border-left: 1px solid rgb(216, 221, 230);
}
.THIS .hide {
    display: none;
}
.THIS .show {
    display: block;
}
.THIS .editMode {
    display: none;
}
.THIS .text-align-right{
    text-align: right;
}
.THIS .cursorPointer:hover {
    cursor: pointer;
}
.THIS .slds-media__body{
     	width: 200px;   
}

.THIS .inputRadioSize input[type=radio] {
    width: 15px !important;
    height: 15px !important;
}
.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .d-inline-block{
   display: inline-block;
    max-width: 100%;
}
.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}
.THIS .ml-auto{
    margin-left: auto;
}
.THIS .helptext .help-tooltip {
    max-width: 25rem;
    width: 25rem;
}
@media (min-device-width: 320px) and (max-device-width: 575px){
    .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    }
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
    	margin-left:auto;
        padding-right: 10px;
    }
    .THIS .slds-mobile--header .helptext{
        order: 1;
    }
    .THIS .slds-mobile--header .header-content{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .slds-mobile--header, .THIS .slds-mobile--header .header-content{
        margin-bottom: 0            
    }
    .THIS .slds-mobile--header{
        padding-bottom: 1rem;
    }
    .THIS .mobile-align-right{
        text-align: right;
    }
    
    .THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
    .THIS .appletAddBtn{
        padding-right: 0.6rem;
    }
    .THIS .appletHeader{
        width:80%;
    }
    .THIS .radio--size{
        width: 15px !important;
    	height: 15px !important;
    }
    .THIS .display-right{
        float:right;
    }
}

@media (min-device-width: 576px) and (max-device-width: 991px) {
    .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    }
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
    	margin-left:auto;
    }
    .THIS .slds-mobile--header .helptext{
        order: 1;
    }
    .THIS .slds-mobile--header .header-content{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .slds-mobile--header, .THIS .slds-mobile--header .header-content{
        margin-bottom: 0            
    }
    .THIS .slds-mobile--header{
        padding-bottom: 1rem;
    }
    .THIS .mobile-align-right{
        text-align: right;
    }
    .THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
    .THIS .appletAddBtn{
        padding-right: 0.6rem;
    }
    .THIS .appletHeader{
        width:80%;
    }
    .THIS .table-alignment-mobile td:before{
        text-align: left;
    }
    .THIS .radio--size{
        width: 15px !important;
    	height: 15px !important;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
    	margin-left:auto;
        padding-right: 10px;
    }
    .THIS .display-right{
        float:right;
    }
}

@media (min-device-width: 992px){
    .THIS .pos-md-absolute{
        position: absolute;
    }
    .THIS .flex-lg-auto{
        flex: 1 0 auto;
    }
}
@media (max-device-width: 767px){
    .THIS .table-alignment-mobile td:before{
        text-align: left;
    }    
}
@media (min-device-width: 576px) and (max-device-width: 767px){
    .THIS .ml-sm-auto{
        margin-left: auto;
    }
}

@media (min-width: 1200px){
   .THIS .applet-scrollable-table tbody{
        max-height: 250px;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
    }
    .THIS .applet-scrollable-table thead, .THIS .applet-scrollable-table tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
    }
    .THIS .applet-scrollable-table thead {
        width: calc( 100% - 1em )
    }
    .THIS .slds-custom-table{
        display: block;
    }
}

@media (min-width: 1200px){
    .THIS .applet-scrollable-table tbody{
        max-height: 200px;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
    }
    .THIS .applet-scrollable-table thead, .THIS .applet-scrollable-table tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
    }
    .THIS .applet-scrollable-table thead{
        width: 100%
    }
    .THIS .applet-scrollable-table-s thead {
        width: calc( 100% - 1.3em )
    }
    .THIS .slds-custom-table{
        display: block;
    }
    .THIS .md-modal-sm{
        width: 28%;
    }
}

.THIS input::-ms-clear{
    font-size: 12px;
}

@media (min-device-width: 320px) and (max-device-width: 767px){
    .THIS .show-md-down{
        display: block;
    }
    .THIS .show-md-up{
        display: none;
    }
    .THIS .appletAddBtn{
        display: flex;
        align-items: center;
    }
    .THIS .appletAddBtn .uiButton, .THIS .appletAddBtn .button-icon{
        padding: 0 0.5rem;        
        border: none;
    }
    .THIS .appletAddBtn .uiButton:hover, .THIS .appletAddBtn .uiButton:focus, .THIS .appletAddBtn .button-icon:hover, .THIS .appletAddBtn .button-icon:focus{
        background: transparent;
    }
    .THIS .appletAddBtn .uiButton .slds-icon-text-default, .THIS .appletAddBtn .button-icon .slds-icon-text-default{
        fill: rgb(0, 112, 210);
    }
    .THIS .help-tooltip{
        left: initial;
        right: calc(100% + 1px);
        -webkit-transform: translate(0, -46%);
        -ms-transform: translate(0, -46%);
        transform: translate(0, -46%);
    }
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: -.4rem;
    }
    .THIS .ui-m-btn button, .THIS .ui-m-btn button.uiButton{
        padding: 0.3rem 0.65rem;
    }
    .THIS .ui-m-btn button svg, .THIS .ui-m-btn button.uiButton svg{
       width: 20px;
    }
    .THIS .ui-m-btn button[disabled] svg, .THIS .ui-m-btn button.uiButton[disabled] svg{
       opacity: 0.5;
    }
    .THIS .ui-m-btn-group button, .THIS .ui-m-btn button.uiButton{
        border-radius: 0;
        margin-left: 0;
    }
    .THIS .ui-m-btn-group button:not(:first-child), .THIS .ui-m-btn button.uiButton:not(:first-child){
        border-left: 0px;
    }
    .THIS .ui-m-btn-group button:first-child, .THIS .ui-m-btn button.uiButton:first-child{
        border-radius: 0.25rem 0 0 0.25rem;
    }
    .THIS .ui-m-btn-group button:last-child, .THIS .ui-m-btn button.uiButton:last-child{
        border-radius: 0 0.25rem 0.25rem 0;
    }
    .THIS .d-inline-flex{
    	display: inline-flex;
	}
}

@media (max-device-width: 1199px){
	.THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks {
      pointer-events: none;
    }
    .THIS .iosBottom{
        bottom: 65px;
        position: fixed;
    }
	.slds-section.ipadBottomIos.slds-is-open.THIS{
        padding-bottom: 125px !important;
    }
	.THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
	.THIS .save-cancel-bg .action{
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }    
    .THIS .save-cancel-bg .action:first-child{
        justify-content: flex-end;
    }
    .THIS .save-cancel-bg .action:last-child{
        justify-content: flex-start;
    }
	 .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    } 
    .THIS .cScroll-table{
        height: 100vh;
        padding-bottom: 140px;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .THIS .cScroll-table > *{
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
    }
    .THIS .actionButtons{
        left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .THIS .sortEdit .actionButtonsWrapper{
        justify-content: center;
    }
    .THIS .sortEdit .actionButtonsWrapper > div.action{
        flex: 0 0 25%;
        max-width: 25%;
    }    
    
}
.THIS .cuf-scroller-inside{
    padding: none !important;
}
@media (min-width:992px) and (max-width: 1199px){
    .THIS .tbl-scroll table{
        width: 1300px;
    }
    .THIS .tbl-scroll{
        max-height: 58vh;
    }
    .THIS .cScroll-table{
        height: 76vh;
        margin-top: 0.8rem;
        padding-bottom: 0;
        overflow: hidden;
        overflow-y: hidden;
        -webkit-overflow-scrolling: auto;
    }
}