.THIS .avoid-click{
    pointer-events: none;
    padding-right: 2rem;
}
.THIS .inputToUpper{
    text-transform: uppercase;
}
.THIS .noedit-onlysearch{
    width: 2rem;
    height: 2.25rem;
    position: absolute;
    top: 0;
    line-height: 1;
    fill: #b0adab;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddbda;
    border-radius: 0 4px 4px 0;
    background: #fafafa;
}
.THIS .helptext .help-tooltip {
    width: 10rem;
    left: calc(100% + 2px);
}
.THIS .input-with-icon_right .slds-icon_container {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    line-height: 1;    
    right: 0.75rem;
}
.THIS .input-with-icon_right .slds-icon_container svg {
    fill: #b0adab;
}
.THIS .form-inline > div{
    display: inline-block;
}
.THIS .top-pagination{    
    border-left: 1px solid #dddbda;
}
.THIS .hidden-md-up{
    display: none;
}
.THIS .search-logic .uiButton{
    margin-top: 0;
}
.THIS .radio-btn .uiInput--radio input[type=radio]{
    vertical-align: middle;
    margin: 0 0.5rem;
}
@media (max-width: 991.98px){    
    .THIS .hidden-md-up{
        display: flex;
    }
    .THIS .p-md-0{
        padding: 0;
    }
    .THIS .search-logic{
        background: #f3f3f2;
        border-top: 1px solid #e2e2e2;
        padding: 0.75rem 1rem;
        align-items: center;
    }
    .THIS .hidden-md-down{
        display: none;
    }
    .THIS .dotsSpinnerContainer{
        position: fixed;
        left: 50%;
        top: 110px;
        transform: translate(-50%, 0);
    }
}
@media (min-width: 992px){
    .THIS th.cell-freeze, .THIS th.cell-freeze.slds-cell-shrink{
        position: absolute;
        width: 5rem!important;
        left: 0;
        top: auto;
        border-top: 1px solid #dddbda;
    }
    .THIS th.slds-cell-shrink.cell-freeze.cell-freeze-1, .THIS td.slds-cell-shrink.cell-freeze.cell-freeze-1{
        width: 12rem !important;
        position: absolute;
        left: 0;
    }
    .THIS th.cell-freeze.cell-freeze-2 {
        left: 15rem;
        width: 12rem !important;
    }
    
    .THIS th.cell-freeze.cell-freeze-4 {
        left: 12rem;
        width: 11rem !important;
    }
    .THIS .si input.uiInput--checkbox { 
        display: inline-block;
        margin-right : 5px;
    }
    .THIS th.cell-freeze.cell-freeze-3 {
        left: 15rem;
        width: 10rem!important;
        border-right: 2px solid rgb(216, 221, 230);
    }
    .THIS .table-scroll{
      /*  margin-left: 3rem;
        border-left: 319px solid #ffffff; */
    }
    .THIS .search-table .slds-truncate, .THIS .search-data .slds-truncate{
        white-space: nowrap;
    }
    .THIS .search-data th, .THIS .search-data td{
        height: 80px;
        padding: 0.25rem 0.5rem;
    }    
    .THIS .dotsSpinnerContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .THIS .search-data thead th.cell-freeze{
        margin-top: -1px;
    }
    .THIS .search-data tbody tr:last-child td.cell-freeze, .THIS .search-data tbody tr:last-child th.cell-freeze{
        border-bottom: 1px solid rgb(221, 219, 218);
    }
    .THIS .search-data tbody th.cell-freeze, .THIS .search-data tbody td.cell-freeze{
        height: 81px;
    }
    .THIS .search-data tbody .cell-freeze-1 > div{
        height: 100%;
    }
    
    .THIS .slds-card__header {
        padding : 0.75rem 1rem 0.8rem!important;
    }
    
    .THIS .slds-font-size{
    font-size: 0.9rem!important;
        
    }
}
.THIS th
{
    padding:0.25rem !important;
}
@media (min-width: 48em){
    .THIS.modal-sm .slds-modal__container{
        max-width: 20rem;
    }   
}
@media (max-width: 575.98px){
    .THIS .search-logic > div:not(:first-child) {
        margin-top: 1rem;
    }
}

/*UnderWriter Email sending Styles*/

.THIS .bold{
    font-weight: bold;
}

.THIS .mandatoryFields {
    border-color: rgb(194, 57, 52);
}
.THIS.error-msg {
    z-index: 9999;
}
.THIS.error-msg .error-popup {
    min-width: 20rem;
    max-width: 20rem;
}

.THIS .phoneWidth {
    width : 234px;
    margin-top : 4px;
}

.THIS .popup-padding {
    padding: 9rem 0 3rem;
}

.THIS .text_align{
    justify-content: flex-end;
    padding-right: 0;

}