.appletHeader{
	padding: .5rem .8rem;
}

.contentSection{
	padding-top:0px;
	position:relative;
}

.spinner{position:fixed;}

.links-and-texts{
	font-size: small;
}

.header-instruction{
	color: #207dc5;
}