.THIS .slds-truncate{
    white-space: pre-wrap;
}

.THIS .font-weight-bold{
    font-weight: 600;
}

.THIS .headerWrap{
    height:auto;
}

.THIS .slds-card__header {
    padding-top: 8px;
    margin-bottom: .2rem;
}

.THIS .slds-box {
    padding: 0rem;
    height: 50px;
}

.THIS .slds-box {
    border: 0px solid rgb(216, 221, 230);
}

.THIS .slds-section.slds-is-open .slds-section__content {
    padding-top: 0;
}

.THIS .slds-button:focus {
    box-shadow: 0 0 0px #0070d2;
}

.THIS .slds-card__header {
    margin-bottom: 0.20rem;
}

.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}

.THIS .flex-alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS .toggle {
    display: none;
}

.THIS .bold{
    font-weight: bold;
}

.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .nav-footer .slds-card__footer{
    border-top: 1px solid rgb(221, 219, 218);
    background-color: rgb(250, 250, 249);
    text-align: right;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

@media (min-device-width: 320px) and (max-device-width: 1199px){
    .THIS.slds-section.ipadbottom.slds-is-open{
        padding-bottom: 55px !important;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
   .cContact_Accounts .buttonShadowBorder{
        box-shadow:0px 0px 1px #0070d2 !important;
    }
}

@media (min-device-width: 1200px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
}

@media (min-device-width: 992px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
}

@media (min-device-width: 320px) and (max-device-width: 991px) {
    .THIS .dotsSpinnerContent .slds-spinner {
        position: static;
    }
}

@media (max-device-width: 575px){
    .THIS .headerHeight{
        flex-flow: column;
    }
     .THIS .headerHeight .sorting-in-mobile{
        margin-left: auto;
    }
}

@media (max-device-width: 1199px){
    .THIS .expand-in-mobile{
        display: none;
    }
}

.THIS .dotsSpinnerContainer{
    z-index: 9052;
}

/* Mobile Dock Footer Section */
@media (max-device-width: 1199px){
	.THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks {
      pointer-events: none;
    }
    .THIS .iosBottom{
        bottom: 65px;
        position: fixed;
    }
	.slds-section.ipadBottomIos.slds-is-open.THIS{
        padding-bottom: 120px !important;
    }
	.THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
	.THIS .save-cancel-bg .action{
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }    
    .THIS .save-cancel-bg .action:first-child{
        justify-content: flex-end;
    }
    .THIS .save-cancel-bg .action:last-child{
        justify-content: flex-start;
    }
}

.THIS .hide {
    display: none;
}

@media (min-device-width: 992px){
    .THIS .table-alignment-sort thead tr.empty-data th{
        padding: 0.55rem
    }
    .THIS .table-alignment-sort thead tr th:first-child a, .THIS .table-alignment-sort thead tr.empty-data th:first-child, .THIS .table-alignment-sort tbody tr td:first-child{
        padding-left: 1.2rem;
    }
}

.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}
@media (max-device-width: 767px){
    .THIS .main-section{
        margin-top: 0.85rem;
    }
    .THIS .main-section .slds-card__body{
        margin-bottom: 0;
    }
}

/* For helptext position on the applet*/
/* Desktop Devices */
.THIS .show-md-down{
    display: none;
}
.THIS .show-md-up{
    display: block;
}
.THIS .helptext.show-md-up, .THIS .helptext.show-md-down{
    margin-top: -2px;
}
.THIS .help-tooltip{
    left: calc(100% + 6px);
}
.THIS .help-tooltip:after, .THIS .help-tooltip:before{
    width: 0.8rem;
    height: 0.8rem;
    left: -0.4rem;
}


/* Mobile devices */
@media (min-device-width: 320px) and (max-device-width: 767px){
    .THIS .appletAddBtn{
        display: flex;
        align-items: center;
    }
    .THIS .appletAddBtn .uiButton, .THIS .appletAddBtn .button-icon{
        padding: 0 0.5rem;        
        border: none;
    }
    .THIS .appletAddBtn .uiButton:hover, .THIS .appletAddBtn .uiButton:focus, .THIS .appletAddBtn .button-icon:hover, .THIS .appletAddBtn .button-icon:focus{
        background: transparent;
    }
    .THIS .appletAddBtn .uiButton .slds-icon-text-default, .THIS .appletAddBtn .button-icon .slds-icon-text-default{
        fill: rgb(0, 112, 210);
    }
    .THIS .help-tooltip{
        left: initial;
        right: calc(100% + 1px);
        -webkit-transform: translate(0, -46%);
        -ms-transform: translate(0, -46%);
        transform: translate(0, -46%);
    }
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: -.4rem;
    }
    .THIS .ui-m-btn button, .THIS .ui-m-btn button.uiButton{
        padding: 0.3rem 0.65rem;
    }
    .THIS .ui-m-btn button svg, .THIS .ui-m-btn button.uiButton svg{
       width: 20px;
    }
    .THIS .ui-m-btn button[disabled] svg, .THIS .ui-m-btn button.uiButton[disabled] svg{
       opacity: 0.5;
    }
    .THIS .ui-m-btn-group button, .THIS .ui-m-btn button.uiButton{
        border-radius: 0;
        margin-left: 0;
    }
    .THIS .ui-m-btn-group button:not(:first-child), .THIS .ui-m-btn button.uiButton:not(:first-child){
        border-left: 0px;
    }
    .THIS .ui-m-btn-group button:first-child, .THIS .ui-m-btn button.uiButton:first-child{
        border-radius: 0.25rem 0 0 0.25rem;
    }
    .THIS .ui-m-btn-group button:last-child, .THIS .ui-m-btn button.uiButton:last-child{
        border-radius: 0 0.25rem 0.25rem 0;
    }
    .THIS .main-section{
        margin-top: 0.25rem;
    }
}
@media (max-device-width: 1199px){
    .THIS .show-md-down{
        display: block;
    }
    .THIS .show-md-up{
        display: none;
    }
}
@media (min-device-width: 768px) and (max-device-width: 1199px){
    .THIS .helptext.show-md-down{
        justify-content: flex-end;
        padding-right: 0;        
    }
    .THIS .appletAddBtn{
        flex: 0 0 auto;
    }
    
    .THIS .appletHeader{
        justify-content: space-between;
    }
}
@media (max-device-width: 1199px){
     .THIS .help-tooltip{
        left: initial;
        right: calc(100% + 3px);
        -webkit-transform: translate(0, -18%);
        -ms-transform: translate(0, -18%);
        transform: translate(0, -18%);
    }
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: -0.4rem;
        top: 22%;
    }
}