.border-bottom{
    border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
    padding-bottom: 2px;   
}

.width-47{
    width:28%;    
}
.width-5{
    width:5%;
    text-align: right;
}

.width-16{
    width: 16%;
    text-align: right;
}

.leve2-options-width {
    width: 25%;
    margin-right: 138px;
}

.width-24 {
    width: 24%;
}

.width-8 {
    width: 8%;
}

.left{
    width:50%;
    vertical-align: bottom;
    padding-right: 15px;
}

.right{
    width:50%;
    vertical-align: bottom;
    padding-left: 15px;
}

.leftPhs{
    width:50%;
    vertical-align: bottom;
}

/*.section-header-sub{
    padding-left: 0px !important;
}*/