.THIS .pdt-table thead th{
    white-space: pre-line;
}
.THIS .table-cust thead th, .THIS .table-cust tbody th, .THIS .table-cust tbody td, .THIS .tfoot-total td{
    padding: 0.55rem 0.5rem;
}
.THIS .table-cust thead th:first-child, .THIS .table-cust tbody th:first-child, .THIS .table-cust .tfoot-total td:first-child, .THIS .table-cust .tfoot-total th:first-child{
    padding-left: 1rem;
}
.THIS .table-cust thead th:last-child, .THIS .table-cust tbody td:last-child, .THIS .table-cust .tfoot-total td:last-child, .THIS .table-cust .tfoot-total th:last-child{
    padding-right: 1rem;
}
.THIS .table-cust thead th {
    font-weight: 600;
    font-size: 0.75rem;
}
.THIS .no-records{
    font-size: 0.85rem;
}
.THIS .tfoot-total td, .THIS .tfoot-total, .THIS .desc{
    background: #fafaf9;
}
.THIS h4.sub-title{
    font-size: 0.95rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    border: none;
}
.THIS .label-head{
    font-size: 0.9rem;
}
.THIS.section-container:first-child .slds-card__body{
    margin-bottom: 0;
}
.THIS .focusColor{
    background:yellow;
}
.THIS.section-container:not(:first-child){
    margin-top: 0;
}
.THIS .th-tooltip{
    position: absolute;
    bottom: 100%;
    width: 12rem;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    text-transform: none;
    font-weight: 400;
}
.THIS .has-tooltip:hover .th-tooltip{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.THIS .copyMedicalFontSize{
    font-size: 0.60rem
}
.THIS .help-text{
    border-top: 1px solid #dddbda;
}
@media (min-width: 992px){
    .THIS .tfoot-border-top td, .THIS .tfoot-border-top th{
        border-top: 1px solid #e2e2e2;
    }
}
.THIS .members-output {
    display: block;
    padding: 0 1rem 0 0.75rem;
    max-width: 220px;
}
.THIS div.soldRetMemColWidth {
    width:100px; 
}