.THIS .display{
    display:none;
}
.THIS .displayBlock{
    display:block;
}
.THIS .dropDownColor{
    fill:currentColor;
}
.THIS .borderRemove {
    border:none;
    width: 100%;
}
.THIS .slds-truncate{
    white-space: pre-wrap;
}

.THIS .slds-card__header {
    padding-top: 8px;
    margin-bottom: .2rem;
}

.THIS .slds-box {
    padding: 0rem;
    height: 50px;
}

.THIS .slds-box {
    border: 0px solid rgb(216, 221, 230);
}

.THIS .slds-section.slds-is-open .slds-section__content {
    padding-top: 0;
}
.THIS .slds-button:focus {
    box-shadow: 0 0 0px #0070d2;
}
.THIS .slds-card__header {
    padding-top: 0.20rem;
    margin-bottom: 0.20rem;
}
.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}
.THIS .flex-alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.THIS .toggle {
    display: none;
}
.THIS .bold{
    font-weight: bold;
}
.THIS .alignButtons {
    display : block;
}
@media (min-device-width: 320px) and (max-device-width: 575px){
    .THIS .slds-section.ipadbottom.slds-is-open.cAccountContacts{
        padding-bottom: 55px !important;
    } 
    
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
        
    }
    .THIS .slds-mobile--header .helptext{
        order: 1;
        margin-left:auto;
    }
    .THIS .slds-mobile--header .header-content{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .slds-mobile--header, .THIS .slds-mobile--header .header-content{
        margin-bottom: 0            
    }
    .THIS .slds-mobile--header{
        padding-bottom: 1rem;
    }
}

@media (min-device-width: 576px) and (max-device-width: 991px) {
    .THIS .slds-section.ipadbottom.slds-is-open.cAccountContacts{
        padding-bottom: 55px !important;
    } 
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
        margin-left:auto;
    }
    .THIS .slds-mobile--header .helptext{
        order: 1;
        margin-right: auto;
    }
    .THIS .slds-mobile--header .header-content{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .slds-mobile--header, .THIS .slds-mobile--header .header-content{
        margin-bottom: 0            
    }
    .THIS .slds-mobile--header{
        padding-bottom: 1rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation:Landscape){
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
        margin-left:auto;
    }
    .THIS .slds-mobile--header .helptext{
        order: 1;
        margin-right: auto;
    }
}

@media (min-device-width: 320px) and (max-device-width: 991px){
    .slds-section.ipadbottom.THIS{
        padding-bottom: 55px !important;
    }
}


@media (min-width: 992px) {
    .THIS .column-Header-text-padding {
        padding-left : 2rem;
    }
}

.THIS .slds-th__action{
    height: auto;
}

.THIS .flex-auto{
    flex: 1 0 auto;
}

@media (min-width: 1200px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
}
@media (min-width: 992px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 991px) {
    .THIS .dotsSpinnerContent .slds-spinner {
        position: static;
    }
}


.THIS .show-md-down{
    display: none;
}
.THIS .show-md-up{
    display: block;
}
.THIS .helptext.show-md-up, .THIS .helptext.show-md-down{
    margin-top: -2px;
}
.THIS .help-tooltip{
    left: calc(100% + 6px);
}
.THIS .help-tooltip:after, .THIS .help-tooltip:before{
    width: 0.8rem;
    height: 0.8rem;
    left: -0.4rem;
}

@media (min-device-width: 320px) and (max-device-width: 767px){
    .THIS .show-md-down{
        display: block;
    }
    .THIS .show-md-up{
        display: none;
    }
    .THIS .appletAddBtn{
        display: flex;
        align-items: center;
        padding-right: 0;
    }
    .THIS .appletAddBtn .uiButton, .THIS .appletAddBtn .button-icon{
        padding: 0 0.5rem;        
        border: none;
    }
    .THIS .appletAddBtn .uiButton:hover, .THIS .appletAddBtn .uiButton:focus, .THIS .appletAddBtn .button-icon:hover, .THIS .appletAddBtn .button-icon:focus{
        background: transparent;
    }
    .THIS .appletAddBtn .uiButton .slds-icon-text-default, .THIS .appletAddBtn .button-icon .slds-icon-text-default{
        fill: rgb(0, 112, 210);
    }
    /*
    .THIS .help-tooltip{
    left: initial;
    right: calc(100% + 1px);
    -webkit-transform: translate(0, -46%);
    -ms-transform: translate(0, -46%);
    transform: translate(0, -46%);
}
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
    left: initial;
    right: -.4rem;
}*/
    .THIS .ui-m-btn button, .THIS .ui-m-btn button.uiButton{
        padding: 0.3rem 0.65rem;
    }
    .THIS .ui-m-btn button svg, .THIS .ui-m-btn button.uiButton svg{
        width: 20px;
    }
    .THIS .ui-m-btn button[disabled] svg, .THIS .ui-m-btn button.uiButton[disabled] svg{
        opacity: 0.5;
    }
    .THIS .ui-m-btn-group button, .THIS .ui-m-btn button.uiButton{
        border-radius: 0;
        margin-left: 0;
    }
    .THIS .ui-m-btn-group button:not(:first-child), .THIS .ui-m-btn button.uiButton:not(:first-child){
        border-left: 0px;
    }
    .THIS .ui-m-btn-group button:first-child, .THIS .ui-m-btn button.uiButton:first-child{
        border-radius: 0.25rem 0 0 0.25rem;
    }
    .THIS .ui-m-btn-group button:last-child, .THIS .ui-m-btn button.uiButton:last-child{
        border-radius: 0 0.25rem 0.25rem 0;
    }
}

@media (max-device-width: 767px){
    .THIS .cuf-scroller-inside{
        padding: 0 !important;
    }
}
@media (max-device-width: 1199px){
    .THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks {
        pointer-events: none;
    }
    .THIS .iosBottom{
        bottom: 65px;
        position: fixed;
    }
    .slds-section.ipadBottomIos.slds-is-open.THIS{
        padding-bottom: 125px !important;
    }
    .THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
    .THIS .save-cancel-bg .action{
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }    
    .THIS .save-cancel-bg .action:first-child{
        justify-content: flex-end;
    }
    .THIS .save-cancel-bg .action:last-child{
        justify-content: flex-start;
    }
    .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    } 
    .THIS .cScroll-table{
        height: 100vh;
        padding-bottom: 140px;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .THIS .cScroll-table > *:not(.slds-card__header){
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
    }
    .THIS .actionButtons{
        left: 0;
    }
}

.THIS .hide {
    display: none;
}

.THIS .dotsSpinnerContainer{
    z-index: 9052;
}

@media (min-device-width: 320px) and (max-device-width: 1199px){
    
    .THIS .help-tooltip{
        left: initial;
        right: calc(100% + 3px);
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        transform: translate(0, -25%);
    }
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: -.4rem;
        top: 30%;
    }     
}

.THIS .slds-button:focus {
    box-shadow: none;
}


@media (max-device-width: 1199px){
    .THIS .show-md-down{
        display: block;
    }
    .THIS .show-md-up{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .THIS .helptext.show-md-down{
        justify-content: flex-end;
        
    }
    .THIS .appletAddBtn{
        flex: 0 0 auto;
    }
    
    .THIS .appletHeader{
        justify-content: space-between;
    }    
}

@media (max-device-width: 1199px){
    .THIS .action-bar-mobile{
        display: none;
    }
}

.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}