.slds-modal {
    display: block;
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    background: white;
    border-radius: 5px;
    z-index: 10000;
}