:host{
    display: table-row;
}

.fontColorAndSize {
    font-size: small;
    color: var(--lwc-colorTextError,rgb(194, 57, 52));
}

.backgroundColor {
    /*background-color: yellow; */
    border: 5px solid yellow; 
}

.addBorderTopBottom {
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
}

.addBorderLeft {
    border-left: 2px solid yellow;
}

.addBorderRight {
    border-right: 2px solid yellow;
}