.THIS .slds-notify__close{
  float:right;
}
.THIS .s-modal{
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}
.THIS .slds-modal__content:last-child{
    height: auto;
    max-height: 80vh;
    overflow: auto;
}