.THIS .RPPopupInstructionText{
    width:65%;
    padding-right:1%;
    display:flex !important;
}

.THIS .slds-form--inline .slds-form-element{
    display: flex !important;
}
.THIS.risk-modal-content {
    margin: -1rem;
}
.THIS .data-table tbody th .slds-form-element > label{
    display: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .THIS .rpform{
     	overflow: hidden;
    }
    .THIS .buttonShadowBorder{
        box-shadow:0px 0px 1px #0070d2 !important;
    }
}
@media (min-width: 320px) and (max-width: 991px) {    
    .THIS.slds-section.ipadbottom.slds-is-open{
        padding-bottom: 55px !important;
    }
    .THIS .RPPopupInstructionText{
        text-align : justify;
    }
    .THIS .addRiskClass{
        margin-top: 5px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation:Landscape){
    .THIS .RPPopupInstructionText{
        text-align : justify;
    }
    .THIS .btnAlign{
        width: 44% !important;
    }
    .THIS .btnAlign1{
        align-self: center;
    }
}


.THIS .slds-card__header {
    padding-top: 8px;
    margin-bottom: .2rem;
}

.THIS .slds-box {
    padding: 0rem;
    height: 50px;
}

.THIS .slds-box {
    border: 0px solid rgb(216, 221, 230);
}

.THIS .slds-section.slds-is-open .slds-section__content {
    padding-top: 0;
}
.THIS .slds-button:focus {
    box-shadow: 0 0 0px #0070d2;
}
.THIS .slds-card__header {
    padding-top: 0.20rem;
    margin-bottom: 0.20rem;
}
.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}
.THIS .slds-card__footer {
    padding-bottom: 0.25rem !important;
}
.THIS .generalPadding{
    padding-left: .25rem !important;        
    padding-top: .1rem !important;
}
.THIS .buttonPadding{
    padding-top:5px;
    padding-bottom:5px;
}

.THIS .generalPaddingComments{
    padding-left: .25rem !important;        
    padding-top: .1rem !important;
    padding-bottom: .25rem !important;
}
@media (min-width: 992px){
    .THIS .data-table thead th:first-child, .THIS .data-table tbody th:first-child{
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child, .THIS .data-table tbody th:last-child{
        padding-right: 1rem;
    }
}