.THIS .userList .slds-card__header .slds-card__footer{
    padding: 0;
    margin-bottom: 0;
}
.THIS .userList{
    margin: -1rem;
}
.THIS .data-table thead th:first-of-type, .THIS .data-table tbody th:first-of-type, .THIS .slds-card__header.search-item {
    padding-left: 1rem;
}
.THIS .data-table thead th:last-of-type, .THIS .data-table tbody th:last-of-type, .THIS .slds-card__header.search-item {
    padding-right: 1rem;
}
.THIS .modal-footer {
    background: #f3f2f2;
    border-top: 1px solid #e2e2e2;
}
@media (max-width: 991px) {
    .THIS .loading-Position {
        position : fixed;
    }
}
@media (min-width: 1200px) {
    .THIS .scrollerSize{
        overflow: auto;        
        height:auto;
        max-height:350px;
    }
    .THIS .uiScrollerWrapper{
        overflow: auto;     
        height:auto; 
        max-height:350px;
    }  
    .THIS .pr-xl-1{
        padding-right: 1rem;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .THIS .account-team--popup{
        flex-wrap: wrap;
    }
    .THIS .account-team--popup > div:last-child{
        margin-left: initial;
    }
    .THIS .account-team--popup > div:nth-child(5){
        margin-left: auto;
    }
    .THIS .account-team--popup > div:nth-child(5), .THIS .account-team--popup > div:nth-child(6), .THIS .account-team--popup > div:nth-child(7){
        padding-top: 0.75rem;
    }
    .THIS .prev-btn .slds-card__footer, .THIS .mt-md-0, .THIS .prev-btn button.uiButton{
        margin-top: 0;
    }
    .THIS .seperator-md{
        border-right: 1px solid #eaeaea;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .THIS .account-team--popup{
        flex-wrap: wrap;
    }
    .THIS .account-team--popup > div:last-child{
        display: inline-flex;
        flex: 1 0 auto;
        align-items: center;
        justify-content: flex-end;
        padding-top: 0.75rem;
    }
    .THIS .headData th:first-child{
        width:100px;
    }
    .THIS .prev-btn button.uiButton{
        margin-top: 0;
    }
}
@media (min-width: 320px) and (max-width: 1199px) {
    .slds-section.ipadbottom.cNationalAccountSalesTeam_AddPopUp {
        padding-bottom: 65px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation:Landscape){
    .THIS .loading-Position {
        position : fixed;
    } 
}
/*
* Go Clear Buttons UI fix in Mobile devices - START
*/ 
@media (min-width: 320px) and (max-width: 575px){
    .THIS .uiInputSelect .uiMenuList{
        flex-wrap:wrap;
    }
    .THIS .search-align{
        width: 100%;
        padding-top: 1em;
        
    }
    .THIS .last-align{
        padding-right:5px;
        width:50%;
        margin-right:0;
    }
    .THIS .begin-align{
        width:50%;
        margin-right:0;
    }
    .THIS .input-align{
        width:100%; 
        margin-right:0;
        
    }
    .THIS .go-btn{
        margin-right: 5px;
        margin-bottom:1em;
    }
    .THIS .clr-btn{
        margin-bottom:1em;
    }
    .THIS .prev-btn{
        /*margin:0;
        margin-left:5px;
        margin-bottom:1em;*/
    }
    .THIS .nm-wdt{
        width:100%;
        margin-right:0;
    }
    .THIS .input-align .nm-wdt{
        margin-top:.75rem;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .THIS .last-align ,.THIS .begin-align, .THIS .input-align{
        width:auto;
    }
    .THIS .input-align{
        margin-right:4em;
        width:40%;
    }
    .THIS .go-btn , .THIS .clr-btn{
        margin-top:.75rem !important;
    }
    .THIS .uiInputSelect .uiMenuList{
        flex-wrap:wrap;
    }
    .THIS .search-align{
        width: 100%;
    }
    
    .slds-section.ipadbottom.cNationalAccountSalesTeam_AddPopUp{
        padding-bottom: 65px !important;
    }
    .THIS .prev-btn{
        margin:0;
    }
    .THIS .go-btn{
        margin-left:auto;
    }
}
/*
* Go Clear Buttons UI fix in Mobile devices - END
*/