.THIS .risen .slds-form-element__label, .THIS .risen .form-element__label {
    padding-left: 1rem;
    display: inline-block;
}
.THIS .form-footer{
    z-index: 99;
}
.THIS .risen .top-padding {
    padding-top: 20px;
}
.THIS .risen .slds-form-element__control.slds-grid{
    padding: 0 1rem;
}
.THIS .error-tooltip{
    opacity: 1;
    display: block;
    z-index: 1;
    position: absolute;
    visibility: visible;
    top: initial;
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translate(-50%,0);
    text-align: left;
}
.THIS .error-tooltip .pointer{
    position: absolute;
    left: 50%;
    top: initial;
    bottom: -10px;
    transform: translate(-50%, 0) rotate(45deg);
    border-left: none;
    border-top: none;
}
.THIS .hide{
    display:none;
}
.THIS.view-record--link {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 0.85rem;
}
@media (max-width: 575px){
    .THIS .risen .kanban-branch{
        width: 85%;
    }
    .THIS .mr-xs-0{
        margin-right: 0;
    }
    .THIS .ml-xs-0{
        margin-left: 0;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .THIS .error-tooltip, .THIS .error-tooltip .pointer{
        top: inherit;
    }    
}

.THIS li button.slds-button.slds-progress__marker{
    cursor: not-allowed;
}
.THIS .risen li button.slds-button.slds-progress__marker{
    cursor: pointer;
}
@media (min-width:992px){
    .THIS .risen .kanban-container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.THIS .footer{
    z-index: 99;
}
.THIS .slds-textarea:focus, .THIS .slds-textarea:active {
    box-shadow: none;
}
/** Ghanshyam C start */
.THIS .pos-right{
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 999;
}