.THIS .buttonDefaultWidth {
    width: 50px;
    padding-left: 1px;
    padding-right: 1px;
}

@media (min-width: 320px) and (max-width: 768px){
    .THIS .slds-p-left_x-large{
        padding-left: 0px;
    }
}