.THIS input.uiInput--checkbox[type=checkbox][disabled].checkBox-ReadonlyColor {
    background-color: rgb(158, 162, 168);
}
.THIS .selectedRole-Bgk{
    background-color: #f1f1f1;
}
.THIS .alignDateField {
    padding-left: 0.2rem;
}
.THIS .delete-btn {
    font-size: 2rem;
}
.THIS .slds-width_20{
    width:10%;
}
.THIS .slds-width_80{
    width:90%;
}
.THIS .search-icon{
	display: block;
    position: relative;
    height: 34px;
    width: 34px;
}
.THIS .search-btn{
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    border: none;
    top: 0;
    background: none;
    height: 2.25rem;
    border-radius: 0 .2rem .2rem 0;
}
.THIS .slds-modal__close.close-btn {
    top: initial;
    right: 10px;
}
.THIS .search-input.uiInput--input.input[disabled] {
    cursor: text;
    background: #fff;
    border-color: #dddbda;
}
.THIS .search-input{
    padding-right: 2.2rem;
}
.THIS .search-icon:after, .THIS .search-icon:before{
    content: '';
    position: absolute;
}
.THIS .search-icon:after{
	width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #b0adab;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-60%, -60%);
    -ms-transform: translate(-60%, -60%);
    transform: translate(-60%, -60%);
}

.THIS .search-icon:before {
	height: 10px;
    width: 2px;
    background: #b0adab;
    top: 50%;
    left: 65%;
    -webkit-transform: translate(10%, -42%) rotate(-45deg);
    -ms-transform: translate(10%, -42%) rotate(-45deg);
    transform: translate(0, 10%) rotate(-45deg);
    border-radius: 5rem;
}

@media (min-width: 992px) {
    .THIS input.uiInput--checkbox[type=checkbox].alignDataCenter {
        margin:auto;
    }
    .THIS .alignDataCenter1 {
        text-align:center;
    }
}
@media (min-width: 992px) {
     .THIS .column-Header-text-padding {
    	padding-left : 2rem;
	 }
}
.THIS .marginExternal{
    margin:auto;
}


.THIS .checkbox{
    float:left !important;
        margin-top: 10px !important;
    margin-right: 3px!important;
}

.THIS .readOnlyCheckBox{
   
    margin-right: 3px!important;
}

.THIS .scrolldiv{
    width:100%
}

.THIS .uiInput--datetime .datePicker-openIcon {
        bottom: 30% !important;
}