.tablecls {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
}
.tablecls td,
.tablecls th {
    border: 1px solid #ddd;
    padding: 8px;
}
 
.tablecls tr:nth-child(even) {
    background-color: #f2f2f2;
}
 
.tablecls tr:hover {
    background-color: #ddd;
}
 
.tablecls th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: rgb(36, 139, 165);
    color: white;
}

.addWordBreak {
    word-break: break-all;
}

.addWidth {
    width : 41%;
}

.addStrategyWidth {
    width: 47%;
}

.slds-size_4-of-12 {
    width: 39%;
 }

 .slds-size_6-of-12 {
    width: 49%;
 }

 .slds-size_5-of-12 {
    width: 45%;
 }

 .goal-margin{
    margin-right: 39rem;
 }

 .add-goal-margin{
    margin-left: 6rem;
 }