.THIS .helpContainer{
    height: 100%;
}
.THIS .hide{
    display:none;
}
.THIS a.slds-th__action.consultant-tab  {
    height: auto;
}
.THIS .alignButtons {
    display: inline-block;
}
.THIS .bold {
	font-weight:bold;
}
.THIS .w-100{
    width: 100%;
}
.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .d-inline-block{
   display: inline-block;
    max-width: 100%;
}
.THIS .d-inline-flex{
    display: inline-flex;
}
.THIS .show-md-down{
    display: none;
}
.THIS .show-md-up{
    display: block;
}
.THIS .helptext.show-md-up, .THIS .helptext.show-md-down{
    margin-top: -2px;
}
.THIS .help-tooltip{
    left: calc(100% + 6px);
}
.THIS .help-tooltip:after, .THIS .help-tooltip:before{
    width: 0.8rem;
    height: 0.8rem;
    left: -0.4rem;
}
.THIS .dotsSpinnerContainer{
    z-index: 9052;
}
.THIS .slds-button:focus {
	box-shadow: none;
}
.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}
.THIS .desc-sec {
    background: #f3f2f2;
}
.THIS th.non-sortable-col {
    padding-left: .5rem;
    padding-right: .5rem;
}
.THIS .data-table tbody .slds-cell-wrap {
    word-break: break-word;
}
@media (min-width: 992px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
    .THIS .data-table thead th:first-child a, .THIS .data-table tbody th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child a, .THIS .data-table tbody th:last-child {
        padding-left: 1rem;
    }
}
@media (min-width: 320px) and (max-width: 991px) {
    .slds-section.ipadbottom.THIS{
        padding-bottom: 55px !important;
    }
    .THIS .dotsSpinnerContent .slds-spinner{
        position: static;
    }
}
@media (min-width: 320px) and (max-width: 767px){    
    .THIS .appletAddBtn{
        display: flex;
        align-items: center;
    }
    .THIS .appletAddBtn .uiButton{
        padding: 0 0.5rem;        
        border: none;
    }
    .THIS .appletAddBtn .uiButton:hover, .THIS .appletAddBtn .uiButton:focus{
        background: transparent;
    }
    .THIS .appletAddBtn .uiButton .slds-icon-text-default{
        fill: rgb(0, 112, 210);
    }    
    .THIS .ui-m-btn button, .THIS .ui-m-btn button.uiButton{
        padding: 0.3rem 0.65rem;
    }
    .THIS .ui-m-btn button svg, .THIS .ui-m-btn button.uiButton svg{
       width: 20px;
    }
    .THIS .ui-m-btn button[disabled] svg, .THIS .ui-m-btn button.uiButton[disabled] svg{
       opacity: 0.5;
    }
    .THIS .ui-m-btn-group button, .THIS .ui-m-btn button.uiButton{
        border-radius: 0;
        margin-left: 0;
    }
    .THIS .ui-m-btn-group button:not(:first-child), .THIS .ui-m-btn button.uiButton:not(:first-child){
        border-left: 0px;
    }
    .THIS .ui-m-btn-group button:first-child, .THIS .ui-m-btn button.uiButton:first-child{
        border-radius: 0.25rem 0 0 0.25rem;
    }
    .THIS .ui-m-btn-group button:last-child, .THIS .ui-m-btn button.uiButton:last-child{
        border-radius: 0 0.25rem 0.25rem 0;
    }
}
@media (min-width: 320px) and (max-width: 575px){
     
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
    	margin-left:auto;
    }
    .THIS .slds-mobile--header .helptext{
        order: 1;
    }
    .THIS .slds-mobile--header .header-content{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .slds-mobile--header, .THIS .slds-mobile--header .header-content{
        margin-bottom: 0            
    }
    .THIS .slds-mobile--header{
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    .THIS .slds-section.ipadbottom.slds-is-open.cService_AMT{
        padding-bottom: 55px !important;
    }
    .THIS .appletHeader{
        max-width: 78%
    }
    .THIS .appletAddBtn{
        padding-right: 0.25rem;
    }
    .THIS .alignButtons {
 	   display: inline-flex;
	}
}
@media (min-width: 576px) and (max-width: 991px) {
      
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
    	margin-left:auto;
    }
    .THIS .slds-mobile--header .helptext{
        order: 2;
    }
    .THIS .slds-mobile--header .header-content{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .slds-mobile--header, .THIS .slds-mobile--header .header-content{
        margin-bottom: 0            
    }
    .THIS .slds-mobile--header{
        padding-bottom: 1rem;
    }
    .THIS .slds-section.ipadbottom.slds-is-open.cService_AMT{
        padding-bottom: 55px !important;
    } 
    .THIS .appletAddBtn{
        padding-right: 0.6rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation:Landscape){
     .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 3;
    	margin-left:auto;
    }
    .THIS .slds-mobile--header .helptext{
        order: 1;
    }
}
@media (min-width: 1200px){
    .THIS .applet-scrollable-table{
        background: #fafaf9;
    }
   .THIS .applet-scrollable-table tbody{
        background: #fff;
        max-height: 250px;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
    }
    .THIS .applet-scrollable-table thead, .THIS .applet-scrollable-table tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
    }
    .THIS .applet-scrollable-table thead {
        width: calc( 100% - 1em )
    }
    .THIS .slds-custom-table{
        display: block;
    }
    /*.THIS .slds-mobile--header{
        padding-left: 2rem;
        justify-content: flex-start;
    }*/
    .THIS .sorting-in-mobile{
        display: none;
    }
}
@media (max-width: 1199px){
	.THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks {
      pointer-events: none;
    }
    .THIS .iosBottom{
        bottom: 65px;
        position: fixed;
    }
	.slds-section.ipadBottomIos.slds-is-open.THIS{
        padding-bottom: 125px !important;
    }
	.THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
	.THIS .save-cancel-bg .action{
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }    
    .THIS .save-cancel-bg .action:first-child{
        justify-content: flex-end;
    }
    .THIS .save-cancel-bg .action:last-child{
        justify-content: flex-start;
    }
	.slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    } 
    .THIS .cScroll-table{
        height: 100vh;
        padding-bottom: 140px;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .THIS .cScroll-table > *:not(.no-translate){
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
    }
    .THIS .actionButtons{
        left: 0;
    }
    .THIS .show-md-down{
        display: block
    }
    .THIS .show-md-up{
        display: none;
    }
    .THIS .help-tooltip{
        left: initial;
        right: calc(100% + 6px);
            transform: translate(0, -18%);
    }
    .THIS .help-tooltip:before, .THIS .help-tooltip:after{
        left: initial;
    	right: -0.4rem;
        top: 25%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .THIS .sortEdit .actionButtonsWrapper{
        justify-content: center;
    }
    .THIS .sortEdit .actionButtonsWrapper > div.action{
        flex: 0 0 25%;
        max-width: 25%;
    }    
    
}
@media (max-device-width: 1199px){
    .THIS .action-bar-mobile{
        display: none;
    }
}
.THIS .marginExternal{
    margin:auto;
}