.THIS .avoid-click{
    pointer-events: none;
}
.THIS .noedit-onlysearch{
    width: 2rem;
    height: 2.25rem;
    position: absolute;
    top: 0;
    line-height: 1;
    fill: #b0adab;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddbda;
    /* background: #f0f0f0; */
    border-radius: 0 4px 4px 0;
}
.THIS .input-with-icon_right .slds-icon_container {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    line-height: 1;    
    right: 0.75rem;
}
.THIS .input-with-icon_right .slds-icon_container svg {
    fill: #b0adab;
}
.THIS .form-inline > div{
    display: inline-block;
}
.THIS .template-opt{
    background: #fafaf9;
}
.THIS .table-title{
    font-weight: 600;
}
.THIS .template-contents.slds-show{
    display: flex;
}
.THIS .instruction-heading{
    font-weight: 600;
    margin-bottom: 0.45rem;
}
.THIS .instruction-list{
    list-style: disc;
    padding-left: 1rem;
}
.THIS .bkg-light-grey{
    background: #fafaf9;
    border-bottom: 1px solid #dddbda;
}
.THIS .instruction-section{
    font-size: 0.7rem;
}
@media (min-width: 992px){
    .THIS th.cell-freeze, .THIS th.cell-freeze.slds-cell-shrink{
        position: absolute;
        width: 5rem!important;
        left: 0;
        top: auto;
        border-top: 1px solid #dddbda;
    }
    .THIS th.slds-cell-shrink.cell-freeze.cell-freeze-1, .THIS td.slds-cell-shrink.cell-freeze.cell-freeze-1{
        width: 3rem !important;
        position: absolute;
        left: 0;
    }
    .THIS th.cell-freeze.cell-freeze-2 {
        left: 3rem;
        width: 12rem !important;
    }
    .THIS th.cell-freeze.cell-freeze-3 {
        left: 15rem;
        width: 10rem!important;
        border-right: 2px solid rgb(216, 221, 230);
    }
    .THIS .search-table .slds-truncate, .THIS .search-data .slds-truncate{
        white-space: nowrap;
    }
    .THIS .result-table thead th{
        padding: 0;
    }
    .THIS .search-data th, .THIS .search-data td{
        height: 25px;
        padding: 0.25rem 0.5rem;
    }
    .THIS .radio-btn .uiInput--radio input[type=radio]{
        vertical-align: middle;
        margin: 0 0.5rem;
    }
    .THIS .dotsSpinnerContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .THIS .search-data thead th.cell-freeze{
        margin-top: -1px;
    }
    .THIS .search-data tbody tr:last-child td.cell-freeze, .THIS .search-data tbody tr:last-child th.cell-freeze{
        border-bottom: 1px solid rgb(221, 219, 218);
    }
    .THIS .search-data tbody th.cell-freeze, .THIS .search-data tbody td.cell-freeze{
        height: 27px;
    }
    .THIS .search-data tbody .cell-freeze-1 > div{
        height: 100%;
    }
    .THIS .search-table thead th:first-child, .THIS .search-table tbody th:first-child, .THIS .search-table tbody td:first-child{
        padding-left: 1rem;
    }
    .THIS .search-table thead th:last-child, .THIS .search-table tbody th:last-child, .THIS .search-table tbody td:last-child{
        padding-right: 1rem;
    }
}
@media (min-width: 48em){
 	.THIS.modal-sm .slds-modal__container{
    	max-width: 20rem;
	}   
}
.THIS .dropDown-auto-width{
    width:auto;
}