.THIS .display{
    /* display:none;*/
}
.THIS .displayBlock{
    display:block;
}
.THIS .dropDownColor{
    fill:currentColor;
}
.THIS .borderRemove {
    border:none;
    width: 100%;
}
.THIS .slds-truncate{
    /*white-space: pre-wrap;*/
}
.THIS .slds-box {
    padding: 0rem;
    height: 50px;
}
.THIS .slds-box {
    padding: 0rem;
    height: 50px;
}

.THIS .slds-table th{
    white-space: pre-wrap;
}

.THIS .slds-section.slds-is-open .slds-section__content {
    padding-top: 0;
}
.THIS .slds-button:focus {
    box-shadow: 0 0 0px #0070d2;
}
.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}
.THIS .slds-card__footer {
    padding-bottom: 0.25rem !important;
}
.THIS .RPBackground{
    background: rgb(244, 246, 249);
}

.THIS .headerHeight{
    padding-left:0px !important;
}

.THIS .RPSection{
    Height:35px;
    align-items: center;
    display:flex;
    width:100%;
}
.THIS .RPInstructionText{
    width:100%;
    display:flex;
}
.THIS .RPSection1{
    border:none;
    font-weight:bold;
    height:25px;
    line-height: 1.5rem;
}
.THIS .RPSection2{
    padding-left: 8px;
    padding-bottom: 20px;
}
.THIS .hideShow{
    display:none;
}
.THIS .hideShowAddButton{
    display:none;
}

.THIS .readMode {
    display: block;
}
.THIS .editMode {
    display: none;
}
.THIS .RPTextArea{
    padding:.10rem !important;
}
.THIS .addBorderLeft{
    border-left: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderRight{
    border-right: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderBottom{
    border-bottom: 1px solid rgb(216, 221, 230);
}
.THIS .toggle {
    display: none;
}
.THIS .slds-table th .RPComments{
    white-space: pre-wrap;
    position: relative;
}
.THIS .section2{
    white-space: pre;
    line-height: 1.5rem;
    padding-left : 8px;
}
.THIS .dateAlign1{
    background : lightgrey;
    width: 110px;
    text-align:center;    
    min-height:30px;
    line-height:20px    
}
.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .d-inline-block{
   display: inline-block;
    max-width: 100%;    
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .THIS .HeaderContentAlign{        
        display:inline-block;
    }
    .THIS .headerHeight{
        padding-left:0px !important;
        padding-right:0px !important;
    }   
    .THIS .buttonShadowBorder{
        box-shadow:0px 0px 1px #0070d2 !important;
    }
    .THIS .ButtonAlign{
        float:right;
        display:flex;
    }
}
@media (min-device-width: 320px) and (max-device-width: 1024px) {    
    .slds-section.ipadbottom.cRisk_Profile{
        padding-bottom: 70px !important;
    }
    .THIS .dateAlign1{
        width: 150px;
    }
}
@media (min-device-width: 320px) and (max-device-width: 575px){
    
    .THIS .marginLabel{
        margin-left: 0rem;
    }
    
    .THIS .RPInstructionText{
        text-align: justify;
    }
    .THIS .RPSection{
        display : block;
        height : 100px;
    }
    .THIS .RPSection1{
        padding-bottom : 5px;
    }
    .THIS .ReviewDateDiv{
        padding-top: 39px;
    }
    .THIS .OverAllRisk{
        text-align: left;
        display: flex;
        white-space: nowrap;
        padding-top: 4px;
        align-items: center;
    }
    .THIS .ButtonAlign{
        text-align: right;
    }
    .THIS .dateAlign1{
        width: 150px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation:Landscape){
    .THIS .RPInstructionText{
        text-align: justify;
    }
    .THIS .ButtonAlign{
        text-align: right !important;
        display: inline-block !important;
        float: right;
    }
}
@media (min-device-width: 576px) and (max-device-width: 991px){
    .THIS .ButtonAlign{
        text-align: right !important;
        display: inline-block !important;
        float: right;
    }
    .THIS .RPSection{
        display : -webkit-inline-box;
        padding-top : 4px;
    }
    .THIS .RPInstructionText{
        text-align: justify;
    }
    .THIS .dateAlign1{
        width: 150px;
    }
}
@media (min-width: 1200px){
    .THIS .applet-scrollable-table tbody{
        max-height: 250px;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
    }
    .THIS .applet-scrollable-table thead, .THIS .applet-scrollable-table tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
    }
    .THIS .applet-scrollable-table thead {
        width: calc( 100% - 1em )
    }
    .THIS .scrollerSize{
        overflow: auto;        
        height:auto;
        max-height:600px;
    }
    .THIS .uiScrollerWrapper{
        overflow: auto;     
        height:auto;
        max-height:600px;
    }
    
    .THIS .marginLabel{
        margin-left: 3.25rem;
    }
}

.THIS .scrollerSize{    
    height:auto;    
}
.THIS .uiScrollerWrapper{    
    height:auto;
}
.THIS .generalPadding{
    padding-left: .25rem !important;        
    padding-bottom: .25rem !important;
}
.THIS .generalPaddingComments{
    padding-left: .25rem !important;        
    padding-top: .1rem !important;
    padding-bottom: .25rem !important;
}
 .THIS .spinner-md-d{
        position: fixed;
    }
.THIS .table-tooltip .tooltip{
    margin-left: auto;
}
.THIS .table-tooltip .help-tooltip {
    top: -5px;
    transform: translate(0, 0);
    text-transform: initial;
    left: calc(100% + 10px);
    letter-spacing: 0;
}
.THIS .table-tooltip .help-tooltip.slds-nubbin_right:before {
    top: 5.6%;
}
@media (max-device-width: 767px){
    .THIS .HeaderContentAlign{
        float: none;
    }        
}

.THIS .show-md-down{
    display: none;
}
.THIS .show-md-up{
    display: block;
}
.THIS .helptext.show-md-up, .THIS .helptext.show-md-down{
    margin-top: -2px;
}
.THIS .help-tooltip{
    left: calc(100% + 6px);
    width :25rem;
}
.THIS .help-tooltip:after, .THIS .help-tooltip:before{
    width: 0.8rem;
    height: 0.8rem;
    left: -0.4rem;
}


@media (min-device-width: 320px) and (max-device-width: 767px){    
    .THIS .appletAddBtn{
        display: flex;
        align-items: center;
        flex: 0 1 auto;
        padding-right: 0;
        margin-left:auto;
    }
    .THIS .appletAddBtn .uiButton, .THIS .appletAddBtn .button-icon{
        padding: 0 0.5rem;        
        border: none;
    }
    .THIS .appletAddBtn .uiButton:hover, .THIS .appletAddBtn .uiButton:focus, .THIS .appletAddBtn .button-icon:hover, .THIS .appletAddBtn .button-icon:focus{
        background: transparent;
    }
    .THIS .appletAddBtn .uiButton .slds-icon-text-default, .THIS .appletAddBtn .button-icon .slds-icon-text-default{
        fill: rgb(0, 112, 210);
    }   
    .THIS .ui-m-btn button, .THIS .ui-m-btn button.uiButton{
        padding: 0.3rem 0.65rem;
    }
    .THIS .ui-m-btn button svg, .THIS .ui-m-btn button.uiButton svg{
       width: 20px;
    }
    .THIS .ui-m-btn button[disabled] svg, .THIS .ui-m-btn button.uiButton[disabled] svg{
       opacity: 0.5;
    }
    .THIS .ui-m-btn-group button, .THIS .ui-m-btn button.uiButton{
        border-radius: 0;
        margin-left: 0;
    }
    .THIS .ui-m-btn-group button:not(:first-child), .THIS .ui-m-btn button.uiButton:not(:first-child){
        border-left: 0px;
    }
    .THIS .ui-m-btn-group button:first-child, .THIS .ui-m-btn button.uiButton:first-child{
        border-radius: 0.25rem 0 0 0.25rem;
    }
    .THIS .ui-m-btn-group button:last-child, .THIS .ui-m-btn button.uiButton:last-child{
        border-radius: 0 0.25rem 0.25rem 0;
    }
}

@media (max-device-width: 1199px){
    
    .THIS .help-tooltip{
        left: initial;
        right: calc(100% + 3px);
        -webkit-transform: translate(0, -5%);
        -ms-transform: translate(0, -5%);
        transform: translate(0, -5%);
        width:25rem;
        text-align: left;
    }
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: -0.4rem;
        top: 5%;
    }    
}

@media (min-device-width: 320px) and (max-device-width: 767px){
    
	.THIS section.help-tooltip{
        left: initial;
        right: calc(100% + 1px);
        -webkit-transform: translate(0, -3%);
        -ms-transform: translate(0, -3%);
        transform: translate(0, -3%);
        text-align:left;
        width: 18rem;
    }
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: -.4rem;
        top: 3%;
    }    
    
}

@media (max-device-width: 1199px){
	.THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks {
      pointer-events: none;
    }
    .THIS .iosBottom{
        bottom: 65px;
        position: fixed;
    }
	.slds-section.ipadBottomIos.slds-is-open.THIS{
        padding-bottom: 125px !important;
    }
	.THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
	.THIS .save-cancel-bg .action{
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }    
    .THIS .save-cancel-bg .action:first-child{
        justify-content: flex-end;
    }
    .THIS .save-cancel-bg .action:last-child{
        justify-content: flex-start;
    }
	 .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    } 
    .THIS .cScroll-table{
		height: 100vh;
        padding-bottom: 180px;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .THIS .cScroll-table > *:not(.slds-card__header){
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
    }
    .THIS .actionButtons{
        left: 0;
    }
}

.THIS .hide {
    display: none;
}
.THIS .dotsSpinnerContainer{
    z-index: 9052;
}

@media (max-device-width: 1199px){
    .THIS .show-md-down{
        display: block;
        color: #ccc;
    }
    .THIS .show-md-up{
        display: none;
        color: #ccc;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .THIS .helptext.show-md-down{
        justify-content: flex-end;
        padding-right: 0;        
    }
    .THIS .appletAddBtn{
        flex: 0 0 auto;
    }
    
    .THIS .appletHeader{
        justify-content: space-between;
    }
}
@media (max-device-width: 1199px){
    .THIS .action-bar-mobile{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .THIS .sortEdit .actionButtonsWrapper{
        justify-content: center;
    }
    .THIS .sortEdit .actionButtonsWrapper > div.action{
        flex: 0 0 25%;
        max-width: 25%;
    }       
}
.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}