.THIS .hide{
    display:none;
}

.THIS .TextAreaDisabled{
    background-color: transparent !important;
    border:none !important;
}
.THIS .disabled-readonly{
   cursor:not-allowed;
   opacity:1;
}

.THIS .customCss .slds-form-element__label{
    display:none !important;
}

.THIS .customCss .slds-border_bottom{
    border:none !important;
}

.THIS .slds-theme_error{
    display:none !important;
}