@media (min-width: 991.98px) {
    /* .THIS.opportunity-tab--wrapper .info {
    margin-bottom:0;
}*/
    .THIS .slds-data-table-container {
        height: 45vh;
    }
    .THIS .slds-data-table-container.no-edit {
        height: 54vh;
    }
    .THIS.opportunity-tab--wrapper .slds-data-table-container {
        height: 56vh;
    }
    .THIS .slds-data-table-container .slds-table .slds-cell-edit {
        padding-right: 1.2rem;
    }
    .THIS .data-table thead th:first-child a, .THIS .data-table tbody td:first-child, .THIS .data-table tbody th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child a, .THIS .data-table thead th:last-child, .THIS .data-table tbody td:last-child,.THIS .data-table tbody th:last-child {
        padding-right: 1rem;
    }
    .THIS .data-table thead th:first-child a.slds-cell-fixed {
        
    }
    .THIS th .no-hover:hover {
        background: transparent;
    }
    .THIS a.accordion-link, .THIS button.accordion-link {
        cursor: default;
    }
    .THIS button.accordion-link:focus {
        text-decoration: none;
    }
    .THIS .slds-table_bordered{
        border-collapse: collapse;
    }
}
/* For helptext position on the applet - For header*/
   /* Desktop Devices */
   .THIS .show-md-down{
       display: none;
   }
   .THIS .show-md-up{
       display: block;
   }
   .THIS .helptext.show-md-up, .THIS .helptext.show-md-down{
       margin-top: -2px;
   }
   .THIS .help-tooltip{
       left: calc(100% + 6px);
   }
   .THIS .help-tooltip:after, .THIS .help-tooltip:before{
       width: 1rem;
       height: 0.8rem;
       left: -0.4rem;
   }
.THIS .slds-customclassright{
    right: 62rem;
}