.slds-modal__container {
    width: 90% !important;
    max-width: 90% !important;
    pointer-events: none;
}



.custom-p {
    padding: 5px;
}

.checkbox-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}

.checkbox-label {
    font-weight: 500;
}



.custom-container {
    color: black;
}

.custom-td {
    color: #00008b;
    font-weight: bold;
    font-size: small;
}

.custom-th {
    word-wrap: break-word;
    white-space: normal;
    font-size: Small;
    color: #00008b;
    font-weight: bold;
    padding-left: 0.5em;
}

th,
td {
    border: 1px solid grey;
}

td {
    word-wrap: break-word;
    white-space: normal;
}

.custom-background-colour {
    background-color: aqua;
}

/* Make the checkbox smaller */
.slds-checkbox input[type="checkbox"] {
    width: 8px;
    height: 8px;
    margin: 0;
    color: #00008b;
}

.checkbox-label {
    color: #00008b;
    font-weight: bold;
    font-size: 0.75rem;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
.value{
    font-size: small;
}
.custom-colour {
    color: #091956 !important;
}




.slds-checkbox_faux {
    width: 10px;
    height: 10px;
}
.cramp-line{
    white-space: pre-wrap;
    line-height: 1.4;
}

.slds-checkbox__text {
    font-size: 9px;
    margin-left: 5px;
    margin-right: 5px;
}