.THIS .sp2 label {
    display: none;
}
.THIS .slds-pill-container{
   width: 125px
}
.THIS .slds-picklist__label .slds-icon{
   right: 0.3rem;
}
.THIS .slds-input-has-icon_right .slds-input{
    padding-right: 0rem;

}
.THIS .pillSize{
   width:125px
}