.THIS .d-inline-block{
    display: inline-block;
}
.THIS .modal-content label.slds-form-element__label {
    font-size: 0.80rem;
    letter-spacing: 0.01rem;
    margin-bottom: 0.35rem;
    font-weight: 600;
    color: #54698d;
}
.THIS .search-product .select.uiInput{
    min-height: calc(2.125rem + 2px);
}
.THIS .modal-content label.sl-label{
    display: inline-block;
    color: rgb(112, 110, 107);
    font-size: .75rem;
    line-height: 1.5;
    margin-right: .75rem;
    margin-bottom: .125rem;
    letter-spacing: normal;
    font-weight: 500;
}
.THIS h4.modal-title{
    font-size: 1.05rem;
    padding-bottom: .6rem;
    margin-bottom: 1.2rem;
    background: #f3f2f2;
    border-radius: .25rem;
    padding: 0.55rem 15px;
    margin: .8rem 0 1.2rem;
    line-height: normal;
}
.THIS .modal-content .slds-form-element {
    width: 100%; 
}
.THIS .modal-content .slds-form-element__control fieldset legend {
    display: none;
}
.THIS .pageError{
    position: relative;
    /*display: inline-block;*/
}
.THIS .pageError .slds-popover{
    position: absolute;
    top: -90px;
    right: -120px;
    background: rgb(194, 57, 52);
    color: #fff;
}
.THIS .pageError .slds-popover button{
    color: #fff;
}
.THIS .pageError .slds-popover__body{
    text-align: left;
}
.THIS .pageError .slds-popover__close{
    float: none;
    position: absolute;
    top: 0;
    right: 0;
}
.THIS .general-notification{
    background: rgb(194, 57, 52);
    padding: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.25;
    font-size: 1rem;font-weight: 300;
    border-radius: 0.25rem;
}
.THIS .error-link{
    color: #c23934;
    text-decoration: underline;
}
.THIS .save-btn{
    display: inline-block;
    padding: 0 0 0 0.4rem;
}
.THIS .save-btn .slds-button_success{
    color: #fff;
}
.THIS .instruction-text{
    font-style: italic;
    font-size: 0.85rem;
}
.THIS .sub-title{
    font-size: 1.015rem;
    padding: 0px 0 0.4rem;
    margin: 0 0 0.8rem;
    border-bottom: 1px solid #dddbda;
    font-weight: 500;
    color: #191617;
}
.THIS .search-icon{
	display: block;
    position: relative;
    height: 34px;
    width: 34px;
}
.THIS .search-btn{
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0px;
    top: 0;
    background: transparent;
    border: none;
}
.THIS .search-input{
    padding-right: 2.2rem;
}
.THIS .search-icon:after, .THIS .search-icon:before{
    content: '';
    position: absolute;
}
.THIS .search-icon:after{
	width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #b0adab;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-60%, -60%);
    -ms-transform: translate(-60%, -60%);
    transform: translate(-60%, -60%);
}

.THIS .search-icon:before {
	height: 10px;
    width: 2px;
    background: #b0adab;
    top: 50%;
    left: 65%;
    -webkit-transform: translate(10%, -42%) rotate(-45deg);
    -ms-transform: translate(10%, -42%) rotate(-45deg);
    transform: translate(0, 10%) rotate(-45deg);
    border-radius: 5rem;
}
/*.THIS .modal-body, .THIS .modal-footer{
    margin-left: -1rem;
    margin-right: -1rem;
}*/
.THIS .modal-footer{
    margin-bottom: -1rem;
}
.THIS .checkbox-group div.slds-form-element__control{
    display: flex;
    flex-wrap: wrap;
}
.THIS .checkbox-group span.slds-checkbox{
    flex: 0 0 calc(100% / 2);
}
.THIS .multiSelectScrollHeight {
    max-height: calc(5.875rem + (1px * 2));
}
.THIS .accName--ronly .search-input{
    background: #fff;
}
.THIS .accName--ronly .search-btn{
    border-left: 1px solid #a9b8c7;
    border-radius: 0 0.25rem 0.25rem 0;
    height: 36px;
}
.THIS .slds-progress__marker{
    cursor: default;
}
.THIS .pdt-compt .slds-card.competitor-section:not(:first-child) {
    margin-top: 1rem;
}
.THIS .col-no-data {
    white-space: pre-line;
}
.THIS .mandatoryFields {
    border-color: rgb(194, 57, 52);
}

@media screen and (min-width: 992px){
    .THIS .m-formadjust-top{
        margin-top: 0.45rem;
    }  
    .THIS .footer-body{
        margin: 1rem -1rem -1rem;
    }
    .THIS label.progression-label {
        position: absolute;
        display: block;
        width: 3rem;
        text-align: center;
        top: calc(-100% - 12px);
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 0.85rem;
    }
    .THIS .slds-green .slds-progress__marker{
        background: #fff;
        border-color: #4CAF50;
    }
    .THIS .slds-red .slds-progress__marker{
        background: #dddbda;
        border-color: #fff;
        position: relative;
    }
    .THIS .slds-red .slds-progress__marker:after, .THIS .slds-red .slds-progress__marker:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;        
        display: block;
        width: 16px;
        height: 2px;
        background: #F44336;
        border-radius: 0.25rem;
    }
    .THIS .slds-red .slds-progress__marker:after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .THIS .slds-red .slds-progress__marker:before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .THIS .slds-red .slds-progress__marker{
        border: 2px solid #f44336;
        background: #fff;
    }
    .THIS .breadcrumb li a{
        color: #909090;
    }
    .THIS .breadcrumb li a:hover{
        text-decoration: none;
        color: rgb(63, 63, 63);
    }
    .THIS .breadcrumb li.active a{
        color: rgb(0, 112, 210);
    }
}