.THIS .modal-content {
    margin: -1rem;
}
.THIS .data-table thead th:first-of-type, .THIS .data-table tbody th:first-of-type {
    padding-left: 1rem;
}
.THIS .data-table thead th:last-of-type, .THIS .data-table tbody th:last-of-type {
    padding-right: 1rem;
}