/*.slds-text-heading_medium {
  text-align: center;
  font-weight: bold;
  padding: 8px;
}*/

/*.aligntext{
  text-align: center;
  padding-left: 288px;
  font-size: large;
  font-weight: bold;
}*/

.aligntext{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tableLayout {
  table-layout: fixed;
  width: 100%;
}

.tableVerticleAlign {
  vertical-align: middle;
}

.container {
  height: 50px;
  max-width: 100%;
  padding-top: 5px;
}

.div-left {
  float: left;
  padding-left: 10px;
}

.inner-container {
  height: 50px;
}

.inner-left {
  float: left;
  padding-right: 10px;
}

.inner-right {
  float: right;
}

.slds-text-body_small {
  text-align: left;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
}

.borderRightClass{
  border-right: 8px solid #56565685;
}

.blue-border {
  border: 3px solid #dfe9f9;
}

.div-right{
  float:right;
  padding-right:10px;
}