.my-class {
    color: #333;
}
.section-header{
  background-color:hsla(219, 49%, 67%, 0.79);
    display: flex;
    border-radius: 3px;
    font-weight: 800;
    height: 28px;
}
.header-color{
   background-color: rgb(234, 235, 236);
}
.section-wrapper{
  margin-bottom: 2rem; 
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;      
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); 
    position: relative;
}
.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
/*.slds-is-relative {
    position: relative; 
}
*/