.THIS .progress-active{
	background: #5abe0f;
}
.THIS .progress-complete{
    background: #5db4fe;
}

.THIS button.slds-button.slds-progress__marker.step-progress--link.disabled {
    cursor: not-allowed;
    opacity: 1;
}
.THIS .step-progress--link.disabled span.item-label  {
    color: #ddd;
}