.THIS .hide{
    display:none !important;
}

.THIS .pill-width{
    width: 430px;
}
.THIS .slds-pill.slds-grid{
    border: none;
}
.THIS .slds-pill.slds-grid:hover{
    background: #fff;
}

.THIS .my-icon {
    padding: 0.1rem;
}

.THIS .slds-pill__containerss {
    display: none !important;
}