.section-header .slds-accordion__summary-heading{
    background-color:rgb(156, 179, 221);
    padding: 4px 10px;
    border-radius: 3px;
    font-weight: 600;
}

.header{
    font-size: 18px;
    background-color: rgb(156, 179, 221);
    text-align: center;
    border-radius: 3px;
}

.sub-heading{
    font-size: 15px;
    /* background-color: rgb(205, 221, 250); */
    background-color: #9cb3dd;
    border-radius: 2px;
    font-weight: bold;
}

.border-shadow{
    /* box-shadow: 5px 5px rgba(60, 60, 60, 0.566); */
    /* box-shadow: 0px 3px 7px 1px rgb(60 60 60 / 57%); */
    /* border-color: #F7F9F9; */
    /* border:1px; */
    background-color: #F7F9F9;
}

.validated-products-background{
    background-color:#fcfcfc;
}

.bottom-border{
    border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
}