.slds-modal__container{
    width: 80% !important;
    max-width: 80% !important;
   
    
}
.slds-modal__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slds-modal__content {
    overflow: hidden; 
}
.bold{
    font-weight: bold; 
}
.slds-alert-message    
{
    font-size: 15px;
  
}
.custom-modal-header {
    background-color: #FFA500; 
}
.bold-text{
    font-weight: bold;
  font-family: "Arial",  serif;
  font-size: 0.999rem ;
}
.align-side
{
   display: flex;   
}