.THIS.slds-card__header{
    margin: 0;
    padding: 16px !important;
    background: #f3f2f2;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    position: relative;
    top: 13px;
    margin-top: -11px;
}
.THIS .slds-icon-standard-contact {
    background-color: #f3f2f2;
}