.THIS .kanban-branch{
    margin-bottom: 3rem;
}
.THIS .kanban-branch > ol{
    z-index: 20;
}
.THIS .z-opacity {
    opacity: 0;
}
.THIS .branch-blue{
    z-index: 4;
    background: transparent;
}
.THIS .branch-to, .THIS .branch-path{
    position: absolute;
    height: 0.125rem;
    width: 99%;
    z-index: 2;
}
.THIS .branch-to-top, .THIS .branch-path{
    top: 50%;
    margin-top: -.0625rem;
}
.THIS .branch-to-bottom{
    top: 2.8rem;
    /*width: calc(99% - 50%);
    left: 50%;*/
}
.THIS .branch-to-bottom:before, .THIS .branch-to-bottom:after{
    position: absolute;
    content: '';
    display: block;
    width: 0.125rem;
    height: 2.4rem;
    top: -2.4rem;
    background: #3cbd07;
}
.THIS .branch-to-bottom:after{
    right: 0;
}
.THIS .branch-green > span.branch-value{
    display: block;
    width: 100%;
    height: 100%;
    background: #3cbd07;
}
.THIS span.item-label {
    display: block;
    position: absolute;
    top: -2.3rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0.85rem;
    color: #03A9F4;
    font-weight: 500;
    white-space: nowrap;
    width: auto;
    min-width: 4rem;
    max-width: 10.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.THIS .branch-path{
    z-index: 1;
    background: linear-gradient(to right, transparent 50%, #e3e4e7 50%),linear-gradient(to right, #00b9ff00, #59d94100);
    background-size: 16px 0.125rem,100% 0.125rem;
}
.THIS .slds-progress__marker.slds-button:focus, .THIS .slds-progress__marker{
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.36);
}
@media (max-width: 767px){
    .THIS .kanban-branch{
        max-width: 90%;
    }
    .THIS span.item-label{
        font-size: 0.7rem;
        line-height: 1.2;
        white-space: pre-line;
        overflow: auto;
    }
}
.THIS .path-progress, .THIS .step-progress--link, .THIS .dp, .THIS .path {
    -webkit-transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition:         all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.THIS .step-progress--container {
    position: relative;
    padding: 3.95rem 15px;
}
.THIS .step-progress {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    z-index: 2;				
}			
.THIS .step-progress--list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 99;
    padding: 0;
    list-style: none;
}
.THIS .step-progress--list_item {
    display: inline-flex;
    align-self: center;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 50%;
}
.THIS .step-progress--link {
    width: 1rem;
    height: 1rem;
    display: flex;
    position: relative;
    border-radius: 50%;
    background: #b7b7b7;
    border: 4px solid white;
    vertical-align: middle;
    justify-content: center;
}
.THIS .step-text {				
    position: absolute;
    bottom: 100%;
    margin-bottom: 0.75rem;
    color: #03A9F4;
    font-size: 0.85rem;
}
.THIS .path{
    height: 0.35rem;				
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    z-index:20;
}
.THIS .step-progress--link.selected, .THIS .legend-item.selected {
    background: #2296f3;
}
.THIS .path-progress, .THIS .legend-item.selectable-value {
    background: #2196F3;
}
.THIS .na {
    background: #D50000;                
}

.THIS .path-progress {
    height: 0.35rem;
    max-width: 100%;
    width: 0;
    border-radius: 50px;
    z-index: 20;
}
.THIS .direct-path {				
    width: 100%;
    position: absolute;
    height: 4rem;
    top: 0;
}
.THIS .path, .THIS .dpr {
    background: #fff;    
    display: block;
    border-radius: 50px;
    position: absolute;
    z-index: 2
}
.THIS .dp {
    position: absolute;
    z-index: 3;
    display: block;
    border-radius: 50px;
    background: transparent;
}
.THIS .dpr-1, .THIS .dpr-3, .THIS .dp-1, .THIS .dp-3 {
    height: 4rem;
    width: 0.35rem;
    top: 5px;
}			
.THIS .dpr-1, .THIS .dp-1 {
    left: 2px;				
}
.THIS .dpr-3, .THIS .dp-3 {
    right: 2px;			
}
.THIS .dpr-2, .THIS .dp-2 {
    width: 99%;
    bottom: -5px;
    height: 0.35rem;
    left: 2px;				
}
.THIS .dp-1 {
    transition-delay: 0.9s; 
}
.THIS .dp-2 {
    transition-delay: 0.4s;                
}
.THIS .dp-3 {
    transition-delay: 0s;                
    transform: rotate(180deg);
    transform-origin: 3px 32px;
}
.THIS .dp-1, .THIS .dp-3 {
    height: 0rem;
    background: #2196F3;
}
.THIS .dp-2 {
    width: 0%;
    background: #2196F3;
}
/*animation*/
.THIS .direct-path.activated .dp-1 {
    height: 4rem;
    transition-delay: 0s; 
}
.THIS .direct-path.activated .dp-2 {
    width: 99.5%;
    transition-delay: 0.4s;
}
.THIS .direct-path.activated .dp-3 {
    height: 4rem;   
    transition-delay: 0.9s; 
}				
.THIS .step-progress--link.disabled {
    background: #e2e2e2;
}

.THIS .dpr-1, .THIS .dpr-2, .THIS .dpr-3, .THIS .dp-top {
    margin: 0;
    border: 0 none;
    background: none;
}
.THIS .dpr-1 {				
    border-left: 2px dashed #b7b7b7;				
}
.THIS .dpr-2 {				
    border-top: 2px dashed #b7b7b7;				
    height: 0;
}
.THIS .dpr-3 {				
    border-right: 2px dashed #b7b7b7;				
}
.THIS .dp-1, .THIS .dp-2, .THIS .dp-3 {
    z-index: 10
}
.THIS .dp-top {				
    border-top: 2px dashed #b7b7b7;				    
    top: -3px;
    z-index: 10;
}