.THIS .disabled-tab{
    pointer-events:none; 
    opacity:0.6;
}
.THIS .disabled-click{
    pointer-events:none; 
}

.THIS .zIndexClass{
   z-index:9000;
}
.THIS .resp-tab .slds-tabs_default__link{
    font-weight: 600;
} 
.THIS .resp-tab .slds-tabs_default__item.slds-is-active{
   /* color: rgb(59, 112, 211);*/
}
@media (max-width: 575px){
    .THIS {
        margin: -1rem
    } 
    .THIS .resp-tab{
        max-width: 100%;
        overflow: auto;
    }    
}