.section-header{
  background-color:hsla(219, 49%, 67%, 0.79);
    display: flex;
    border-radius: 3px;
    font-weight: 800;
    height: 28px;
}
.header-color{
   background-color: rgb(234, 235, 236);
}