.custom-container{
	color : black;
}
.section-header{
  background-color:hsla(219, 49%, 67%, 0.79);
    display: flex;
    border-radius: 3px;
    font-weight: 800;
    height: 28px;
}
.disabled-icon {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
}
.left{
    width:50%;
    vertical-align: bottom;
    padding-right: 15px;
}
.border-bottom{
    border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
    padding-bottom: 2px;
}