.THIS .slds-global-header_container{
    position:static !important;
}
.THIS.modal_main-content{
    margin: -1rem;
}
@media (min-width: 1200px){
    .THIS .fixed-body-height{
        max-height: 80vh;
        overflow: auto;
    }
}

.THIS .flex-alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 320px) and (max-width: 991px){
    .slds-section.ipadbottom.cAccounts_Current_RelationShips_Modal{
        padding-bottom: 55px !important;
        margin-top : 1rem;
    }
    .THIS .spinner-fixed-small-device{
        position: fixed;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation:Landscape){
    .slds-section.ipadbottom.cAccounts_Current_RelationShips_Modal{
        margin-top : 1rem;
    }
}
@media (max-width: 767px){
    .THIS .xs-tooltip .help-tooltip{
        left: calc(-100% - 12rem);
    	max-width: 12rem;
        -webkit-transform: translate(0, -25%);
    	-ms-transform: translate(0, -25%);
    	transform: translate(0, -25%);
    }
    .THIS .xs-tooltip .help-tooltip:before{
        width: 0.8rem;
    	height: 0.8rem;
        top: 20%;
        left: initial;
        right: -7px;
    }
}
@media (min-width: 992px) {
    .THIS .data-table--scroll-wrapper{
        max-height: 60vh;
    }
    .THIS .data-table thead th:first-child, .THIS .data-table tbody th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child, .THIS .data-table tbody th:last-child {
        padding-right: 1rem;
    }
    .THIS .slds-table--header-fixed_container.slds-p-top_none {
        border-top: none;
    }
}