x.custom-container{
	color : black;
}

/* strategicQuestions.css */
.slds-text-heading_small lightning-icon {
    vertical-align: middle;
}


.slds-modal__container {
    width: 85%;
    max-width: 85%;
    min-height: 105%;
}


.slds-modal__header {
    position: relative;
    text-align: left; 
    
}


.innerpopup .slds-modal__content{
    height: max-content;
    padding: 10px 20px;
}


.STRheadingSize {
    color: #012061;
}


.slds-text-heading_medium {
     text-align: center; 
     font-weight: bold;
}


.UHCsize {
  display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.uhc-logo {
    height: 100%;
    max-width: 80%;
}

.icon-hover-effect {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.WarniningModal {
    width: 55%;
    bottom: 3%;
}

.overlay {
    position: absolute;
    top: 9%;
    left: 0%;
    width: 100%;
    height: 80%;
    background-color: transparent; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
} 

.spinner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner-message {
    position: absolute;
    margin-top: 35px;
    font-size: 16px;
    color: #3d3535;
    font-weight: bold;
    text-align: center;
    z-index: 10000;
}


.Norecords {
    width: 30px;
    min-width: 30px;
    min-height: 40px;
}


.scroll-container {
    max-height: 150px;
    overflow-y: auto;
    padding-right: 0.5rem;
}


.table-container {
    max-height: 500px;
    overflow-y: auto;
}

.custom-table {
    table-layout: auto;
    width: 100%;
}


.custom-table th,
.custom-table td {
    word-wrap: break-word;
    white-space: normal;
    vertical-align: top;
}

.notes-column {
    max-width: 300px;
    word-wrap: break-word;
    white-space: normal;
}

.notes-header {
    max-width: 300px;
}



.rating-green {
    color: green;
   
}

.rating-yellow {
    color: #a08e0d;
   
}

.rating-red {
    color: red;
   
}

/* Optional: Change text color or font weight */
.accLabel {
    /* font-weight: bold;
    color: #afb5be; */
    --slds-c-accordion-summary-color-background :  #f4f1f1;
     --slds-c-accordion-summary-radius-border : 4px;
      outline: none !important;
    box-shadow: none !important;
}

.accLabel:focus { 
     outline: none !important;
    box-shadow: none !important;
     border: none !important;
}