@media (min-width: 992px) {
  .THIS .slds-edit  {
        top: 0;
        right: calc(100% + 10px);
    }
}	
.THIS .icon-brand .slds-icon-text-default {
    fill: #ffffff;
}
.THIS .textarea-edit label.slds-form-element__label {
    display: none
}
.THIS .textarea-edit textarea {
    height: 100px;
}