.THIS .search-label {
    width: 100%;
    flex: 0 0 100%;
}
.THIS .w-100 {
    width: 100%;
}
.THIS .navigation-top .slds-card__footer{
    padding: 0;
}
.THIS .search-input .uiInput--input.input {
    height: 1.875rem;
    line-height: 1.875rem;
    min-height: 1.875rem;
}
.THIS .footer-navigation{
    background: #f3f2f2;
    border-top: 1px solid #e2e2e2;
}
.THIS .search-filter--droplist_begins {
    width: 120px;
}
.THIS .search-filter--droplist_name {
    width: 80px;
}