.THIS .modal-body-padded{
    margin-left: -1rem;
    margin-right: -1rem;
}
.THIS .hidden-xs-up{
    display: none;
}
.THIS .form-btn{
    min-height: calc(2.125rem + 2px);
}
.THIS.slds-card.competitor-section{
    border: 1px solid #e2e2e2;
}
.THIS .reminderBgColor{
    background-color:darkgray;
}
.THIS.z-9052{
    z-index: 9052;
}
.THIS.z-9051{
    z-index: 9051;
}
.THIS.slds-modal--prompt .slds-modal__content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
@media (max-width: 575px){
    .THIS .tab-list ul li.slds-tabs_default__item{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .THIS .hidden-xs-up{
        display: block;
    }
    .THIS .xs-title{
        border-bottom: 1px solid #e2e2e2;
    }
    .THIS .xs-title h1{
        font-size: 1.25rem;
        font-weight: 600;
        color: rgb(6, 28, 63);
    }
}
@media (max-width: 767px){
    .THIS .search-product .search-pdt-wrapper{
        padding: 1rem;
    }
    .THIS .search-product .search-pdt-wrapper .input-container{
        padding: 0 0 0.5rem;
    }
    
    .THIS .btn-wrapper{
        justify-content: flex-end;
    }       
    
}
@media (max-width: 991px){
    .THIS .modal-body-padded{
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .THIS .search-product .THIS .input-container .THIS .uiInput--input{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    
}
@media (min-width: 992px){
    .THIS .product-table thead tr th div.slds-cell-fixed, .THIS .product-table tbody tr td {
        padding: .5rem .5rem;
    }
    .THIS .product-table thead tr th div.slds-cell-fixed {        		
        text-transform: uppercase;
        font-size: .75rem;
        background-color: rgb(255, 255, 255);
        /*position: relative;*/
        color: rgb(112, 110, 107);
    }
    .THIS .product-table thead tr th:first-of-type div.slds-cell-fixed, .THIS .product-table tbody tr td:first-of-type,
    .THIS .product-table tbody tr th:first-of-type {
        padding-left: 1.75rem;
    }
    .THIS .section-header{
        border-radius: 0.25rem 0.25rem 0 0;
    }
}
.THIS .help-text{
    border-top: 1px solid #dddbda;
}