table {
    table-layout: fixed;
    width: 100%;
}

.cell-width {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.slds-accordion {
    border: 1px solid #51515166;
    border-radius: 4px;
}

lightning-icon {
    cursor: pointer;
}

.record-delete-warning{
    background-color: #ba0516;
}

.disable-icon{
    pointer-events: none;
    cursor: not-allowed;
}

.popup-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.slds-dropdown_fluid{
    min-width:auto !important;
}