.custom-container{
	color : black;
}
/*.section-header{
    background-color:hsla(219, 49%, 67%, 0.79);
    display: flex;
    padding: 4px 10px;
    border-radius: 3px;
    font-weight: 800;
    height: 28px;
}*/
.section-header{
    background-color:hsla(219, 49%, 67%, 0.79);
    display: flex;
    border-radius: 3px;
    font-weight: 800;
    height: 48px;
}
.text-wrap {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.header-color{
   background-color: rgb(234, 235, 236);
}
.border-bottom{
    border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
    padding-bottom: 2px;
}
.left{
    width:50%;
    vertical-align: bottom;
    padding-right: 15px;
}
.cell-border{
    border-right: 1px solid; 
}
.section-header{
    background-color:hsla(219, 49%, 67%, 0.79);
    display: flex;
    
    border-radius: 3px;
    font-weight: 800;
    height: 28px;
}

table {
    border-radius: 3px;
  }