/*.slds-text-heading_medium {
  text-align: center;
  font-weight: bold;
  padding: 8px;
}*/

/* .aligntext {
  text-align: center;
  padding-left: 288px;
  font-size: large;
  font-weight: bold;
} */

.aligntext{
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.tableLayout {
  table-layout: fixed;
  width: 100%;
  /*border : 3px solid #DFE9F9; added new*/
}

.container {
  height: 50px;
  max-width: 100%;
  padding-top: 5px;
}

.div-left {
  float: left;
  padding-left: 10px;
}

.div-right{
  float:right;
  padding-right:10px;
}

.inner-container {
  height: 50px;
}

.inner-left {
  float: left;
  padding-right: 10px;
}

.inner-right {
  float: right;
}

.borderRightClass {
  border-right: 8px solid #56565685;
}

.borderRightClassRvp {
  border-right: 1px solid black;
}

.borderLeftClassRvp {
  border-left: 1px solid black;
}

.termed-client {
  /*margin-left: 7px;*/
  /*background-color: #44a2dacc;*/
  background-color: rgb(241 241 233);
  border-radius: 10px;
  color: black;
  font-size: 10px;
  width: 80px;
  height: 15px;
  display: inline-block;
  text-align: center;
  padding-top: 1px;
}

.slds-text-body_small {
  text-align: left;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
}

.blue-border {
  border: 3px solid #dfe9f9;
}

.blue-border-sce {
  border: 3px solid #dfe9f9;
}

.slds-table_cell-buffer tr>th:first-child, .slds-table_cell-buffer tr>td:first-child{
  padding-left: 10px;
}