.THIS .slds-p-around--medium{
    padding:0rem;
}
@media (min-width: 992px) {
    .THIS .data-table thead tr th:first-child,
    .THIS .data-table tbody tr th:first-child {
        padding-left: -1rem;
    }
    .THIS .data-table thead tr th:last-child,
    .THIS .data-table tbody tr th:last-child {
        padding-right: -1rem;
    }
}