.slds-text-heading_medium {
    text-align: center;
    font-weight: bold;
    padding: 8px;
}

.slds-text-heading_small {
    text-align: center;
    font-weight: bold;
    padding: 8px;
}

.slds-text-body_small {
    text-align: left;
    font-style: italic;
    padding-bottom: 8px;
    padding-left: 8px;
}

.headingStyle { 
    padding: 0 !important; 
    border-top: none !important;
    width: 20%;
    padding: 8px; 
}

.hidemodel{
    display: none;
}

.div-left{
    float:left;
    padding-left:10px;
}
.div-right{
    float:right;
    padding-right:10px;
}
.container {
    height:50px;
    max-width:100%;
    padding-top:5px;
}
.inner-container {
    height:50px;
}
  
.inner-left {
    float:left;
    padding-right: 10px; 
    padding-top: 6px;
}
  
.inner-right {
    float: right;
}

.sortIconPadding {
    padding-left: 3px;
    padding-top: 4px;
}

table.fixed { table-layout:fixed; width:100%; word-break:normal; }