.THIS .text-wrap {
    white-space: pre-line;
    word-wrap: normal;
}
.THIS .record-type .slds-radio {
    padding-bottom: 0.55rem;
}
.THIS .sort-link {
    padding: 0;
    height: auto;
    margin: -.25rem -.5rem;
    padding: 0.25rem 0.5rem;
}
.THIS .sort-link .slds-is-sortable__icon {
    display: block;
}
.THIS .data-table thead th:first-child, .THIS .data-table tbody td:first-child {
    padding-left: 1rem;
}
.THIS .data-table thead th:last-child, .THIS .data-table tbody td:last-child {
    padding-right: 1rem;
}
.THIS .slds-tabs_card .THIS .slds-card__footer{
    padding:8px;
}