.custom-container{
	color : black;
}
.section-header{
  background-color:hsla(219, 49%, 67%, 0.79);
    display: flex;
    border-radius: 3px;
    font-weight: 800;
    height: 28px;
}
.disabled-icon {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
}
.header-color{
   background-color: rgb(234, 235, 236);
}
.clear-data-btn {
    margin-top: 0.25rem;   
    margin-right: 0.5rem;  
    font-size: 0.9rem;  
}