.layoutClass{
    width : 100%;
}

.layoutItemClass{
    width : 50%;
    padding : 10px;
}

.slds-size_1-of-3, .slds-size--1-of-3 {
    width: 34.333333%;
}

.slds-size_2-of-3, .slds-size--2-of-3 {
    width: 65.666666%;
}

.hyperlinkClass{
    padding-top: 7px;
    padding-left: 10px;
}

.hidemodel{
    display: none;
}

.accordionClass{
    --sds-c-accordion-heading-font-size:13px;
    /*padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;*/
    
    /*--sds-c-accordion-summary-color-background: #F3F2F2;
    --sds-c-accordion-summary-color-background: #288bda;*/
    
    --sds-c-accordion-heading-text-color-hover: #fff;
    --sds-c-accordion-summary-color-background: rgba(130,159,212,.79);

    
}

/*.slds-accordion__summary-action*/
/*.slds-modal__container{
    max-width: 80rem !important;
    width: 65% !important;
}*/

.slds-p-around_medium{
    padding-top:7px;
}

/*.slds-form-element{
    border-bottom: 1px solid #ddd;
}*/

.readOnlyClass{
    border-bottom: 1px solid #ddd;
    pointer-events: none;
    min-height: 38px;
}
.readOnlyClass textarea{
    resize: none;
    border: none;
    height: 28px;
    padding-left: 0;
    overflow: hidden;
}

/*.slds-form-element__label{
    border:0px solid #58B9FA; 
    width:100%; 
    border-bottom: 1px solid #ddd;
}*/

.sharSavProgClass{
    width:100%;
	box-sizing:border-box;
	direction:rtl;
	display:block;
	max-width:100%;
	line-height:1.5;
	padding:15px 15px 30px;
	border-radius:3px;
	border:1px solid #F7E98D;
	font:13px Tahoma, cursive;
	transition:box-shadow 0.5s ease;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	background:linear-gradient(#F9EFAF, #F7E98D);
	background:-o-linear-gradient(#F9EFAF, #F7E98D);
	background:-ms-linear-gradient(#F9EFAF, #F7E98D);
	background:-moz-linear-gradient(#F9EFAF, #F7E98D);
	background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
}
p{
    min-height:32px;
}