.THIS .title-align{
   padding-right: 0.4rem !important;    
}
.THIS .data-table .slds-truncate, .THIS .data-table th {
    white-space: pre-line;
}
.THIS .data-table {
    font-size: 11px;
}

.THIS .data-table tr:last-child{
    background-color: rgb(250, 250, 249);
}
.THIS .emptyListFirm{
    background-color: rgb(254, 254, 254);
    font-weight: 500 !important;
    border-left: 1px solid rgb(221, 219, 218) !important;
}
.THIS .emptyListLine{
    background-color: rgb(254, 254, 254);
    font-weight: 500 !important;
    border-right: 1px solid rgb(221, 219, 218) !important;
}
.THIS .data-table tr:last-child th{ 
	font-weight: 700;
}
.THIS .table-title {
    background: #fafaf9;
    font-size: 14px;
}
.THIS .mw-50 {
    max-width: 50%;
}