.placeHolder {
    float : right;
}

.adjustButtonPosition {
    padding-right: 1rem;
}

.adjustDeleteRowPosition {
    width: 2%;
}

.addPopUpStyle {
    background: mintcream;
    height: 115%;
    margin-top: -2%;
}

.addCustomStyling {
    margin: 0 auto;
    width: 75%;
    margin-top: 5%;
}

.slds-modal__content {
    overflow: unset;
     overflow-y: unset;
}

.required {
    color: var(--lwc-colorTextError,rgb(194, 57, 52));
}

.fontColorAndSize {
    font-size: xx-small;
    color: var(--lwc-colorTextError,rgb(194, 57, 52));
}

.hidemodel {
    display: none;
}

.adjustHeight {
    height: 15rem;
}

.inlineFooter
{
	border-top: var(--lwc-borderWidthThick,2px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}

.forceRecordEditActions {
bottom : 0;
position: initial;
}

.forceRecordEditActions.button-container{
	width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: var(--lwc-spacingMedium,1rem) 0;
    margin: auto;
    display: flex;
	
}

.forceRecordEditActions .actionsContainer {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--lwc-spacingMedium,1rem);
}


.slds-float_right, .slds-float--right {
    float: right;
}

.marginTopStyling {
    margin-top: 50px;
}

.addCustomStylingForCreateNewContact {
    margin: 0 auto;
    width: 50%;
}

.slds-table_cell-buffer tr>th:first-child {
    padding-left: 8px;
}

.addOverFlowScroll {
    overflow: scroll;
}

.textColorRed {
    color : red;
}

.anchorLinkStyle {
    padding-bottom: 6px;
    font-size: 14px;
    padding-right: 30px;
    text-align: right;
}

.achorLinkSize {
    font-size: 11px;
}

.textColorRed {
    color: red;
}

.paddingLeftStyle {
    padding-left: 15px;
}

.addHeightStyle {
    height: 30px;
}