.THIS.modal_main-content {
    margin: -1rem;
}
@media (min-width: 992px) {
    .THIS .data-table thead th:first-child, .THIS .data-table tbody th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child, .THIS .data-table tbody th:last-child {
        padding-right: 1rem;
    }
    .THIS .data-table--scroll-wrapper{
        max-height: 60vh;
    }
}