.hidemodel{
    display: none;
}
.slds-button__icon {
    display: none;
}
.headingStyle { 
    padding: 0 !important; 
    border-top: none !important;
    width: 20%;
    padding: 8px; 
}
.FontSize{
    font-size: small;
}

.slds-tabs_default__item .slds-is-active  {
    font-size: large;
}
.aligntext{
    text-align: center;
    padding-left: 288px;
    font-size: large;
    font-weight: bold;
}
.paddingleft{
    padding-left:91%
}
.wordwarp{
    min-width: 210px;
    white-space: normal;
    text-align: center;
}
.div-left{
    float:left;
    padding-left:10px;
 }
 .div-right{
    float:right;
    padding-right:10px;
 }
 .container {
    height:50px;
    max-width:100%;
    padding-top:5px;
 }
 .inner-container {
    height:50px;
 }.inner-left {
    float:left;
    padding-right: 10px;
 }.inner-right {
    float: right;
 }
 .tableLayout{
    table-layout: fixed;
    width: 100%;
 }
 .textHeaderPadding {
    padding-left: 2px;
    padding-top: 2px;
 }
 .sortIconPadding {
    padding-left: 3px;
    padding-top: 4px;
 }

 .slds-text-body_small {
    text-align: left;
    font-style: italic;
    /*padding-bottom: 8px;
    padding-left: 8px;*/
}