.THIS .slds-truncate{
    white-space : normal;
}
.THIS .slds-table th .slds-table td{
    white-space : normal;
}
.THIS .dateAlign{
    padding : 2px;
    padding-right:20px;
}
.THIS .scrollerSize{
    overflow: auto;        
    height:auto;
    max-height:60px;
}
.THIS .uiScrollerWrapper{
    overflow: auto;     
    height:auto; 
    max-height:60px;
}
.THIS .readonly-textarea{
    max-height: 60px;
    overflow-y: auto;
    -ms-overflow-y: auto;
    word-break: break-word;
    white-space: pre-line;
    max-width: 100%;
    display: block;
}