.THIS{
    margin-left: -1rem;
    margin-right: -1rem;
}
.THIS .data-table thead th, .THIS .comp-data-table tbody tr th:first-child{
    font-weight: 600;
}
.THIS .data-table thead th:first-child, .THIS .data-table tbody td:first-child, .THIS .data-table tbody th:first-child{
    padding-left: 1rem
}
.THIS .data-table thead th:last-child, .THIS .data-table tbody td:last-child, .THIS .data-table tbody th:last-child{
    padding-right: 1rem
}
.THIS .data-table thead th .slds-truncate, .THIS .data-table tbody td .slds-truncate, .THIS .data-table tbody th .slds-truncate {
    white-space: pre-line;
}
.THIS h2.section-title {
    font-size: 0.95rem;
    font-weight: 600;
}
.THIS .border-wi-4{
    border-left-width: 4px;
}

.THIS .bold-child{
    font-weight: 600;
}