div input[readonly] {
    padding-left: 1.75rem !important;  
}
.slds-input{
    padding-left: 1.75rem !important;
}

.slds-input-has-icon .slds-input__icon {
    top: 32% !important;
}
.slds-icon_small, .slds-icon--small {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2;
}

.avoid-clicks {
    pointer-events: none;
    cursor: none;
}