.THIS .disabled-tab{
    pointer-events:none; 
    opacity:0.6;
}
.THIS .disabled-click{
    pointer-events:none; 
}

.THIS .zIndexClass{
   z-index:9000;
}
@media (max-width: 575px){
    .THIS {
        margin: -1rem
    } 
    .THIS .resp-tab{
        max-width: 100%;
        overflow: auto;
    }    
}