/*toggleCss.css*/
 .THIS.toggle {
   display: none;
 }
.THIS.financial-tooltip {
    display: inline-block;
}
.THIS .help-tooltip{
   	width: 20rem;
    top: 50%;
    left: calc(100% + 15px);
    transform: translate(0, -50%);
    white-space: pre-line;
}