.greyedOut{
	background: #ccc;
}

.norecrodSec{
	text-align: center;
    padding: 30px;
}

.cstmWidth{width: 12% !important;}
.slds-table th{text-align: center;}

.links-and-texts{
	font-size: small;
}

.header-instruction{
	color: #207dc5;
}