.modal-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Header - Dark Blue Background */
.custom-header {
    background-color: #003366; /* Dark Blue */
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
}

/* Light Background for Content */
.digitization-box {
    background-color: #ffffff; /* White Background */
    padding: 15px;
    border-radius: 5px;
    color: #333;
}

/* File Name - Bold Black */
.file-name {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

/* Buttons */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

/* Cancel Button - White with Border */
.cancel-button {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

/* Yes/OK Button - Blue Background */
.yes-button {
     background-color: #f0f8ff;
   }
/* Hover Effects */
.cancel-button:hover {
    background-color: #f0f8ff;
}

.slds-text-color {
    color: #003366;
    font-size: 13px;
}