.THIS .alignBghName{
    margin-top: -2px;
    margin-left: 5px;
}

.THIS .bghPopupDataAlign{
    display: flex;
    flex-wrap: wrap;
}

.THIS .bghPopupDataAlign .slds-form-element{
    width:24%;
}
.THIS .chk-box-container input{
    flex: 1 0 1rem;
}
@media (min-width: 768px) and (max-width: 991px){
    .THIS.slds-section.ipadbottom.slds-is-open{
        padding-bottom: 55px !important;
    }
    .cModal_Component_Template_Content_Table .alignheader{
        text-align:left;
    }
}
@media (min-width: 320px) and (max-width: 767px){
    .THIS .slds-form--inline .slds-form-element__label{
        display: inline-block;
    }
    .cModal_Component_Template_Content_Table .alignheader{
        text-align:left;
    }
    .THIS.slds-section.ipadbottom.slds-is-open{
        padding-bottom: 55px !important;
    }
    
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .THIS .BGHCheckboxAlign tbody td{
        display : block;
    }
    .THIS .w-100{
        width: 100%;
    }
    .THIS .alignBghName{
        flex: 1 0 95%;
    }
}
@media (max-width: 1199px){
    .THIS .chk-box-container input{
        flex: 1 0 22px;
    }
}