.THIS .sectionContentCollapse{
    height: 1px;
    overflow: initial;
    transition: none;
}
.THIS .slds-m-left_auto{
    margin-left: auto;
}
.THIS .btn-link{
    text-decoration: underline;
    cursor: pointer;
}
.THIS .btn-disabled{
    cursor: not-allowed;
}
.THIS .sectionContentExpand{
    height: auto;
    overflow: initial;
    transition: none;
}
.THIS .form-group .slds-icon-text-default{
    fill: rgb(228, 228, 228);
}
.THIS .form-group:hover .slds-icon-text-default{
    fill: rgb(112, 110, 107);
}
.THIS .form-group .form-tooltip .slds-icon-text-default, .THIS .form-group:hover .form-tooltip .slds-icon-text-default{    
    fill: rgb(176, 173, 170);
}
.THIS .form-group .slds-button--icon-container:hover .slds-icon-text-default{
    fill: rgb(0, 112, 210);
}
.THIS .collapse-section .section__content{
    height: 0px;
    transition: all .4s ease-in-out;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.THIS .collapse-section.is-open .section__content{
    height: auto;
    overflow: initial;
    visibility: visible;
    opacity: 1;
    transition: none;
}
.THIS .collapse-section .slds-button .slds-icon_container{
    transform: rotate(-90deg);
}
.THIS .collapse-section.is-open .slds-button .slds-icon_container{
    transform: rotate(0deg);
}
.THIS .form-edit .form-element__label, .THIS .form-edit .slds-form-element__label,
.THIS .risen .slds-form-element__label, .THIS .risen .form-element__label {
    padding-left: .5rem;
    display: inline-block;
}
.THIS .slds-form-element__help.slds-m-top_xx-small{
    font-style: italic;
    color: #818181;
    margin: 0;
    padding-bottom: 3px;
}
.THIS .slds-form-element__label{
    color: rgb(84, 84, 84);
    font-size: 0.8rem;
    word-break: normal !important;
}
.THIS div.slds-form-element.form-tooltip div.slds-popover{
   bottom: calc(100% + 13px);
    left: 130px;
    min-width: 30rem;
    transform: translate(-50%, 0);
    width: auto;
}
.THIS .slds-form-element.form-tooltip {
    display: inline-block;
    vertical-align: text-bottom;
    width: 0%;
}
.THIS .err-bkg{
    background: rgb(250, 255, 189);
}
.THIS .err-msg{
    display: none;
}
.THIS .err-bkg .err-msg{
    display: block;
}
.THIS .kanban-title{
    font-size: 0.9rem;
    font-weight: 600;
    color: #19305d;
    margin-bottom: 0.8rem;
}
.THIS .textCounter{
	position: absolute;
    bottom: 10px;
    right: 6px;
    padding: 0.1em 0.5em;
    /* background: rgb(22, 50, 92); */
    color: #0070d2;
    font-size: 11px;
    border-radius: 2px 0 0 0;
    font-weight: 600;
}
.THIS .textarea-Counter{
    background: transparent;
    border: none;
    padding: 0;
}
.THIS .textarea-Counter.slds-form-element__label{
    display:none;
}
.THIS .slds-accordion__show{
    visibility: visible;
    opacity: 1;
    height: auto;
    overflow: visible;
}
.THIS .appletHeader{
    padding: 0.5rem 0.8rem;
}
.THIS .bottom-margin-m{
    margin-bottom: 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .THIS .slds-section__content.section__content{
        overflow: inherit;
    }
}
.THIS div.slds-form-element.form-tooltip div.slds-popover.tooltip-lg{
    min-width: 35rem;
    max-width: 35rem;
    transform: translate(-27%, 0);
}
.THIS div.slds-form-element.form-tooltip div.slds-popover.tooltip-lg:before, .THIS div.slds-form-element.form-tooltip div.slds-popover.tooltip-lg:after{
    left: 27%;
    margin-left: -0.5rem;
}
.THIS div.slds-form-element.form-tooltip div.slds-popover.tooltip-lg .slds-popover__body {
    max-height: 200px;
    overflow: auto;
}
.THIS .hightlighfocus {
    background-color: yellow;
}