.THIS .bold{
    font-weight: bold;
}
.THIS .userList .slds-card__header .slds-card__footer{    
    margin-bottom: 0;
}
.THIS .prev-btn .slds-card__footer, .THIS .userList .slds-card__header .slds-card__footer{
    padding: 0;
}
@media (min-width: 320px) and (max-width: 575px){
    .THIS .uiInputSelect .uiMenuList{
        flex-wrap:wrap;
    }
    .THIS .consult-drop{
        display:flex;
        justify-content: flex-start;
    }
    .THIS .search-align{
        width: 100%;
        padding-top: 1em;
        
    }
    .THIS .last-align{
       padding-right:5px;
        width:50%;
                margin-right:0;
    }
    .THIS .begin-align{
        width:50%;
                margin-right:0;
    }
    .THIS .input-align{
        width:100%; 
        margin-right:0;
        
    }
    .THIS .go-btn{
        margin-right: 5px;
        margin-bottom:1em;
    }
    .THIS .clr-btn{
        margin-bottom:1em;
    }
    .THIS .prev-btn{
        margin:0;
        margin-left:auto;
        /*margin-bottom:1em;*/
    }
    .THIS .nm-wdt{
        width:100%;
        margin-right:0;
    }
    .THIS .input-align .nm-wdt{
        margin-top:.75rem;
    }
    .slds-section.ipadbottom.THIS{
        padding-bottom: 55px !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .THIS .last-align ,.THIS .begin-align, .THIS .input-align{
        width:auto;
    }
    .THIS .input-align{
        margin-right:4em;
        width:40%;
    }
    .THIS .go-btn , .THIS .clr-btn{
        margin-top:.75rem !important;
    }
    .THIS .uiInputSelect .uiMenuList{
        flex-wrap:wrap;
    }
     .THIS .search-align{
        width: 100%;
    }
    .THIS .cAccount_Consultant_Find_Modal .account-team--popup>div:nth-child(5) {
    margin-left: auto;
    }
    .THIS .cAccount_Consultant_Find_Modal .account-team--popup>div:last-child {
    margin-left: initial;
}
    .slds-section.ipadbottom.THIS{
        padding-bottom: 55px !important;
    }
    .THIS .prev-btn{
        margin:0;
    }
    .THIS .go-btn{
        margin-left:auto;
    }
    .THIS .mr-sm-0{
        margin-right: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .THIS .account-team--popup{
        flex-wrap: wrap;
    }
    .THIS .account-team--popup > div:last-child{
        margin-left: initial;
    }
    .THIS .account-team--popup > div:nth-child(5){
        margin-left: auto;
    }
    .THIS .account-team--popup > div:nth-child(5), .THIS .account-team--popup > div:nth-child(6), .THIS .account-team--popup > div:nth-child(7){
        padding-top: 0.75rem;
    }
    .THIS .seperator-md{
        border-right: 1px solid #eaeaea;
    }
    .THIS .last-align, .THIS .begin-align, .THIS .input-align{
        /*padding-right:2px !important;
        margin-right:0 !important;*/
    }
     .slds-section.ipadbottom.THIS{
        padding-bottom: 55px !important;
    }  
    .THIS .last-align .slds-form-control{
        /*padding-right:0;*/
         width:auto;
    }
    .THIS .mt-md-0, .THIS .prev-btn button.uiButton{
        margin-top: 0;
    } 
}
@media (min-width: 992px) and (max-width: 1199px){
    .THIS .account-team--popup{
        flex-wrap: wrap;
    }
    .THIS .prev-btn{
        display: inline-flex;
        flex: 1 0 auto;        
        padding-top: 0.75rem;
        justify-content: flex-end;
    }
    .THIS .ph-lg-0{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .prev-btn button.uiButton{
        margin-top: 0;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation:Landscape){
    .THIS .last-align, .THIS .begin-align, .THIS .input-align{
        padding-right:2px !important;
    }
    
    .slds-section.ipadbottom.THIS{
        padding-bottom: 55px !important;
    }
}

@media (min-width: 320px) and (max-width: 1199px){
    .THIS.slds-section.ipadbottom.slds-is-open{
        padding-bottom: 55px !important;
    }
}
@media (min-width: 575px) and (max-width: 767px) and (orientation:landscape){
    .THIS .input-align{
        width: 47%;
    }
}
@media (min-width: 767px) and (max-width: 991px) and (orientation:portrait){
    .THIS .input-align{
        margin-right: 0;
        max-width: 200px;
    }
}

@media (min-width: 1200px){
    
    .THIS .spinner-desktop{
        position: absolute;
    }
    
    .THIS .scrollerSize, .THIS .uiScrollerWrapper{
        overflow: auto;        
        height:auto;
        max-height: 250px;
    }
}