.hidemodel{
    display: none;
}
.slds-button__icon {
    display: none;
}
.headingStyle { 
    padding: 0 !important; 
    border-top: none !important;
    width: 20%;
    padding: 8px; 
}
.FontSize{
    font-size: small;
}

.slds-tabs_default__item .slds-is-active  {
    font-size: large;
}
.aligntext{
    text-align: center;
    padding-left: 28%;
    font-size: large;
    font-weight: bold;
}
.alignPrintButton{
    padding-left:91%
}
.div-left{
    float:left;
    padding-left:10px;
 }
 .div-right{
    float:right;
    padding-right:10px;
 }
 .container {
    height:50px;
    max-width:100%;
    padding-top:5px;
 }
 .inner-container {
    height:50px;
 }.inner-left {
    float:left;
    padding-right: 10px;
 }.inner-right {
    float: right;
 }
 .tableLayout{
    width: 100%; 
 }
 .textHeaderPadding {
    padding-left: 2px;
    padding-top: 2px;
 }
 .sortIconPadding {
    padding-left: 3px;
    padding-top: 4px;
 }