.THIS .slds-icon{
    height: 40px;
    width: 40px;
}
.THIS .slds-icon-custom-custom102{
    height:42px;
    width: 42px;
}
.THIS .divHeightWidth {
    height:400px;
    width : 200px;
}
.THIS .clientmebership {
    margin-left: 28px;
}
.THIS .navigate {
    padding-left: 20px;
    font-size: 18px;
}
.THIS .fontbold {
    font-weight: bold;
}

.THIS .container{
    box-shadow: none  !important ;
     background-color: none  !important ;
    border-top: none !important ; 
    
}
.THIS .mailfont{
    font-size: 18px;
}
/*.THIS .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover>td:not(.slds-is-selected), .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover>th:not(.slds-is-selected), .slds-table_bordered:not(.slds-no-row-hover) tbody tr:focus>td:not(.slds-is-selected), .slds-table_bordered:not(.slds-no-row-hover) tbody tr:focus>th:not(.slds-is-selected), .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover>td:not(.slds-is-selected), .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover>th:not(.slds-is-selected), .slds-table--bordered:not(.slds-no-row-hover) tbody tr:focus>td:not(.slds-is-selected), .slds-table--bordered:not(.slds-no-row-hover) tbody tr:focus>th:not(.slds-is-selected) {
     box-shadow: none  !important ; 
}


.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover>td, .slds-table:not(.slds-no-row-hover) tbody tr:hover>th, .slds-table:not(.slds-no-row-hover) tbody tr:focus>td, .slds-table:not(.slds-no-row-hover) tbody tr:focus>th {
     background-color: none  !important ;
}


.THIS .slds-table_bordered tbody td, .slds-table_bordered tbody th, .slds-table--bordered tbody td, .slds-table--bordered tbody th {
     border-top: none !important ; 
}*/