.THIS .buttonDefaultWidth {
    /*width: 110px;
    margin-left: 0!important;
    padding-left: 0.25em;
    padding-right: 0.25em;*/
    width: 50px;
    padding-left: 1px;
    padding-right: 1px;
}

@media (min-width: 320px) and (max-width: 991px){
	.THIS .slds-p-left_x-large{
            padding-left: 0px;
    }
    .THIS .slds-p-left--medium[title = "Edit Primary"], .THIS .slds-p-left--medium[title = "Find"]{
        padding-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .THIS .slds-p-left--medium[title = "Edit Primary"], .THIS .slds-p-left--medium[title = "Find"], .THIS .pl-md-0{
        padding-left: 0;
    }
}