.THIS input.uiInput--checkbox[type=checkbox][disabled].checkBox-ReadonlyColor {
    background-color: rgb(158, 162, 168);
}
.THIS .alignDateField {
    padding-left: 0.2rem;
}
@media (min-width: 992px) {
    .THIS input.uiInput--checkbox[type=checkbox].alignDataCenter {
        margin:auto;
    }
    .THIS .alignDataCenter1 {
        text-align:center;
    }
}
@media (min-width: 992px) {
     .THIS .column-Header-text-padding {
    	padding-left : 2rem;
	 }
}