.THIS .slds-card__header {
    padding-top: 0.20rem;
    margin-bottom: 0.20rem;
}
.THIS .headerHeight{
    padding-left: 8px;
}
.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}
.THIS .toggle {
    display: none;
}

.THIS .slds-truncate{
    white-space: pre-wrap;
}

.THIS .show-full-list{
    display: block;
    float: left;
    margin-top: 1rem;
}
.THIS .MAscrollerSize{
    max-device-width : 100%;
}
.THIS .show-list{
    background: #fafaf9;
    border-bottom: 1px solid #dddbda;
}
.THIS .no-sort {
    padding: 0.45rem .5rem;
}
.THIS .spinner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    z-index: 99;
}
.THIS .slds-spinner {
    z-index: 100;
}
@media (min-device-width: 320px) and (max-device-width: 991px){
    .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:Landscape){
    .THIS .MembershipActivityTable .EstimatedMedical{
        width : 11%;
    }   
}

.THIS .flex-alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS.toggle {
    display: none;
}
.THIS .MembershipActivityTable .slds-th__action{
    height: auto;
}
.THIS .slds-table--header-fixed_container {
    border-top: 1px solid #dddbda;
}
@media (max-device-width: 991px){
    .THIS .spinner-fixed-small-device{
        position: fixed;
    }
}
@media (min-device-width: 1200px){
    .THIS .scrollerSize{
        overflow: auto;        
        height:auto;
        max-height: 400px;
    }
    .THIS .uiScrollerWrapper{
        overflow: auto;     
        height:auto;
        max-height: 400px;
    }
}
@media (min-device-width: 992px) and (max-device-width: 1199px){
    .THIS .scrollerSize{
        max-height : 75vh;
    }
    .THIS .tbl-scroll table{
        width: 1400px;
    }
    .THIS .tbl-scroll{
        max-height: 64vh;
    }
}
@media (min-device-width: 1200px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
}
@media (min-device-width: 992px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
    .THIS .accordion-section {
        padding: 0.35rem 1rem;
    }
    .THIS .accordion-section .slds-accordion__content{
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .THIS .data-table thead th:first-child,
    .THIS .data-table tbody th:first-child {
        padding-left: 1rem
    }
    .THIS .data-table thead th:last-child,
    .THIS .data-table tbody th:last-child {
        padding-right: 1rem
    }
    .THIS .data-table thead th:first-child .slds-th__action{
        padding-left: 0;
    }
    .THIS .data-table--scroll-wrapper{
        max-height: 160px;
    }
}
@media (max-device-width: 767px){
    .THIS .xs-tooltip .help-tooltip{
        left: calc(-100% - 12rem);
    	max-device-width: 12rem;
        -webkit-transform: translate(0, -25%);
    	-ms-transform: translate(0, -25%);
    	transform: translate(0, -25%);
    }
    .THIS .xs-tooltip .help-tooltip:before{
        width: 0.8rem;
    	height: 0.8rem;
        top: 20%;
        left: initial;
        right: -7px;
    }
    .THIS .xs-tooltip .help-tooltip:after{
        display:none;
    }
}
.THIS .d-inline-block{
   display: inline-block;
    max-device-width: 100%;
}
@media (min-device-width: 320px) and (max-device-width: 767px){
    .THIS .action-bar-mobile{
        display: block;
    }
    .THIS .show-md-down{
        display: block;
    }
    .THIS .show-md-up{
        display: none;
    }
    .THIS .appletAddBtn{
        display: flex;
        align-items: center;
    }
    .THIS .appletAddBtn .uiButton, .THIS .appletAddBtn .button-icon{
        padding: 0 0.5rem;        
        border: none;
    }
    .THIS .appletAddBtn .uiButton:hover, .THIS .appletAddBtn .uiButton:focus, .THIS .appletAddBtn .button-icon:hover, .THIS .appletAddBtn .button-icon:focus{
        background: transparent;
    }
    .THIS .appletAddBtn .uiButton .slds-icon-text-default, .THIS .appletAddBtn .button-icon .slds-icon-text-default{
        fill: rgb(0, 112, 210);
    }
    .THIS .help-tooltip{
        left: initial;
        right: calc(100% + 1px);
        -webkit-transform: translate(0, -46%);
        -ms-transform: translate(0, -46%);
        transform: translate(0, -46%);
    }
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: -.4rem;
    }
    .THIS .ui-m-btn button, .THIS .ui-m-btn button.uiButton{
        padding: 0.3rem 0.65rem;
    }
    .THIS .ui-m-btn button svg, .THIS .ui-m-btn button.uiButton svg{
        width: 20px;
    }
    .THIS .ui-m-btn button[disabled] svg, .THIS .ui-m-btn button.uiButton[disabled] svg{
        opacity: 0.5;
    }
    .THIS .ui-m-btn-group button, .THIS .ui-m-btn button.uiButton{
        border-radius: 0;
        margin-left: 0;
    }
    .THIS .ui-m-btn-group button:not(:first-child), .THIS .ui-m-btn button.uiButton:not(:first-child){
        border-left: 0px;
    }
    .THIS .ui-m-btn-group button:first-child, .THIS .ui-m-btn button.uiButton:first-child{
        border-radius: 0.25rem 0 0 0.25rem;
    }
    .THIS .ui-m-btn-group button:last-child, .THIS .ui-m-btn button.uiButton:last-child{
        border-radius: 0 0.25rem 0.25rem 0;
    }
}
@media (max-device-width: 1199px){
	.THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks {
      pointer-events: none;
    }
    .THIS .iosBottom{
        bottom: 65px;
        position: fixed;
    }
	.slds-section.ipadBottomIos.slds-is-open.THIS{
        padding-bottom: 125px !important;
    }
	.THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
	.THIS .save-cancel-bg .action{
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }    
    .THIS .save-cancel-bg .action:first-child{
        justify-content: flex-end;
    }
    .THIS .save-cancel-bg .action:last-child{
        justify-content: flex-start;
    }
	 .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    } 
    .THIS .cScroll-table{
        height: 100vh;
        padding-bottom: 180px;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .THIS .cScroll-table > *:not(.slds-card__header){
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
    }
    .THIS .actionButtons{
        left: 0;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1199px){
    .THIS .sortEdit .actionButtonsWrapper{
        justify-content: center;
    }
    .THIS .sortEdit .actionButtonsWrapper > div.action{
        flex: 0 0 25%;
        max-width: 25%;
    }    
    
}
.THIS .hide {
    display: none;
}
.THIS .slds-button:focus {
	box-shadow: none;
}
@media (max-device-width: 1199px){
    .THIS .action-bar-mobile{
        display: none;
    }
}
.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}