/*toggleCss.css*/
.THIS.toggle {
    display: block;
}
.THIS.help-tooltip{
    width: 35rem;
    max-width: 50rem;
    left: calc(100% + 15px);    
    transform: translate(0, -35%);
    text-transform : none;
    top: 60%
}
.THIS.slds-nubbin_right:before, .THIS.slds-nubbin--right:before {
    top: 34%;
    left: -9px;
}
.THIS.slds-nubbin_right:after, .THIS.slds-nubbin--right:after {
    display:none;
}
@media (min-width: 320px) and (max-width: 575px){
.THIS.cRiskProfileToolTip.help-tooltip {
    width: 15rem;
}
}
@media (min-width: 320px) and (max-width: 575px) and (orientation:Landscape){
  .THIS.cRiskProfileToolTip.help-tooltip {
    width: 30rem;
}  
}