@media (min-width: 991.98px) {
    /* .THIS.opportunity-tab--wrapper .info {
    margin-bottom:0;
}*/
    .THIS .slds-data-table-container {
        height: 45vh;
    }
    .THIS .slds-data-table-container.no-edit {
        height: 54vh;
    }
    .THIS.opportunity-tab--wrapper .slds-data-table-container {
        height: 56vh;
    }
    .THIS .slds-data-table-container .slds-table .slds-cell-edit {
        padding-right: 1.2rem;
    }
    .THIS .data-table thead th:first-child a, .THIS .data-table tbody td:first-child, .THIS .data-table tbody th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child a, .THIS .data-table thead th:last-child, .THIS .data-table tbody td:last-child,.THIS .data-table tbody th:last-child {
        padding-right: 1rem;
    }
    .THIS .data-table thead th:first-child a.slds-cell-fixed {
        
    }
    .THIS th .no-hover:hover {
        background: transparent;
    }
}

.THIS .slds-tabs_default__nav{
    background:#fff;
}