/*toggleCss.css*/
 .THIS.toggle {
   display: none;
 }
.THIS.help-tooltip{
    max-width: 25rem !important;
   	width: 25rem !important;
    top: 50%;
    left: calc(100% + 15px);
    transform: translate(0, -50%);
}