.sampleClass{
    font-size:11px;
}

.hidemodel{
    display: none;
}

.main-header{
    background-color:hsla(219, 49%, 67%, 0.79);
    display: flex;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 17px;
}

.left{
    width:50%;
    vertical-align: bottom;
    padding-right: 15px;
}

.border-bottom{
    border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
    padding-bottom: 4px;
}

.section-name{
    line-height: 30px;
    padding-left: 10px;
    border-radius: 3px;
    background-color: hsla(219, 49%, 67%, 0.79);
    font-weight: bold;
}

.question-name{
    line-height: 25px;
    border-radius: 3px;
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 10px;
    background-color: #f3f3f3;
    font-weight: bold;
}

.answer-class{
    margin-left: 10px;
    margin-right: 10px;
    /* overflow-x: auto; */
}

.other-info{
    line-height: 20px;
    border-radius: 3px;
    padding-left: 10px;
    background-color: #f6f8e0;
    width: 100%;
}

:host {
    --sds-c-textarea-sizing-min-height: 70px;
 }

.textCounter{
    position: absolute;
    bottom: 10px;
    right: 6px;
    padding: 0.1em 0.5em;
    color: #0070d2;
    font-size: 11px;
    border-radius: 2px 0 0 0;
    font-weight: 600;
}

.alternateMessageClass{
    text-align: center;
    font-size: 15px;
    padding-top:30px;
}

/* .overflow-scrollable{
    overflow-x: auto;
} */