.THIS.toggle {
    display: none;
}
.THIS.help-tooltip{
    width: 25rem;
    max-width: 25rem;
    top: -13px;
    left: calc(100% + 8px);
}
.THIS.tooltip-icon .slds-form-element__icon {
    padding-top: 0;
}
@media (max-width: 575.98px) {
    .THIS.help-tooltip {
        width: calc(100vw - 165px);
    }
}
@media (max-width: 767.98px) {
    .THIS.help-tooltip {
        top: -6px;
        transform: translate(0, 0);
        right: calc(100% + 15px);
        left: auto;
        width: calc(100vw - 135px);
    }
    .THIS.help-tooltip:before, 
    .THIS.help-tooltip:after {
        top: 12px;
        left: auto;
        right: -0.5rem;
        margin-top: 0;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .THIS.help-tooltip {
        width: calc(100vw - 135px);
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .THIS.help-tooltip {
        top: -6px;
        transform: translate(0, 0);
        width: calc(100vw - 135px);
    }
    .THIS.help-tooltip:before, 
    .THIS.help-tooltip:after {
        top: 12px;
        margin-top: 0;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .THIS.help-tooltip {
        /*width: calc(100vw - 335px);*/
        width: calc(100vw - 395px);
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .THIS.help-tooltip {
        top: -8px;
        width: calc(100vw - 435px);
    }
}