.THIS .slds-card > .slds-section__content {
    padding-top: 0;
}
.THIS .display{
    display:none;
}
.THIS .displayBlock{
    display:block;
}
.THIS .dropDownColor{
    fill: currentColor;
}
.THIS .borderRemove {
    border:none;
    width: 100%;
}
/*.THIS .slds-card__header {
    padding-top: 8px;
    margin-bottom: .2rem;
}*/
.THIS .slds-box {
    padding: 0rem;
    height: 50px;
}
.THIS .slds-box {
    border: 0px solid rgb(216, 221, 230);
}

.THIS .slds-section.slds-is-open .slds-section__content {
    padding-top: 0px;
}
.THIS .padding-top-zero{
    padding-top:0px !important;
    position:relative;
}
.THIS .slds-button:focus {
   box-shadow: 0 0 0px #0070d2;
}
/*.THIS .slds-card__header {
    padding-top: 0.20rem;
    margin-bottom: 0.20rem;
}*/
.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}
.THIS .toggle {
    display: none;
}
.THIS .bold{
    font-weight: bold;
}
/*.THIS .appletHeader{
    padding: 0.5rem 0.8rem;
}*/
.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .show-md-down{
    display: none;
}
.THIS .show-md-up{
    display: block;
}
.THIS .helptext.show-md-up, .THIS .helptext.show-md-down{
    margin-top: -2px;
}
/*.THIS .help-tooltip{
    left: calc(100% + 6px);
}
.THIS .help-tooltip:after, .THIS .help-tooltip:before{
    width: 0.8rem;
    height: 0.8rem;
    left: -0.4rem;
}*/
@media (max-device-width: 1199.98px) {
    .THIS button.action-bar-mobile {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 575px){
    .slds-section.ipadbottom.slds-is-open.cMembership_Activities_CMCD{
        padding-bottom: 55px !important;
    } 
    
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 2;
    	flex: 1 0 0;
    }
    .THIS .slds-mobile--header .helptext{
        order: 3;
    }
    .THIS .slds-mobile--header .header-content{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .slds-mobile--header, .THIS .slds-mobile--header .header-content{
        margin-bottom: 0            
    }
    .THIS .slds-mobile--header{
        padding-bottom: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .slds-section.ipadbottom.slds-is-open.cMembership_Activities_CMCD{
        padding-bottom: 55px !important;
    } 
    .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 2;
    	flex: 1 0 0;
    }
    .THIS .slds-mobile--header .helptext{
        order: 3;
    }
    .THIS .slds-mobile--header .header-content{
        padding-left: 0;
        padding-right: 0;
    }
    .THIS .slds-mobile--header, .THIS .slds-mobile--header .header-content{
        margin-bottom: 0            
    }
    .THIS .slds-mobile--header{
        padding-bottom: 1rem;
    }
    .THIS .tab-btn{
       position: absolute;
        bottom: 50px;
    	right: 0; 
    }
    .THIS .tab-btn .cPagination{
        background:#fff;
    }
    .THIS .tbl-btm-spc{
        padding-bottom:85px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation:Landscape){
     .THIS .slds-mobile--header{
        -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .THIS .slds-mobile--header .slds-media.slds-media--center{
        order: 2;
    	flex: 1 0 0;
    }
    .THIS .slds-mobile--header .helptext{
        order: 3;
    }
}
@media (max-device-width: 1199px){
    .THIS .avoid-clicks {
        pointer-events: none;
    }
     .THIS .show-md-down{
        display: block
    }
    .THIS .show-md-up{
        display: none;
    }
    /*.THIS .help-tooltip{
        left: initial;
        right: calc(100% + 6px);
        transform: translate(0, -18%);
    }
    .THIS .help-tooltip:before, .THIS .help-tooltip:after{
        left: initial;
    	right: -0.4rem;
        top: 25%;
    }*/
}
@media (min-width: 992px){
    .THIS .data-table thead th:first-child, .THIS .data-table tbody th:first-child,
    .THIS .data-table tbody td:first-child, .THIS .data-table thead th:first-child a.slds-th__action 
    {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child, .THIS .data-table tbody th:last-child, .THIS .data-table tbody td:last-child, 
    .THIS .data-table thead th:last-child a.slds-th__action{
        padding-right: 1rem;
    }
   /* .THIS .cell-freeze{
        position: absolute;
        width: 16rem!important;
        left: 0;
        top: auto;
        border-top: 1px solid #dddbda;
    }
    .THIS .data-table tbody tr:last-child .cell-freeze, .THIS .membership_data_table {
        border-bottom: 1px solid #dddbda;
    }
    .THIS thead .cell-freeze{
        margin-top: -1px;
    }
    .THIS .membership_data_table .scrollable {
        margin-left: 16rem;
    	border-left: 2px solid #dddbda;
    }*/
    .THIS .data-table thead th.slds-is-sortable {
        padding: 0;
    }
    .THIS .data-table thead a.slds-th__action .slds-icon_container .slds-is-sortable__icon{
        display: block;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .THIS .data-table thead a.slds-th__action:hover .slds-is-sortable__icon{
        display: block;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}
@media (max-width: 1199.98px) {
    .THIS.slds-section {
        margin: -1rem;
    }
    .THIS.slds-section .slds-card {
        border-radius: 0;
        border: none;
    }
}
@media (max-width: 991.98px) {
    .THIS .data-table thead tr th,
    .THIS .data-table tbody tr th {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.THIS .table-scroll {
    overflow: hidden;
}