.THIS .checkbox-group .slds-form-element__control{ 
    display: flex;
    flex-wrap: wrap;
}
.THIS .checkbox-group .slds-form-element__control .slds-checkbox {
    flex: 0 0 calc(100% / 3);
    margin-bottom: 0.25rem;
}
.THIS.alert-box {
    z-index: 10000;
}
.THIS .error-popup {
    max-width: 30rem;
}
.THIS .bold-heading{
    font-weight: bold;
}