.THIS .slds-global-header_container{
    position:static !important;
}
.THIS .fixed-body-height{
    height:auto;
}    
.THIS.modal-content{
    margin: -1rem;
}
.THIS .foot-pagination{
    background: #f3f2f2;
    border-top: 1px solid #e2e2e2;
}

@media (min-width: 1200px){
    .THIS .fixed-body-height{
        max-height:290px;
        overflow: auto;
    }  
    
    .THIS .minHeightForMod{
        min-heigh:150px;
    }
}
.THIS .slds-text-title--caps{
    height:35px;
}
.THIS .slds-truncate{
    white-space: normal;
    word-break: break-word;
}
.THIS .consultantHistroyForm form{
    align-items: center;
}
@media (min-width: 320px) and (max-width: 991px) {    
    .THIS.slds-section.ipadbottom{
        padding-bottom: 30px !important;
    }
    .THIS .ip-pad{
        padding-bottom: 20px !important;
    }   
}

@media (min-width: 768px) and (max-width: 991px){
    
    .THIS .seperator-md{
        border-right: 1px solid #eaeaea;
    }
    .THIS .mt-md-0, .THIS .prev-btn button.uiButton{
        margin-top: 0;
    } 
    .THIS .prev-btn .slds-card__footer{
        padding: 0;
    }
    .THIS .prev-btn {
        margin-top: 0.75rem !important;
        padding-left: 0.2rem;
        padding-top: 0 !important;
    }    
    .THIS .input-align{
        flex: 1 0 auto;
        max-width: 210px;
    }
}

@media only screen and (device-width: 768px) {
    .THIS .ip-pad{
        padding-bottom: 60px !important;
    }
}

@media (max-width: 1199px){
    .THIS.slds-section.ipadbottom{
        /*max-height: 75vh;
        overflow: auto;
        margin-bottom:10px;*/
    }
}

/*
* Go Clear Buttons UI fix in Mobile devices - START
*/ 
@media (min-width: 768px) and (max-width: 991px){
    .THIS .account-team--popup{
        flex-wrap: wrap;
    }
    .THIS .account-team--popup > div:last-child{
        margin-left: initial;
    }
    .THIS .account-team--popup > div:nth-child(5){
        margin-left: auto;
    }
    .THIS .account-team--popup > div:nth-child(5), .THIS .account-team--popup > div:nth-child(6), .THIS .account-team--popup > div:nth-child(7){
        padding-top: 0.75rem;
    }
    .THIS .prev-btn{
        margin-bottom:0px;
    }
    .THIS .last-align, .THIS .begin-align, .THIS .input-align{
        /*padding-right:2px !important;
        margin-right:0 !important;*/
    }
    .slds-section.ipadbottom.THIS{
        padding-bottom: 30px !important;
    }  
    .THIS .input-align{
        margin-right: 0;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .THIS .account-team--popup{
        flex-wrap: wrap;
    }
    /*.THIS .account-team--popup > div:last-child{
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.75rem;
}*/
    .THIS .ip-pad{
        padding-bottom: 0 !important;
    }
    .THIS .foot-pagination .slds-card__footer{
        padding-top: 0;
    }
    .THIS .go-btn .uiButton, .THIS .clr-btn .uiButton{
        margin-top: 0;
    }
}
@media (min-width: 320px) and (max-width: 575px){
    .THIS .uiInputSelect .uiMenuList{
        flex-wrap:wrap;
    }
    .THIS .search-align{
        width: 100%;
        padding-top: 1em;
        
    }
    .THIS .last-align{
        padding-right:5px;
        width:50%;
        margin-right:0;
    }
    .THIS .begin-align{
        width:50%;
        margin-right:0;
    }
    .THIS .input-align{
        width:100%; 
        margin-right:0;
        
    }
    .THIS .go-btn{
        margin-right: 5px;
        margin-bottom:1em;
    }
    .THIS .clr-btn{
        margin-bottom:1em;
    }
    .THIS .prev-btn{
        margin:0;
        margin-left:auto;        
        padding-bottom:0px
    }
    .THIS .nm-wdt{
        width:100%;
        margin-right:0;
    }
    .THIS .input-align .nm-wdt{
        margin-top:.75rem;
    }
    .THIS .prev-btn .uiButton{
        margin-top: 0;
    }
    .THIS .prev-btn .slds-card__footer{
        padding-top: 0.55rem;
        padding-right: 0;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    
    .THIS .seperator-md{
        border-right: 1px solid #eaeaea;
    }
    .THIS .prev-btn .slds-card__footer{
        padding: 0;
    }
    .THIS .prev-btn, .THIS .go-btn, .THIS .clr-btn {
        margin-top: 0.75rem !important;
    }
    
    
    .THIS .last-align ,.THIS .begin-align, .THIS .input-align{
        width:auto;
    }
    .THIS .input-align{
        margin-right:4em;
        width:40%;
    }
    .THIS .go-btn , .THIS .clr-btn{
        margin-top:.75rem !important;
    }
    .THIS .uiInputSelect .uiMenuList{
        flex-wrap:wrap;
    }
    .THIS .search-align{
        width: 100%;
    }
    
    .slds-section.ipadbottom.THIS{
        padding-bottom: 50px !important;
    }
    .THIS .prev-btn{
        margin:0;
        padding-bottom:0px;
    }
    .THIS .go-btn{
        margin-left:auto;
    }
    .THIS .foot-pagination .slds-card__footer{
        padding-right: 0;
    }
}
.THIS .spinner-md-d{
    position: fixed;
}

@media (min-width: 320px) and (max-width: 767px){
    .THIS .top-pagination .cPagination{
        padding-bottom: 0;
        padding-right: 0;
    }
    .THIS .ip-pad{
        padding-bottom: 50px;
    }
    .THIS .slds-card__footer{
        padding-bottom:0px;
    }    
}
@media (max-width: 575px){
    .THIS .top-pagination{
        margin-top: 0.55rem;
    }
    .THIS .top-pagination .slds-card__footer{
        padding-top: 0;
    }
    .THIS .top-pagination .slds-card__footer .uiButton{
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .THIS .data-table thead th:first-child, .THIS .data-table tbody th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead th:last-child, .THIS .data-table tbody th:last-child {
        padding-right: 1rem;
    }
}
/*
* Go Clear Buttons UI fix in Mobile devices - END
*/