.THIS a.accordion-link, .THIS button.accordion-link {
    cursor: default;
}
.THIS button.accordion-link:focus {
    text-decoration: none;
}
@media (min-width: 320px) and (max-width: 767px){
    .THIS .slds-section.slds-is-open.cClientSurveyResults{
        padding-bottom: 55px !important;
    }    
}
@media (min-width: 768px) and (max-width: 991px){
    .THIS .slds-section.slds-is-open.cClientSurveyResults{
        padding-bottom: 55px !important;
    }        
}
@media (max-width: 1199px){
	.THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks{
      pointer-events: none;
    }
}
@media (max-width: 767.98px) {
    .THIS.slds-section {
        margin: -1rem;
    }
    .THIS.slds-section .slds-card {
        border-radius: 0;
        border: none;
    }
}
@media (max-width: 991.98px) {
    .THIS .data-table thead tr th,
    .THIS .data-table tbody tr th,
    .THIS .data-table tbody tr td {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (min-width: 992px) {
    .THIS .data-table thead tr th:first-child,
    .THIS .data-table tbody tr th:first-child {
        padding-left: 1rem;
    }
    .THIS .data-table thead tr th:last-child,
    .THIS .data-table tbody tr th:last-child {
        padding-right: 1rem;
    }
}