.custom-container{
	color : black;
}

.main-heading{
    font-size: 18px;
    background-color: #9cb3dd;
    text-align: center;
    border-radius: 3px;
}

.sub-heading{
    font-size: 13px;
    /* background-color: rgb(205, 221, 250); */
    background-color: #9cb3dd;
    border-radius: 2px;
}

.modal-warning{
    color: #181818;
    background-color: #ff9339;
}

.border-bottom{
    border-bottom: 1px solid hsla(219, 64%, 82%, 0.79);
}

.border-top{
    border-top: 1px solid hsla(219, 64%, 82%, 0.79);
}

.table-text{
    text-align: right;
}

.text-area{
    --sds-c-textarea-sizing-min-height:72px;
}

.counter-background{
    color: rgba(0, 89, 255, 0.605);
}


.payment-integrity-styles td, .payment-integrity-styles th{
padding: 0.5rem 0.5rem 0.5rem 0;
}