.THIS .display{
    display:none;
}
.THIS .fontWeight{
    font-weight: bold;
}
.THIS .displayBlock{
    display:block;
}
.THIS .dropDownColor{
    fill:currentColor;
}
.THIS .borderRemove {
    border:none;
    width: 100%;
}
.THIS .slds-truncate{
    white-space: normal;
}
.THIS .bold{
    font-weight: bold;
}
.THIS .slds-card__header {
    padding-top: 8px;
    margin-bottom: .2rem;
}

.THIS .slds-box {
    padding: 0rem;
    height: 50px;
}

.THIS .slds-box {
    border: 0px solid rgb(216, 221, 230);
}

.THIS .slds-section.slds-is-open .slds-section__content {
    padding-top: 0;
}
.THIS .slds-button:focus {
   box-shadow: 0 0 0px #0070d2;
}
.THIS .slds-card__header {
    padding-top: 0.20rem;
    margin-bottom: 0.20rem;
}
.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}
.THIS .tooltip-container > div{
    padding-left: 0 !important;
}
.THIS .help-tooltip:after{
    content:'';
    position: absolute;
    right: -16px;
    border-width: 8px;
    border-color: transparent transparent transparent #16325c;
    border-style: solid;
    top: 50%;
    transform: translate(0, -50%);
}
.THIS .flex-alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.THIS .help-tooltip{
    width: 10rem;
    right: 2em;
}

.THIS .leftPadding > th{
/*	padding-left: 25px;   */
}

.THIS .leftPadding > th >input{
    text-align: right;
}

.THIS .toggle {
    display: none;
}
.THIS .textboxWidth {
    background: rgb(224, 229, 238);
    display: inline-flex;
    width: 120px;
    padding: .25rem;
    justify-content: flex-end;
    align-items: center;
    height: 35px;
    vertical-align: middle;
}

.THIS .borderLeft > th {
	border-left: 1px solid rgb(216, 221, 230);
}
.THIS .align-center{
    text-align: center;
}
.THIS .medical-mem-history tr th{
    padding: 0.7rem;
    white-space: normal;
    line-height: 20px;
}
.THIS .medical-mem-history tr th:first-child{
    border-left: 1px solid #e2e2e2;
}
.THIS .medical-mem-history tr th:last-child{
    border-right: 1px solid #e2e2e2;
}

.THIS .policyRevenueTable{
	border-bottom: 0px solid rgb(216, 221, 230) !important;    
}

@media (min-width: 1200px){
    .THIS .medi-memHist-tab{
        padding-left: 89px;
    	padding-right: 89px;
    }
}
@media (min-width: 320px) and (max-width: 575px){
    .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 50px !important;
    }
    .THIS .table-input--resp tr th {
    	padding-left: 12px;
    }
    .THIS .textboxWidth {
        width: 100%;
    }
    .THIS .medi-memHist-tab{
        padding-left: 0;
        padding-right: 0;
    }
	.THIS .medical-mem-history th {
        text-align: right !important;
	}
}

@media (min-width: 576px) and (max-width: 991px){
    .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    }
    .THIS .table-input--resp tr th {
    	padding-left: 12px;
    }
    .THIS .textboxWidth {
        width: 100%;
    }
    .THIS .medi-memHist-tab{
        padding-left: 0;
        padding-right: 0;
    }
	.THIS .medical-mem-history th {
        text-align: right !important;
    }
}
@media (max-width: 991px){
    .THIS .AlignDataItems th:before{
        text-align: left;
    }
}
.THIS .d-inline-block{
   display: inline-block;
    max-width: 100%;
}
.THIS .hide {
    display: none;
}
.THIS .dotsSpinnerContainer{
    z-index: 9052;
}
@media (max-device-width: 1199px){
    .THIS .action-bar-mobile{
        display: none;
    }
}
@media (max-device-width: 1199px){
	.THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks {
      pointer-events: none;
    }
    .THIS .iosBottom{
        bottom: 65px;
        position: fixed;
    }
	.slds-section.ipadBottomIos.slds-is-open.THIS{
        padding-bottom: 125px !important;
    }
	.THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
	.THIS .save-cancel-bg .action{
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }    
    .THIS .save-cancel-bg .action:first-child{
        justify-content: flex-end;
    }
    .THIS .save-cancel-bg .action:last-child{
        justify-content: flex-start;
    }
	 .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    } 
    .THIS .cScroll-table{
        height: 100vh;
        padding-bottom: 180px;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .THIS .cScroll-table > *:not(.slds-card__header){
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
    }
    .THIS .actionButtons{
        left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .THIS .sortEdit .actionButtonsWrapper{
        justify-content: center;
    }
    .THIS .sortEdit .actionButtonsWrapper > div.action{
        flex: 0 0 25%;
        max-width: 25%;
    }    
    
}
.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}