.THIS .desc {
    border-bottom: 1px solid #dddbda;
}
.THIS .total-member label {
    font-size: 0.90rem;
    font-weight: 600;
}
.THIS .table-cust thead th, .THIS .table-cust tbody th, .THIS .table-cust tbody td, .THIS .tfoot-total td{
    padding: 0.55rem 0.5rem;
}
.THIS .table-cust thead th:first-child, .THIS .table-cust tbody th:first-child, .THIS .table-cust .tfoot-total td:first-child, .THIS .table-cust .tfoot-total th:first-child{
    padding-left: 1rem;
}
.THIS .table-cust thead th:last-child, .THIS .table-cust tbody td:last-child, .THIS .table-cust .tfoot-total td:last-child, .THIS .table-cust .tfoot-total th:last-child{
    padding-right: 1rem;
}
.THIS .table-cust thead th {
    font-weight: 600;
    font-size: 0.75rem;
    white-space: pre-line;
}
.THIS .no-records{
    font-size: 0.85rem;
}
.THIS .tfoot-total td, .THIS .tfoot-total, .THIS .desc{
    background: #fafaf9;
}
.THIS h4.sub-title {
    font-size: 0.95rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    border: none;
}
.THIS span.mebersInvolvedText {
    font-size: 0.75rem;
    background-color: yellow;
    font-weight: bold;
}
.THIS .helptext.show-md-up, .THIS .helptext.show-md-down{
    margin-top: -2px;
}
.THIS .tooltip-container .help-tooltip{
    left: calc(100% + 12px);
    width: 20rem;
}
.THIS .tooltip-container .slds-form-element__icon {
    padding-top: 0;
}
.THIS .tooltip-container .slds-button {
    margin: 0;
    margin-top: -2px;
}
@media (min-width: 992px){
    .THIS .table-cust tfoot tr > *{        
    	border-bottom: 1px solid rgb(221, 219, 218);        
        border-top: 1px solid rgb(221, 219, 218);
    }
    
}
@media (min-width: 64rem){
    .THIS .total-data {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}