.THIS .leftPaddingClass {
    padding-left: -3rem;
}
 
.THIS .pillSize{
 width:100%;
}

.THIS .sp2 label{
    display : none!important;
}

.THIS input[type=number]::-webkit-inner-spin-button,
.THIS input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}