.THIS .alignheader{
    text-align:center;
    align-items: center;
}

.THIS .alignBghName{
    margin-top: -2px;
    margin-left: 5px;
}

.THIS .bghPopupDataAlign{
    display: flex;
    flex-wrap: wrap;
}
.THIS .BGHCheckboxAlign tbody{
    flex-wrap: wrap;
}
.THIS .BGHCheckboxAlign tbody td{
    flex: 1 0 25%;
    max-width: 25%;
    white-space: pre-line;
}
.THIS .BGHCheckboxAlign tbody td .alignBghName{
    max-width: 95%;
}
.THIS .bghPopupDataAlign .slds-form-element{
    width:24%;
}
.THIS .NoRecordAlign{
    width: 100%;
    display: block;
}
@media (min-width: 992px) and (max-width: 1199px){
    .cBGH_Modal .bghPopupDataAlign .slds-form-element{
        width: 32%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .THIS.slds-section.ipadbottom.slds-is-open{
        padding-bottom: 55px !important;
    }
    .cBGH_Modal .bghPopupDataAlign .slds-form-element{
        width: 48%;
    }
    .cBGH_Modal .alignheader{
        text-align:left;
    }
    .THIS .BGHCheckboxAlign tbody td{
        flex: 1 0 calc( 100% / 3);
        max-width: 33.33%;
    }
}
@media (min-width: 320px) and (max-width: 767px){
    .cBGH_Modal .bghPopupDataAlign .slds-form-element{
        width: 100%;
    }
    .THIS .slds-form--inline .slds-form-element__label{
        display: inline-block;
    }
    .cBGH_Modal .alignheader{
        text-align:left;
    }
    .THIS.slds-section.ipadbottom.slds-is-open{
        padding-bottom: 55px !important;
    }
    .THIS .NoRecordAlign{
        white-space: normal !important;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .THIS .BGHCheckboxAlign tbody td{
        display : block;
    }
}
@media (max-width: 767px){
    .THIS .BGHCheckboxAlign tbody td{
        flex: 1 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 575px){
    .THIS .BGHCheckboxAlign tbody td{
        flex: 1 0 100%;
        max-width: 100%;
    }
}