.THIS.z-9052{
    z-index: 9052;
}
.THIS.z-9051{
    z-index: 9051;
}
.THIS .form-btn{
    min-height: calc(2.125rem + 2px);
}
.THIS.modal-body-padded{
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
}
.THIS .help-list{
    list-style: lower-roman;
}
.THIS .tab_nav .slds-tabs_default__item.slds-is-active, .THIS .tab_nav .slds-tabs_default__item.slds-is-active:hover  {
    /*background: #007add;*/
    /*color: #fff;*/
}
.THIS .tab_nav .slds-tabs--default__item.slds-is-active:after, .THIS .tab_nav .slds-tabs_default__item.slds-is-active:hover:after {
    background-color: #182337;
}
.THIS .tab_nav .slds-tabs_default__item.slds-is-active .slds-tabs_default__link:hover,
.THIS .tab_nav .slds-tabs_default__item.slds-is-active .slds-tabs_default__link:focus {
    /*color: #fff;*/
}
.THIS .tab_nav .slds-tabs_default__item:hover {
    background: #fafaf9;
}
.THIS .tab_nav .slds-tabs_default__item:hover:after {
    background: #182337;
}
.THIS .tab_nav .slds-tabs_default__item .slds-tabs_default__link:hover {
    color: #182337;   
}
.THIS .input-container .uiInput--input.input, .THIS .input-container .uiInput--select.select:not([multiple]) {
    min-height: calc(1.875rem + (1px * 2));
}
.THIS .help-text {
    background: #FFEA00;
    color: #0c0c0c;
}
@media (max-width: 575px){
    .THIS .tab-list ul li.slds-tabs_default__item{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .THIS .search-product .search-pdt-wrapper{
        padding: 1rem;
    }
    .THIS .search-product .search-pdt-wrapper .input-container{
        padding: 0 0 0.5rem;
    }
    .THIS .search-product .input-container .uiInput--input{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }    
    .THIS .modal-body-padded{
        margin-left: 0rem;
        margin-right: 0rem;
    }
}
.THIS .modal-body-padded{
    margin-left: -1rem;
    margin-right: -1rem;
}
.THIS .hidden-xs-up{
    display: none;
}
.THIS .form-btn{
    min-height: calc(2.125rem + 2px);
}
@media (max-width: 575px){
    .THIS .tab-list ul li.slds-tabs_default__item{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .THIS .hidden-xs-up{
        display: block;
    }
    .THIS .xs-title{
        border-bottom: 1px solid #e2e2e2;
    }
    .THIS .xs-title h1{
        font-size: 1.25rem;
        font-weight: 600;
        color: rgb(6, 28, 63);
    }
}
@media (max-width: 767px){
    .THIS .search-product .search-pdt-wrapper{
        padding: 1rem;
    }
    .THIS .search-product .search-pdt-wrapper .input-container{
        padding: 0 0 0.5rem;
    }         
    .THIS .uiInput--checkbox input,.THIS input.uiInput--checkbox{
        top: 2.25rem!important;
    }
}
@media (min-width: 768px) and (max-width: 991.88px){
    .THIS .modal-body-padded{
        margin-left: 0rem;
        margin-right: 0rem;
    }
    /*.THIS .search-product .input-container .uiInput--input{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    } PME */ 
    .THIS .input-container:nth-child(2) {
        padding-right: 0;
    }
    .THIS .input-container {
        margin-bottom: 0.85rem;
    }
}
@media (min-width: 992px){
    .THIS .selected-pill {
        max-height: 55px;
    }
    .THIS .product-table thead tr th div.slds-cell-fixed, .THIS .product-table tbody tr td{
        padding: .5rem .5rem;
    }
    .THIS .product-table thead tr th div.slds-cell-fixed {        		
        text-transform: uppercase;
        font-size: .75rem;
        background-color: rgb(250, 250, 249);        
        color: rgb(53, 53, 53);
        padding: .5rem;
        font-weight: 600;
    }
    .THIS .product-table thead tr th:first-of-type div.slds-cell-fixed, .THIS .product-table tbody tr td:first-of-type,
    .THIS .product-table tbody tr th:first-of-type {
        padding-left: 1.75rem;
    }
    .THIS .selected-pill{
        min-height: 0;
    }
    .THIS .modal-content .slds-card__footer{
        width: 100%;
        display: flex;
        border-top: 1px solid #dddbda !important;
        justify-content: flex-end;
    }
    /*.THIS .product-table .slds-scrollable.slds-grow{
        height: 42vh;
    }*/
    .THIS.modal-footer{
        border-top: 1px solid rgb(221, 219, 218);
        margin-left: -1rem;
        margin-right: -1rem;
        margin-bottom: -1rem;
        background: #f3f2f2;
    }
    /*.THIS .tab-list ul.slds-tabs_default__nav li:first-child{
        padding-left: 1.75rem;
    }*/
    .THIS .product-table .slds-table--header-fixed_container {
        height: 31vh;
    }
    .THIS .product-table .slds-table--header-fixed_container.slds-inst {
        height: 30vh;
    }
    .THIS .tab-list ul.slds-tabs_default__nav li:first-child{
        padding-left: 1.45rem;
    }    
}
.THIS.modal-footer > div.slds-card__footer {
    padding-left: 0;
    padding-right: 0;
}
.THIS .uiInput--checkbox input,.THIS input.uiInput--checkbox{
    position: absolute;
    top: 0.5rem;
    left: 1.75rem;
    opacity: 0;
    z-index: 1000;
    width: 2rem;
    height: 2rem;
}
/*.THIS .slds-table th,.THIS .slds-table td{
    padding: .5rem .5rem .5rem 1.75rem;
}*/
.THIS .boldClass{
    font-weight : bold;
}
.THIS .slds-pill_container_bare{
    flex-wrap: wrap;
}