.slds-accordion__section, .slds-accordion__summary{
    padding: 0.6rem 0.8rem;
}

p{
    min-height:25px;
}

.conLen{
    max-width: 99%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: break-spaces;
    max-height: 40px;
    word-break: break-all;
}

.slds-table{
    line-height: 20px;
}

.comma-separated-list {
    display: flex;
}

.comma-separated-list span::after {
    content: ', ';
}

.comma-separated-list span:last-child::after {
    content: '';
}