.THIS .alert-zi{
    z-index: 9004;
}
.THIS .alert-zi-bd{
    z-index: 9001;
}

.THIS .headerHeight{
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 3px;
}

.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}

.THIS .toggle {
    display: none;
}

.THIS .show_full_list_align{
    float: right;
    padding-right: 20px;
}

.THIS .show-full-list{
    display: block;
    float: left;
    margin-top: 5px;
}

.THIS .flex-alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS .slds-truncate{
    white-space: normal;
    word-break: break-word;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .THIS .buttonShadowBorder{
        box-shadow:0px 0px 1px #0070d2 !important;
    }
}
@media (min-device-width: 320px) and (max-device-width: 1199px) {    
	.slds-section.ipadbottom.slds-is-open.cConsultant_History{
        padding-bottom: 70px !important;
    }
}

@media (min-device-width: 1200px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
    
    .THIS .widthForDesktop{        
        max-device-width: 20px;
        -webkit-box-flex: 0;
        -webkit-flex: 0;
    }
}
@media (min-device-width: 992px){    
    .THIS .sorting-in-mobile{
        display: none;
    }
}
.THIS .flex-auto{
    flex: 1 0 auto;
}
.THIS .d-inline-block{
   display: inline-block;
    max-device-width: 100%;
    margin:0px;
}

.THIS .show-md-down{
    display: none;
}
.THIS .show-md-up{
    display: block;
}
.THIS .helptext.show-md-up, .THIS .helptext.show-md-down{
    margin-top: -2px;
}
.THIS .help-tooltip{
    left: calc(100% + 6px);
}
.THIS .help-tooltip:after, .THIS .help-tooltip:before{
    width: 0.8rem;
    height: 0.8rem;
    left: -0.4rem;
}


@media (min-device-width: 320px) and (max-device-width: 767px){
    
    .THIS .cuf-scroller-inside{
        padding: 0 !important;
    }  
    .THIS .appletAddBtn{
        display: flex;
        align-items: center;
        flex: 0 1 auto;
        padding-right: 0;
        margin-left:auto;
    }
    .THIS .appletAddBtn .uiButton, .THIS .appletAddBtn .button-icon{
        padding: 0 0.5rem;        
        border: none;
    }
    .THIS .appletAddBtn .uiButton:hover, .THIS .appletAddBtn .uiButton:focus, .THIS .appletAddBtn .button-icon:hover, .THIS .appletAddBtn .button-icon:focus{
        background: transparent;
    }
    .THIS .appletAddBtn .uiButton .slds-icon-text-default, .THIS .appletAddBtn .button-icon .slds-icon-text-default{
        fill: rgb(0, 112, 210);
    }
   
    .THIS .ui-m-btn button, .THIS .ui-m-btn button.uiButton{
        padding: 0.3rem 0.65rem;
    }
    .THIS .ui-m-btn button svg, .THIS .ui-m-btn button.uiButton svg{
       width: 20px;
    }
    .THIS .ui-m-btn button[disabled] svg, .THIS .ui-m-btn button.uiButton[disabled] svg{
       opacity: 0.5;
    }
    .THIS .ui-m-btn-group button, .THIS .ui-m-btn button.uiButton{
        border-radius: 0;
        margin-left: 0;
    }
    .THIS .ui-m-btn-group button:not(:first-child), .THIS .ui-m-btn button.uiButton:not(:first-child){
        border-left: 0px;
    }
    .THIS .ui-m-btn-group button:first-child, .THIS .ui-m-btn button.uiButton:first-child{
        border-radius: 0.25rem 0 0 0.25rem;
    }
    .THIS .ui-m-btn-group button:last-child, .THIS .ui-m-btn button.uiButton:last-child{
        border-radius: 0 0.25rem 0.25rem 0;
    }
}

@media (max-device-width: 1199px){
     .THIS .help-tooltip{
        left: initial;
        right: calc(100% + 3px);
        -webkit-transform: translate(0, -18%);
        -ms-transform: translate(0, -18%);
        transform: translate(0, -18%);
    }
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: -0.4rem;
        top: 22%;
    }
}

@media (min-device-width: 320px) and (max-device-width: 767px){
    
    .THIS .help-tooltip{
        left: initial;
        right: calc(100% + 3px);
        -webkit-transform: translate(0, -18%);
        -ms-transform: translate(0, -18%);
        transform: translate(0, -18%);
    }
    .THIS .help-tooltip:after, .THIS .help-tooltip:before{
        left: initial;
        right: -.4rem;
        top: 22%;
    }    
    
}
@media (max-device-width: 1199px){
	.THIS .action-bar-mobile{
        display: none;
    }
    .THIS .avoid-clicks {
      pointer-events: none;
    }
    .THIS .iosBottom{
        bottom: 65px;
        position: fixed;
    }
	.slds-section.ipadBottomIos.slds-is-open.THIS{
        padding-bottom: 125px !important;
    }
	.THIS .no-wrap-in-mobile {
        word-wrap: normal;
    }
	.THIS .save-cancel-bg .action{
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }    
    .THIS .save-cancel-bg .action:first-child{
        justify-content: flex-end;
    }
    .THIS .save-cancel-bg .action:last-child{
        justify-content: flex-start;
    }
	 .slds-section.ipadbottom.slds-is-open.THIS{
        padding-bottom: 55px !important;
    } 
    .THIS .cScroll-table{
        height: 100vh;
        padding-bottom: 180px;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .THIS .cScroll-table > *:not(.slds-card__header){
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
    }
    .THIS .actionButtons{
        left: 0;
    }
}

.THIS .hide {
    display: none;
}

.THIS .dotsSpinnerContainer{
    z-index: 9052;
}

.THIS .slds-button:focus {
	box-shadow: none;
}
@media (max-device-width: 1199px){
    
    .THIS .deviceToastMessage{
        min-device-width: auto;
        padding: 5px;
        padding-right: 50px;
    }
    
    .THIS .show-md-down{
        display: block;
    }
    .THIS .show-md-up{
        display: none;
    }
}
@media (min-device-width: 768px) and (max-device-width: 1199px){
    .THIS .helptext.show-md-down{
        justify-content: flex-end;
            padding-right: 0;        
    }
    .THIS .appletAddBtn{
       flex: 0 0 auto;
    }
    
    .THIS .appletHeader{
        justify-content: space-between;
    }
}

.THIS {
}
.THIS .wk_warning {
    background : #FFB75D !important;
}
.THIS .wk_success {
    background : #04844B !important;
}
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){
    .THIS .sortEdit .actionButtonsWrapper{
        justify-content: center;
    }
    .THIS .sortEdit .actionButtonsWrapper > div.action{
        flex: 0 0 25%;
        max-device-width: 25%;
    }    
    
}
.THIS .slds-card_boundary div.slds-card__header.appletHeader{
    padding: 0.5rem 0.8rem;
}
.THIS .uiInput--input .input[disabled] {
    background-color: white;
}